{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}


{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    {% if servicio is not defined %}

        Registrar Tipo de Tratamiento
    {% else %}
        Editar Tipo de Tratamiento
    {% endif %}
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos del Tipo de servicio</h2>

                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    {{ form_start(form) }}

                    <div class="col-md-12">
                        <div class="form group">
                            {{ form_label(form.nombre, 'Nombre del servicio') }}
                            {{ form_widget(form.nombre, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.nombre) }}
                        </div>
                    </div>



                    <div class="col-md-12">
                        <div class="form group">
                            {{ form_label(form.descripcion, 'Descripción del servicio:') }}
                            {{ form_widget(form.descripcion, { 'attr':{ 'class': 'form-control', 'tabindex':'3', 'rows':'8' } }) }}
                            {{ form_errors(form.descripcion) }}
                        </div>


                    </div>
                    <div class="col-md-12">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar'}) }}
                        <a href="{{ path('listar_tipotratamientos') }}" class="btn btn-danger">Cancelar</a>


                    </div>

                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>






    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}