{# creado por Duviel Garcia #}

{% extends 'app/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header_template %}
    
    <div class="">
        <div class="page-title" >
            <div class="col-md-5 col-sm-12 col-xs-12 " >
            <div class="title_left " style="width:100% !important;">
                <h3>{% block page_title %}{% endblock %}</h3>
            </div>
            </div>


            {% block searchbar %}
                <div class="title_right" style="text-align:center;">
                    <div class="col-md-7 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block page_content %}{% endblock %}
{% block flashBag %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            {% if type == 'success-save' %}
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>{{ message }}</strong>
                </div>
            {% elseif type == 'success_update' %}
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>{{ message }}</strong>
                </div>
            {% elseif type == 'success_delete' %}
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>{{ message }}</strong>
                </div>
            {% else %}

            {% endif %}
        {% endfor %}
    {% endfor %}


{% endblock %}

{% block javascripts %}{% endblock %}