{% if app.user == false %}
    <style>
        .vertical-center {
          min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
          min-height: 100vh; /* These two lines are counted as one :-)       */

          display: flex;
          align-items: center;
          text-align:center;
        }
    </style>
    <div class="row vertical-center">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Acceso Denegado</h3>
                </div>
                <div class="panel-body" >
                    No tienes permisos para acceder a este recurso
                    <br>
                    <br>
                    <a href="/" class="btn btn-success ">Regresar</a>
                </div>
            </div>
        </div>
    </div>

    {{ render(controller('AppBundle:User:exit')) }}


    
{% endif %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titlePage %} {% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap -->
        {#<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}">#}
        <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}">

        <link rel="stylesheet" href="{{ asset('assets/vendors/nprogress/nprogress.js') }}">

        <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css" ')}}">

        <link href="{{ asset('assets/vendors/jqvmap/dist/jqvmap.min.css" ')}}"/>

        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/build/css/bootstrap-datetimepicker.min.css') }}">




    {% endblock %}

    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {% if is_granted('ROLE_CAFE') %}
                {% include ':app:cafeteria/sidebar.html.twig' %}
            {% elseif is_granted('ROLE_RECEPCION') %}
                {% include ':app:recepcion/sidebar.html.twig' %}
            {% elseif is_granted('ROLE_AFILIACION') %}
                {% include ':app:afiliacion/sidebar.html.twig' %}
            {% elseif is_granted('ROLE_MEDIC') %}
                {% include ':app:medic/sidebar.html.twig' %}
            {% elseif is_granted('ROLE_FISIOTERAPY') %}
                {% include ':app:fisioterapia/sidebar.html.twig' %}
            {% else %}
                {% include ':app:sidebar.html.twig' %}
            {% endif %}
            {% include ':app:topnav.html.twig' %}



            <div class="right_col" role="main">
                {% block header_template %}{% endblock %}

                {% block page_content %}{% endblock %}
            </div>

            {% include ':app:footer.html.twig' %}

        </div>
    </div>



    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <!-- Chart.js -->
    <script src="{{ asset('assets/vendors/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- gauge.js -->
    <script src="{{ asset('assets/vendors/gauge.js/dist/gauge.min.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ asset('assets/vendors/skycons/skycons.js') }}"></script>
    <!-- Flot -->
    <script src="{{ asset('assets/vendors/Flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('assets/vendors/Flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('assets/vendors/Flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('assets/vendors/Flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ asset('assets/vendors/Flot/jquery.flot.resize.js') }}"></script>
    <!-- Flot plugins -->
    <script src="{{ asset('assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ asset('assets/vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/flot.curvedlines/curvedLines.js') }}"></script>
    <!-- DateJS -->
    <script src="{{ asset('assets/vendors/DateJS/build/date.js') }}"></script>
    <!-- JQVMap -->
    <script src="{{ asset('assets/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
    <script src="{{ asset('assets/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
    <script src="{{ asset('assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('assets/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('build/js/custom.min.js') }}"></script>

    {#<script src="{{ asset('assets/js/jquery-ui.js') }}"></script>#}

    {# datetime picker function and momento for locale traslations#}
    <script src="{{ asset('assets/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('assets/build/js/moment.min.js') }}"></script>

    {% block jasvascripts %}{% endblock %}






</body>
</html>


