<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            font-family: Arial;
        }
        .estados tr td:first-child + td {
            border-bottom: thin solid #000;
            margin-bottom: 5px;
            padding-top: 10px;
        }
        input[type='checkbox'] {
            border: thin solid #212121;
            outline: 0px solid #000;
        }
    </style>
</head>
<body>

<table  width="942px">

{% if rootDir is defined %}
    <tr>
        <td width="70%" rowspan="2" >
            <img src="{{ rootDir ~ '/web' ~ asset('img/nlogo.png') }}" width="300px" alt="">
        </td>


{% else %}
    <tr  >
        <td width="700px" rowspan="2">
            <img src="{{ asset('img/nlogo.png') }}" width="300px" alt="">
        </td>

{% endif %}

        <td><strong>Afiliacion N°</strong></td>
        <td>{{ afiliado.id }}</td>


    </tr>
    <tr>
        <td> <strong> Fecha afiliación:</strong></td>
        <td>{{ afiliado.fecha|date('y:m:d') }}</td>
    </tr>

</table>
<table width="942px">
    <tr>
        <td>
            <hr></td>
    </tr>
</table>
<br>
<table width="942px" >
    <tr>
        <td style="text-align: center" colspan="5"><h2>Soporte de afiliación</h2>
        </td>
    </tr>
    <tr>
        <th style="background: rgba(0,0,0,0.12);padding:10px;" colspan="5">  Datos del Afiliado</th>
    </tr>
    <tr>
        <td colspan="5"><br></td>
    </tr>
    <tr>
        <td> <strong> Tipo de documento:</strong></td>
        <td><strong>Numero #</strong></td>
        <td><strong>Nombre:</strong></td>
        <td><strong>Apellidos:</strong></td>
        <td><strong>Telefono:</strong></td>
    </tr>
    <tr>
        <td>
            {% set tipodoc = afiliado.tipoDocumento %}
            {% if afiliado.tipoDocumento == 'RC' %}
                Registro Civil
            {% elseif afiliado.tipoDocumento == 'TI' %}
                Tarjeta de Identidad
            {% elseif afiliado.tipoDocumento == 'CC' %}
                Cedula de Ciudadania
            {% else %}
                Cedula de extranjeria
            {% endif %}
        </td>
        <td>
            {{ afiliado.ndocumento }}
        </td>
        <td>
            {{ afiliado.nombre  }}
        </td>
        <td>{{ afiliado.apellidos }}</td>
        <td>{{ afiliado.telefono }}</td>

    </tr>
    <tr>
        <td colspan="5"><br></td>
    </tr>
    <tr>
        <td><strong>Email:</strong></td>
        <td><strong>Dirección:</strong></td>
        <td><strong>Departamento:</strong></td>
        <td><strong>Municipio:</strong></td>
    </tr>

    <tr>
        <td>{{ afiliado.email }}</td>
        <td>{{ afiliado.direccion }}</td>
        <td>{{ afiliado.municipio.departamento.nombre }}</td>
        <td>{{ afiliado.municipio.nombre }}</td>
    </tr>


</table>
<br>
<table width="946px">
    <tr style="background: rgba(0,0,0,0.12); text-align: center">
        <td style="padding:10px;">
            <strong>Plan seleccionado:</strong>
        </td>
        <td >
            <strong>Precio:</strong>
        </td>
    </tr>
    <tr style="text-align: center">
        <td style="padding:10px;">
            {{ afiliado.plan }}
        </td>
        <td>
            {% if afiliado.plan == "Tarjeta DIAMANTE" %}
                $300.000
            {% elseif afiliado.plan == "Tarjeta ORO" %}
                $150.000
            {% else %}
                $70.000
            {% endif %}
        </td>
    </tr>
    <tr style="background: rgba(0,0,0,0.12); text-align: center">
        <td colspan="2" style="padding:10px;">
            <strong>Beneficios para afiliados</strong>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: justify;" >
            <br>
            Ser Afiliado al Centro Integral de Estética y Cuidado Postquirúrgico Casa Mayorga es hacer parte de un selecto grupo de personas, que en calidad de clientes preferenciales gozan de interesantes derechos y beneficios. Este título lo podrá ostentar de manera voluntaria toda persona que, reúna los siguientes requisitos y procedimientos:
            Tramitar la solicitud de afiliación.
            Contar con algún medio de pago: tarjeta débito, crédito o libranza.
            Pagar la cuota mensual de afiliación lo cual le permitirá disfrutar de todos los servicios y productos del establecimiento hasta por el valor mensual de su afiliación.
            En caso de no hacer uso de los servicios de CASA MAYORGA podrá acumular el valor no consumido solo   por tres (3) meses y redimido en cualquiera de nuestros productos o servicios, previa notificación por el usuario y verificación en el establecimiento comercial. No incluye ninguna cláusula de permanencia.
            <br><br>
        </td>
    </tr>
    <tr style="background: rgba(0,0,0,0.12); text-align: center">
        <td colspan="2" style="padding:10px;">
            <strong>Beneficios adicionales</strong>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: justify;" >
            <br>
            <br>
            5% descuento en consulta con Cirujano plástico
            <br>
            <br>
            5% descuento en productos y servicios Casa Mayorga
            <br>
            <br>
            5% descuento en consulta de seguimiento con médico nutricionista
            <br>
            <br>
            <strong>Promocionales:</strong>
             durante el mes del 5 al 30% de descuento en productos y servicios  a usuarios con tarjeta.
        </td>
    </tr>
</table>

</body>
</html>




