{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    {% if afiliado is not defined %}

        {% if tipo == "afiliado" %}
            Registrar Afiliado
        {% else  %}
            Registrar Paciente
        {% endif %}


    {% else %}
        {% if tipo == "afiliado" %}
            Editar Afiliado
        {% else  %}
            Editar Paciente
        {% endif %}

    {% endif %}
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">
                        {% if tipo == "afiliado" %}
                            Datos del Afiliado
                        {% else  %}
                            Datos del Paciente
                        {% endif %}
                    </h2>

                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    {{ form_start(form) }}

                    <div class="col-md-6 col-xs-12">

                        <div class="form group">
                            {{ form_label(form.tipoDocumento, 'Tipo de documento') }}
                            {{ form_widget(form.tipoDocumento, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.tipoDocumento) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.nombre, 'Nombre:') }}
                            {{ form_widget(form.nombre, { 'attr':{ 'class': 'form-control', 'tabindex':'3' } }) }}
                            {{ form_errors(form.nombre) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.fechaNacimiento, 'Fecha de Nacimiento') }}


                            <div class='input-group date' id='datetimepicker1'>
                                {{ form_widget(form.fechaNacimiento, {attr: {
                                    'data-format': "dd/MM/yyyy HH:mm",
                                    'class':'form-control',
                                    'tabindex':'5'},
                                }) }}
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            {{ form_errors(form.fechaNacimiento) }}
                        </div>



                        <div class="form group">
                            {{ form_label(form.sexo, 'Genero:') }}
                            {{ form_widget(form.sexo, { 'attr':{ 'class': 'form-control', 'tabindex':'7' } }) }}
                            {{ form_errors(form.sexo) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.departamento, 'Departameto:') }}
                            {{ form_widget(form.departamento, { 'attr':{ 'class': 'form-control', 'tabindex':'9' } }) }}
                            {{ form_errors(form.departamento) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.direccion, 'Dirección:') }}
                            {{ form_widget(form.direccion, { 'attr':{ 'class': 'form-control', 'tabindex':'11' } }) }}
                            {{ form_errors(form.direccion) }}
                        </div>

                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.ndocumento, 'Numero documento') }}
                            {{ form_widget(form.ndocumento, { 'attr':{ 'class': 'form-control', 'tabindex':'2' } }) }}
                            {{ form_errors(form.ndocumento) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.apellidos, 'Apellidos') }}
                            {{ form_widget(form.apellidos, { 'attr':{ 'class': 'form-control', 'tabindex':'4' } }) }}
                            {{ form_errors(form.apellidos) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.edad, 'Edad:') }}
                            {{ form_widget(form.edad, { 'attr':{ 'class': 'form-control', 'tabindex':'6' } }) }}
                            {{ form_errors(form.edad) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.email, 'Email:') }}
                            {{ form_widget(form.email, { 'attr':{ 'class': 'form-control', 'tabindex':'8' } }) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.municipio, 'Municipio:') }}
                            {{ form_widget(form.municipio, { 'attr':{ 'class': 'form-control', 'tabindex':'10' } }) }}
                            {{ form_errors(form.municipio) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.telefono, 'Telefono:') }}
                            {{ form_widget(form.telefono, { 'attr':{ 'class': 'form-control', 'tabindex':'12' } }) }}
                            {{ form_errors(form.telefono) }}
                        </div>


                    </div>


                        <div class="col-md-12 col-xs-12" {% if tipo != "afiliado" %} style="display:none;" {% endif %}>
                            <div class="form group">
                                {{ form_label(form.plan, 'Plan:') }}
                                {{ form_widget(form.plan, { 'attr':{ 'class': 'form-control', 'tabindex':'13' } }) }}
                                {{ form_errors(form.plan) }}
                            </div>
                        </div>





                    <div class="col-md-8 col-xs-11">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar'}) }}
                        {% if tipo == "afiliado" %}
                            <a href="{{ path('listar_afiliados') }}" class="btn btn-danger">Cancelar</a>
                        {% else  %}
                            <a href="{{ path('listar_afiliados', {'tipo':tipo}) }}" class="btn btn-danger">Cancelar</a>
                        {% endif %}



                    </div>
                    <div class="col-md-4 col-xs-1" style="opacity: 0;" >
                        <div class="form group">
                            {{ form_label(form.usuario, 'Usuario') }}
                            {{ form_widget(form.usuario, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.usuario) }}
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>




    <script type="text/javascript">

    </script>
<script>
    /*date time picker*/
    $(function () {
        $("#appbundle_afiliado_usuario").val({{ app.user.id }});


        var datetimepicker
        $('#datetimepicker1').datetimepicker({
            locale:'es'

        });
    });


    var $departamento = $('#appbundle_afiliado_departamento');




    $departamento.change(function(){

        var $form = $(this).closest('form');

        var data = {};
        data[$departamento.attr('name')] = $departamento.val();
        $('#appbundle_afiliado_municipio').attr('disabled','disabled');
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function(html){
                $('#appbundle_afiliado_municipio').removeAttr('disabled');
                $('#appbundle_afiliado_municipio').replaceWith(
                    $(html).find('#appbundle_afiliado_municipio')
                );
            }

        });
    });
</script>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}