{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}

    {% if afiliados is empty %}

        {% if tipo == "afiliado" %}
            Administrar Afiliados
        {% else  %}
            Administrar Pacientes
        {% endif %}


    {% else %}
        {% if tipo == "afiliado" %}
            Listado de Afiliados
        {% else  %}
            Listado de Pacientes
        {% endif %}
    {% endif %}

{% endblock %}
{% block searchbar %}

    <div class="col-md-4 col-xs-12 pull-right"  >
    <div style="text-align: right; width: 100%;" >
    <a href="{{ path('crear_afiliado') }}" class="btn btn-primary">
        {% if tipo == "afiliado" %}
            Registrar Afiliado
        {% else  %}
            Registrar Paciente
        {% endif %}
    </a></div>
    </div>
{% endblock %}
{# /override header block values #}

{% block page_content %}

    {% if afiliados is empty %}
    <div class="row">
        <div class="col-md-12">
            <div class="bs-example" data-example-id="simple-jumbotron">
                <div class="jumbotron">
                    <h1> <i class="fa fa-warning"></i> No hay afiliados registrados </h1>
                    <p>Registralo cundo sea necesario!</p>
                    <a href="{{ path('crear_afiliado') }}" class="btn btn-primary">Registrar Afiliado</a>

                </div>
            </div>
        </div>
    </div>

    {% else %}




        <table id="datatable" class="table table-striped table-bordered "  >
        <thead>
        <tr>
            <th>Numero Documento</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>email</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
        </thead>


        <tbody>
        {% for afiliado in afiliados %}

            <tr>
                <td>{{ afiliado.ndocumento }}</td>
                <td>{{ afiliado.nombre}}</td>
                <td>{{ afiliado.apellidos }}</td>
                <td>{{ afiliado.email }}</td>
                <td>{{ afiliado.telefono }}</td>
                <td width="205px">

                    {% if tipo == "afiliado" %}
                        <a href="{{ url('editar_afiliado',{'id': afiliado.id}) }}" class="btn btn-success btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i> Editar
                        </a>
                    {% else  %}
                        <a href="{{ url('editar_afiliado',{'id': afiliado.id, 'tipo':tipo}) }}" class="btn btn-success btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i> Editar
                        </a>
                    {% endif %}


                    <button href="" class="btn btn-danger btn-xs"
                            onclick="eliminarRecord({{ afiliado.id }})" data-href="/delete.php?id=54"
                            data-toggle="modal" data-target="#confirm-delete" >
                        <i class="glyphicon glyphicon-trash"></i> Eliminar</button>
                    {% if tipo == "afiliado" %}
                    <a href="{{ url('imprimir_afiliado',{'id': afiliado.id}) }}" class="btn btn-danger btn-xs">
                        <i class="glyphicon glyphicon-save-file"></i> PDF
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>




   {% endif %}
    <style>
        .modal-header-danger
        {
            background: #de4c36;
            color: #FFF;
        }
    </style>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">

                <div class="modal-header modal-header-danger ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Registro?</h4>
                </div>

                <div class="modal-body">
                    <p class="content_delete"></p>
                    <p>Estas seguro de proceder?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger btn-ok" id="deleteRecord">Eliminar</a>
                </div>
            </div>
        </div>
    </div>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}


    <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('js/datatablecs.js') }}"></script>
    <script>
        var idAfiliado = '';

        //scritps to delete record of table
        function eliminarRecord(id){


            $('.content_delete').html('Seguro que desea eliminar el registro ID #'+id);
            $('.delete_item').html(id);
            idAfiliado = id;
        }

        $("#deleteRecord").click(function(){
            var url = "{{ url('eliminar_afiliado',{'id': 'idAfiliado'}) }}";
            url = url.replace('idAfiliado', idAfiliado);
            $(window.location).attr('href', url);

        });




        /*+' id: '+id +'<br>'
        +' Nombre: '+nombre+'<br>'
        +' Apellidos: '+apellidos+'<br>'
        +' Correo: '+correo+'<br*/
    </script>


{% endblock %}


