<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            font-family: Arial;
        }
        .estados tr td:first-child + td {
            border-bottom: thin solid #000;
            margin-bottom: 5px;
            padding-top: 10px;
        }
        input[type='checkbox'] {
            border: thin solid #212121;
            outline: 0px solid #000;
        }
    </style>
</head>
<body>

    <table  width="942px">

    {% if rootDir is defined %}
        <tr>
            <td width="70%" rowspan="2" >
                <img src="{{ rootDir ~ '/web' ~ asset('img/nlogo.png') }}" width="300px" alt="">
            </td>


    {% else %}
        <tr  >
            <td width="700px" rowspan="2">
                <img src="{{ asset('img/nlogo.png') }}" width="300px" alt="">
            </td>

    {% endif %}

            <td>Historia N°</td>
            <td>{{ historia.consecutivo }}</td>


        </tr>
        <tr>
            <td>Fecha</td>
            <td>{{ historia.fecha|date('y:m:d') }}</td>
        </tr>

    </table>
    <table width="942px">
        <tr>
            <td>
                <hr></td>
        </tr>
    </table>



    <table width="942px">
        <tr>
            <td>
                <h2>Paciente</h2>
            </td>
        </tr>
        <tr>
            <td><strong>Apellidos</strong></td>
            <td>{{ historia.paciente.apellidos }}</td>
            <td><strong>Nombres</strong></td>
            <td>{{ historia.paciente.nombre }}</td>
            <td><strong>CC</strong></td>
            <td>{{ historia.paciente.documento }}</td>




        </tr>
        <tr>
            <td><strong>Ocupación</strong></td>
            <td>{{ historia.paciente.ocupacion }}</td>
            <td><strong>Fecha Nacimiento</strong></td>
            <td>{{ historia.paciente.fechaNacimiento|date('d:m:y') }}</td>
            <td><strong>Telefono</strong></td>
            <td>{{ historia.paciente.telefono }}</td>


        </tr>
        <tr>
            <td><strong>Dirección</strong></td>
            <td>{{ historia.paciente.direccion }}</td>
            <td>Departamento:</td>
            <td>{{ historia.paciente.municipio.departamento.nombre }}</td>
            <td><strong>Municipio</strong></td>

            <td>{{ historia.paciente.municipio.nombre }}</td>
        </tr>
    </table>

    <table width="942px">
        <tr>
            <td><hr></td>
        </tr>
        <tr>
            <td>
                <strong>Motivo de la consulta</strong>
            </td>
        </tr>
        <tr>
            <td>
                {{ historia.motivoconsulta }}
            </td>
        </tr>
        <tr>
            <td><hr></td>
        </tr>
        <tr>
            <td>
                <strong>Enfermead Actual</strong>
            </td>
        </tr>
        <tr>
            <td>
                {{ historia.enfermedadactual }}
            </td>
        </tr>

    </table>
    <br>
<table width="942px" style="margin-top: 10px;">
    <tr >
        <td style="background: rgba(0,0,0,0.03);border-radius:10px;padding: 7px; text-align: center;
        border: thin solid rgba(0,0,0,0.24);">
            <strong>ANTECEDENTES</strong>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td><strong>Personales:</strong></td>
        <td>
            Alcohol:
            si <input type="checkbox"
                    {% if historia.antalcohol == 1 %}
                        checked
                    {% endif %}>
            No: <input type="checkbox"
                    {% if historia.antalcohol != 1 %}
                        checked
                    {% endif %}>
        </td>
        <td>
            Cigarrillos:
            si <input type="checkbox"
                    {% if historia.antcigarrillos == 1 %}
            checked
                    {% endif %}>
            No: <input type="checkbox"
                    {% if historia.antcigarrillos != 1 %}
            checked
                    {% endif %}>
        </td>
    </tr>
</table>
<table width="942px">
    <tr>
        <td width="80px">Otros:</td>
        <td>{{ historia.otros }}</td>
    </tr>
</table>

<table width="942px" style="margin-top: 10px">
    <tr >
        <td style="background: rgba(0,0,0,0.03);border-radius:10px;padding: 7px; text-align: center;
        border: thin solid rgba(0,0,0,0.24);">
            <strong>EXAMEN FISICO</strong>
        </td>
    </tr>
</table>
<table width="942px">
    <tr>
        <td><strong>Patologicos:</strong></td>
        <td></td>
    </tr>

    <tr>
        <td><strong>Ginecologicos:</strong></td>
        <td>

            G<input type="checkbox"
                    {% if historia.ginecologicos == 'G' %}
            checked
                    {% endif %}>
            P: <input type="checkbox"
                    {% if historia.ginecologicos == 'P' %}
            checked
                    {% endif %}>
            C: <input type="checkbox"
                    {% if historia.ginecologicos == 'C' %}
            checked
                    {% endif %}>
            A: <input type="checkbox"
                    {% if historia.ginecologicos == 'A' %}
            checked
                    {% endif %}>
            V: <input type="checkbox"
                    {% if historia.ginecologicos == 'V' %}
            checked
                    {% endif %}>
        </td>
        <td><strong>Menarquia:</strong></td>
        <td>{{ historia.menarquia|date('Y-m-d') }}</td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td><strong>Fum:</strong></td>
        <td>{{ historia.fum|date('Y-m-d') }}</td>
    </tr>
    <tr>
        <td><strong>Quirurgicos:</strong></td>
        <td>{{ historia.quirurgicos }}</td>
        <td><strong>Alergicos:</strong></td>
        <td>{{ historia.alergicos }}</td>
    </tr>
</table>

<table width="942px" style="margin-top: 20px;">

    <tr>
        <td><strong>T/A:</strong> {{ historia.tA|date('Y-m-d') }}</td>
        <td><strong>FC:</strong> {{ historia.fcardiaca }}</td>
        <td><strong>FR:</strong> {{ historia.frespiratoria }}</td>
        <td><strong>T°C:</strong> {{ historia.temperaturac }}</td>
        <td><strong>PESO:</strong> {{ historia.peso }}</td>
        <td><strong>TALLA:</strong> {{ historia.talla }}</td>
        <td><strong>IMC:</strong> ss{{ historia.imc }}</td>
    </tr>
</table>

<table width="942px" style="margin-top: 20px;" class="estados">
    <tr>
        <td style="width: 150px; "><strong>Estado General: </strong></td>
        <td > {{ historia.estadogeneral }}</td>
    </tr>
    <tr>
        <td><strong>Cabeza:</strong></td>
        <td>{{ historia.cabeza }}</td>
    </tr>
    <tr>
        <td><strong>Ojos:</strong></td>
        <td>{{ historia.ojos }}</td>
    </tr>
    <tr>
        <td><strong>Boca:</strong></td>
        <td>{{ historia.boca }}</td>
    </tr>
    <tr>
        <td><strong>Cuello:</strong></td>
        <td>{{ historia.cuello }}</td>
    </tr>
    <tr>
        <td><strong>Torax:</strong></td>
        <td>{{ historia.torax }}</td>
    </tr>
    <tr>
        <td><strong>Cardiovascular:</strong></td>
        <td>{{ historia.cardiovascular }}</td>
    </tr>
    <tr>
        <td><strong>Abdomen:</strong></td>
        <td>{{ historia.abdomen }}</td>
    </tr>
    <tr>
        <td><strong>Extremidades:</strong></td>
        <td>{{ historia.extremidades }}</td>
    </tr>
    <tr>
        <td><strong>G/U:</strong></td>
        <td>{{ historia.gU }}</td>
    </tr>
    <tr>
        <td><strong>Neurologico:</strong></td>
        <td>{{ historia.neurologico }}</td>
    </tr>
</table>


<table width="942px" style="margin-top: 20px;">
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr>
    <tr >
        <td style="background: rgba(0,0,0,0.03);border-radius:10px;padding: 7px; text-align: center;
        border: thin solid rgba(0,0,0,0.24);" width="50%">
            <strong>IDX1</strong>
            <p>
                {{ historia.iDX1.descripcion }}
            </p>
        </td>
        <td style="background: rgba(0,0,0,0.03);border-radius:10px;padding: 7px; text-align: center;
        border: thin solid rgba(0,0,0,0.24);">
            <strong>IDX2</strong>
            <p>
                {{ historia.iDX2.descripcion }}
            </p>
        </td>
    </tr>
</table>
<table width="942px" style="margin-top: 10px;">
    <tr  >
        <td style="padding: 7px;background: rgba(0,0,0,0.03); border-radius:10px; border: thin solid rgba(0,0,0,0.24);">
            <strong style="display: block; text-align: center">Plan de Tratamiento</strong>
            <br>
            {{ historia.plantratamiento }}
        </td>


    </tr>
</table>

<table width="190px" style="margin-top: 50px;">
    <td>
        <hr>
        Firma del Profesional
    </td>
</table>
</body>
</html>




