<table>
	<tr>
		<th>Id</th>
		<th>Nombre</th>
		<th>Apellidos</th>
	</tr>
	{% for data in datas %}
		<tr>
			<td>{{ data.id }}</td>
			<td>{{ data.nombre }}</td>
			<td>{{ data.apellidos }}</td>
		</tr>
	{% endfor %}
</table>