{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}


{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    Atender Procedimiento
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos del Procedimiento</h2>

                    <div class="clearfix"></div>
                </div>


                {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form group">
                                <label for="documento">Número Documento</label>
                                <input type="text" id="documento" class="form-control" tabindex="3"
                                value="{{ procedimiento.paciente.documento }}" disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form group">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" id="apellidos" class="form-control" tabindex="4"
                                       value="{{ procedimiento.paciente.apellidos }}" disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form group">
                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" class="form-control" tabindex="5"
                                       value="{{ procedimiento.paciente.nombre }}" disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form group">
                                <label for="ocupacion">Ocupación</label>
                                <input type="text" id="ocupacion" class="form-control" tabindex="6"
                                       value="{{ procedimiento.paciente.ocupacion }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form group">
                                <label for="telefono">Telefono</label>
                                <input type="text" id="telefono" class="form-control" tabindex="7"
                                       value="{{ procedimiento.paciente.telefono }}" disabled>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form group">
                                <label for="municipio">Ciudad</label>
                                <input type="text" id="municipio" class="form-control" tabindex="8"
                                       value="{{ procedimiento.paciente.municipio.nombre }}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form group">
                                <label for="direccion">Dirección</label>
                                <input type="text" id="direccion" class="form-control" tabindex="9"
                                       value="{{ procedimiento.paciente.direccion }}" disabled>
                            </div>
                        </div>

                    </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form group">
                            {{ form_label(form.tipoTratamiento, 'Tipo de servicio') }}
                            {{ form_widget(form.tipoTratamiento, { 'attr':{ 'class': 'form-control', 'tabindex':'1',
                                'readonly': 'true'} }) }}
                            {{ form_errors(form.tipoTratamiento) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form group">
                            {{ form_label(form.tratamiento, 'Servicio') }}
                            {{ form_widget(form.tratamiento, { 'attr':{ 'class': 'form-control', 'tabindex':'1',
                                'readonly': 'true' } }) }}
                            {{ form_errors(form.tratamiento) }}
                        </div>
                    </div>

                    <div class="col-md-12" >
                        <div class="form group">
                            {{ form_label(form.notas, 'Notas') }}
                            {{ form_widget(form.notas, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.notas) }}
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-12" style="display: none;">

                                {{ form_label(form.paciente, 'paciente') }}
                                {{ form_widget(form.paciente, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                                {{ form_errors(form.paciente) }}

                        </div>


                    </div>
                    <div class="col-md-12">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar'}) }}
                        <a href="{{ path('listar_procedimientos') }}" class="btn btn-danger">Cancelar</a>



                    </div>
                </div>

                {{ form_end(form) }}
                <br>


            </div>
        </div>
    </div>




    <script>
        $(document).ready(function(){
        var $departamento = $('#appbundle_procedimiento_tipoTratamiento');


        $departamento.change(function(){
            var $form = $(this).closest('form');

            var data = {};
            data[$departamento.attr('name')] = $departamento.val();
            $('#appbundle_procedimiento_tratamiento').attr('disabled','disabled');
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function(html){
                    $('#appbundle_procedimiento_tratamiento').removeAttr('disabled');
                    $('#appbundle_procedimiento_tratamiento').replaceWith(
                        $(html).find('#appbundle_procedimiento_tratamiento')
                    );
                },
                error: function(err){
                    console.log(err);
                }

            });
        });
        
        if(parseInt($("#documento").val()) > 0) 
        {
            alert("si");
            var cedula = $("#documento").val();
            var url = '{{ path("buscar_paciente", {'cedula':'cedula'}) }}';
            url = url.replace("cedula", $("#documento").val());

            console.log(url);
            getPaciente(url);
        }
        else{

        }

        $("#documento").on("keypress", function(e){
            if(e.keyCode == 13)
            {
                var cedula = $("#documento").val();
                var url = '{{ path("buscar_paciente", {'cedula':'cedula'}) }}';
                url = url.replace("cedula", this.value);
                getPaciente(url);
                return false;
            }
        });

        var datas = [];
        var paciente = {};
        var dataTemp = {};

        function getPaciente(url)
        {
            alert("entrando");
            $.ajax({
                url: url,
                type: "get",
                success: function(response, data){

                    console.log(response);
                    $("#nombre").val(response.nombre);
                    $("#apellidos").val(response.apellidos);
                    $("#telefono").val(response.telefono);
                    $("#ocupacion").val(response.ocupacion);
                    $("#direccion").val(response.direccion);
                    $("#municipio").val(response.nombre);
                    $("#appbundle_procedimiento_paciente").val(response.id);
                    paciente['paciente'] = response.id;
                    datas.push(paciente);

                    console.log(datas);

                },
                error: function (xhr){
                    console.log("Error");
                }


            });
        }


        $("#appbundle_procedimientos_guardar").click(function(e){
            e.preventDefault();


            $.ajax({
                type: 'POST',
                url: '/admin/procedimientos/save',
                data: JSON.stringify(datas),
                'xhrFields':{'responseType':'blob'},
                'dataType':'binary',
                success:function(msg, data, code){
                    //console.log(msg.valorTotal);


                    const pdfUrl = URL.createObjectURL(msg);
                    window.open(pdfUrl, '_blank');

                    //se maneja el archivo de la prefactura generada


                    var url = '/admin/procedimientos/consentimiento/id';
                    url = url.replace("id", datas[0].paciente);

                    window.open(url, '_blank');

                    url = '/admin/procedimientos/'
                    window.location.replace(url);

                    /*
                    var url = '/admin/procedimientos/prefactura/id/saldopaciente';
                    url = url.replace("id", msg);
                    url = url.replace("saldopaciente", $("#saldo").val());

                    window.open(url, '_blank');

                   */
                },
                error: function(err, data, cls){
                    console.log(err);
                    console.log(data);
                    console.log(cls);
                }



            });
        });

        $("#appbundle_procedimiento_reset").click(function(e){
            e.preventDefault();
            $('form[name="appbundle_procedimiento"]').trigger("reset");
            $("#tabled").find("tr:not(:nth-child(1)):not(:nth-child(2))").remove();
            dataTemp = {};
            data = [];
        });

        });
    </script>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}