{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    {% if paciente is not defined %}
        {% if tipo == "afiliado" %}
            Registrar Afiliado
        {% else  %}
            Registrar Paciente
        {% endif %}

    {% else %}

        {% if tipo == "afiliado" %}
            Editar Afiliado
        {% else  %}
            Editar Paciente
        {% endif %}

    {% endif %}
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos del Paciente </h2>

                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    {{ form_start(form) }}

                    <div class="col-md-6 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.tipoDocumento, 'Tipo de documento') }}
                            {{ form_widget(form.tipoDocumento, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.tipoDocumento) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.nombre, 'Nombre:') }}
                            {{ form_widget(form.nombre, { 'attr':{ 'class': 'form-control', 'tabindex':'3' } }) }}
                            {{ form_errors(form.nombre) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.fechaNacimiento, 'Fecha de Nacimiento') }}


                            <div class='input-group date' id='datetimepicker1'>
                                {{ form_widget(form.fechaNacimiento, {attr: {
                                    'data-format': "dd/MM/yyyy HH:mm",
                                    'class':'form-control',
                                    'tabindex':'5'},
                                }) }}
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            {{ form_errors(form.fechaNacimiento) }}
                        </div>



                        <div class="form group">
                            {{ form_label(form.sexo, 'Genero:') }}
                            {{ form_widget(form.sexo, { 'attr':{ 'class': 'form-control', 'tabindex':'7' } }) }}
                            {{ form_errors(form.sexo) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.departamento, 'Departameto:') }}
                            {{ form_widget(form.departamento, { 'attr':{ 'class': 'form-control', 'tabindex':'9' } }) }}
                            {{ form_errors(form.departamento) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.ocupacion, 'Ocupación:') }}
                            {{ form_widget(form.ocupacion, { 'attr':{ 'class': 'form-control', 'tabindex':'11' } }) }}
                            {{ form_errors(form.ocupacion) }}
                        </div>

                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <div class="form group">
                            {{ form_label(form.documento, 'Numero documento') }}
                            {{ form_widget(form.documento, { 'attr':{ 'class': 'form-control', 'tabindex':'2' } }) }}
                            {{ form_errors(form.documento) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.apellidos, 'Apellidos') }}
                            {{ form_widget(form.apellidos, { 'attr':{ 'class': 'form-control', 'tabindex':'4' } }) }}
                            {{ form_errors(form.apellidos) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.edad, 'Edad:') }}
                            {{ form_widget(form.edad, { 'attr':{ 'class': 'form-control', 'tabindex':'6' } }) }}
                            {{ form_errors(form.edad) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.email, 'Email:') }}
                            {{ form_widget(form.email, { 'attr':{ 'class': 'form-control', 'tabindex':'8' } }) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.municipio, 'Municipio:') }}
                            {{ form_widget(form.municipio, { 'attr':{ 'class': 'form-control', 'tabindex':'10' } }) }}
                            {{ form_errors(form.municipio) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.telefono, 'Telefono:') }}
                            {{ form_widget(form.telefono, { 'attr':{ 'class': 'form-control', 'tabindex':'11' } }) }}
                            {{ form_errors(form.telefono) }}
                        </div>


                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.direccion, 'Direccion:') }}
                            {{ form_widget(form.direccion, { 'attr':{ 'class': 'form-control', 'tabindex':'12' } }) }}
                            {{ form_errors(form.direccion) }}
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.plan, 'Seleccione un plan:') }}
                            {{ form_widget(form.plan, { 'attr':{ 'class': 'form-control', 'tabindex':'12' } }) }}
                            {{ form_errors(form.plan) }}
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.saldo, 'Saldo:') }}
                            {{ form_widget(form.saldo, { 'attr':{ 'class': 'form-control', 'tabindex':'12', 'value':'0' } }) }}
                            {{ form_errors(form.saldo) }}
                        </div>
                    </div>


                    <div class="col-md-12">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar'}) }}
                        {% if tipo == "afiliado" %}
                            <a href="{{ path('listar_paciente', {'tipo':'afiliado'}) }}" class="btn btn-danger">Cancelar</a>
                        {% else  %}
                            <a href="{{ path('listar_paciente', {'tipo':'paciente'}) }}" class="btn btn-danger">Cancelar</a>
                        {% endif %}



                    </div>

                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>




    <script type="text/javascript">

    </script>
<script>
    /*date time picker*/
    $(function () {
        var datetimepicker
        $('#datetimepicker1').datetimepicker({
            locale:'es'

        });
    });


    //selec controls
    var $departamento = $('#appbundle_cliente_departamento');
    var plan = $('#appbundle_cliente_plan');
    var saldo = $("#appbundle_cliente_saldo");


    $departamento.change(function(){
        var $form = $(this).closest('form');

        var data = {};
        data[$departamento.attr('name')] = $departamento.val();
        $('#appbundle_cliente_municipio').attr('disabled','disabled');
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function(html){
                $('#appbundle_cliente_municipio').removeAttr('disabled');
                $('#appbundle_cliente_municipio').replaceWith(
                    $(html).find('#appbundle_cliente_municipio')
                );
            }

        });
    });

    plan.change(function(e){
        var stringd = $("#appbundle_cliente_plan option:selected").text().toLowerCase();

        //consulta por el id de la afiliacion//consulta por el id de la afiliacion

        var url = '{{ path("buscar_plan", {'id':'cedula'}) }}';
        url = url.replace("cedula", plan.val());


        console.log(url);
        getPlan(url);
        return false;

        switch(plan.val()){
            case "Tarjeta PLATINO":
                saldo.val(70000);
                saldo.css("background","#e5e2e1");
                break;
            case "Tarjeta ORO":
                saldo.val(150000);
                saldo.css("background","#ffbf00");
                break;
            case "Tarjeta DIAMANTE":
                saldo.val(300000);
                saldo.css("background","#b9f2ff");
                break;
            default:
                saldo.val(0);
                saldo.css("background","#FFFFFF");
                break;
        }
    });

    function getPlan(url)
    {
        $.ajax({
            url: url,
            type: "get",
            success: function(response, data){

                console.log(response.data);
                console.log(response.data);
                if(parseInt(response.data) > 0)
                {
                    var valor = saldo.val();
                    var nvalor = parseInt(valor) + parseInt(response.data);
                    saldo.val(nvalor);
                }


            },
            error: function (xhr){
                console.log("Error");
            }


        });
    }





</script>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}