{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    {% if pacientes is empty %}

        {% if tipo == "afiliado" %}
            Administrar Afiliados
        {% else  %}
            Administrar Pacientes
        {% endif %}


    {% else %}
        {% if tipo == "afiliado" %}
            Listado de Afiliados
        {% else  %}
            Listado de Pacientes
        {% endif %}
    {% endif %}

{% endblock %}
{% block searchbar %}
<div class="col-md-4 col-xs-12 pull-right"  >
    <div style="text-align: right; width: 100%; " >

        {% if pacientes is not empty %}
        
        <a href="{{ path('pacientes_exportar') }}" target="_blank" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
        {% endif %}


        {% if tipo == "afiliado" %}

        <a href="{{ path('crear_paciente', {'tipo':'afiliado'}) }}" class="btn btn-primary">Registrar Afiliado</a>
        {% else  %}
            <a href="{{ path('crear_paciente', {'tipo':'paciente'}) }}" class="btn btn-primary">Registrar Paciente</a>

        {% endif %}
        </div>

</div>
{% endblock %}
{# /override header block values #}


{% block page_content %}

    {% if pacientes is empty %}
    <div class="row">
        <div class="col-md-12">
            <div class="bs-example" data-example-id="simple-jumbotron">
                <div class="jumbotron">
                    <h1> <i class="fa fa-warning"></i> No hay registros </h1>
                    <p>Registra uno!</p>
                    {% if tipo == "afiliado" %}

                    <a href="{{ path('crear_paciente', {'tipo':'afiliado'}) }}" class="btn btn-primary">Registrar Afiliado</a></div>
                    {% else  %}
                        <a href="{{ path('crear_paciente', {'tipo':'paciente'}) }}" class="btn btn-primary">Registrar Paciente</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="row displaybox" id="cntmessage">
        <div class="col-md-12 col-xs-12">
            <div class="alert  fade in alert-dismissable" style="margin-top:18px;" id="divmessage">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong id="message"></strong>
            </div>
        </div>
    </div>


    <table id="datatable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Numero Documento</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>email</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
        </thead>


        <tbody>
        {% for paciente in pacientes %}

            <tr>
                <td>{{ paciente.documento }}</td>
                <td>{{ paciente.nombre}}</td>
                <td>{{ paciente.apellidos }}</td>
                <td>{{ paciente.email }}</td>
                <td>{{ paciente.telefono }}</td>
                <td>
                    {% if tipo == "afiliado" %}
                        <a href="{{ url('editar_paciente',{'id': paciente.id, 'tipo':'afiliado'}) }}"
                           class="btn btn-success btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i> Editar
                        </a>
                        {# enlace para realizar la recarga al afiliado#}
                        <a href="#" class="btn btn-primary btn-xs" onclick="recargar(event, {{ paciente.id  }}, {{ paciente.documento }})"
                           data-toggle="modal" data-target="#recargar">
                            <i class="fa fa-dollar"></i> Recargar
                        </a>
                    {% else  %}
                        <a href="{{ url('editar_paciente',{'id': paciente.id, 'tipo':'paciente'}) }}"

                           class="btn btn-success btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i> Editar
                        </a>
                    {% endif %}

                    <button href="" class="btn btn-danger btn-xs"
                            onclick="eliminarRecord({{ paciente.id }})" data-href="/delete.php?id=54"
                            data-toggle="modal" data-target="#confirm-delete" >
                        <i class="glyphicon glyphicon-trash"></i> Eliminar</button>

                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
   {% endif %}
    <style>
        .displaybox{
            display: none;
        }
        .modal-header-danger
        {
            background: #de4c36;
            color: #FFF;
        }
    </style>
    {# modal para realizar una recarga #}
    <div class="modal fade" id="recargar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">

                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Realizar una recarga?</h4>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form group">
                                    <label for="">Cedula</label>
                                    <input type="text" id="cedula" name="cedula" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form group">
                                    <label >Valor Recarga</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control" id="valorRecarga"
                                               name="valorRecarga" placeholder="Valor Recarga">

                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger btn-ok" id="btnRecargar">
                        <i class="fa fa-check-circle"></i>
                        Recargar
                    </a>
                </div>
            </div>
        </div>
    </div>

    {# modal para confirmar la eliminacion de un registro #}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">

                <div class="modal-header modal-header-danger ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Registro?</h4>
                </div>

                <div class="modal-body">
                    <p class="content_delete"></p>
                    <p>Estas seguro de proceder?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger btn-ok" id="deleteRecord">Eliminar</a>
                </div>
            </div>
        </div>
    </div>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}


    <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('js/datatablecs.js') }}"></script>
    <script>
        var idPaciente = '';

        //scritps to delete record of table
        function eliminarRecord(id){


            $('.content_delete').html('Seguro que desea eliminar el registro ID #'+id);
            $('.delete_item').html(id);
            idPaciente = id;
        }

        $("#deleteRecord").click(function(){
            var url = "{{ url('eliminar_paciente',{'id': 'idPaciente'}) }}";
            url = url.replace('idPaciente', idPaciente);
            $(window.location).attr('href', url);

        });


        var idAfiliadoRecarga = 0;
        //mostrar el mmodal de la recacarga
        function recargar(e, id, documento){
            e.preventDefault();
            $("#cedula").val(documento);
            idAfiliadoRecarga = id;
            console.log($("#btnRecargar").data("id"));
        }

        //boton realizar la recarga
        $("#btnRecargar").click(function(){


            var valorRecarga = $("#valorRecarga").val();
            var datas = {"id":idAfiliadoRecarga,"valorRecarga":valorRecarga};

            //peticion ajax tipo POST
            var url = "{{ url('recargar') }}";
            console.log(url);
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(datas),
                success: function(data, msg, der, err){
                    if(data.data = 'success')
                    {
                        $('#recargar').modal('toggle');
                        $("#divmessage").addClass("alert-success");
                        $("#cntmessage").removeClass("displaybox");
                        $("#message").html("recarga realizada satisfactoriamente");
                        setTimeout(function(){
                            $("#cntmessage").addClass("displaybox");
                        }, 8000);
                    }
                    else
                    {
                        $('#recargar').modal('toggle');
                        $("#divmessage").addClass("alert-danger");
                        $("#cntmessage").removeClass("displaybox");
                        $("#message").html(data.msg);
                        setTimeout(function(){
                            $("#cntmessage").addClass("displaybox");
                        }, 8000);

                    }

                },
                error: function(err, dr){
                    console.log(err);
                    console.log(dr);

                }

            });
        });






        /*+' id: '+id +'<br>'
        +' Nombre: '+nombre+'<br>'
        +' Apellidos: '+apellidos+'<br>'
        +' Correo: '+correo+'<br*/
    </script>


{% endblock %}


