{# 
    atender procedimientos
    creado por Duviel Garcia
#}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}

    <style>
        .page-title .title_left{
            width: 100% !important;
        }
    </style>
    {% if pacientes is empty %}
        Procedimientos en Espera
    {% else %}
        Listado de Pacientes en espera
    {% endif %}
{% endblock %}
{% block searchbar %}

{% endblock %}
{# /override header block values #}

{% block page_content %}

    {% if pacientes is empty %}
        <div class="row">
            <div class="col-md-12">
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                        <h1> <i class="fa fa-warning"></i> No hay procedimientos pendientes por atender  </h1>


                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <table id="datatable" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Numero Documento</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>email</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
            </thead>


            <tbody>
            {% for paciente in pacientes %}

                <tr>
                    <td>{{ paciente.documento }}</td>
                    <td>{{ paciente.nombre}}</td>
                    <td>{{ paciente.apellidos }}</td>
                    <td>{{ paciente.email }}</td>
                    <td>{{ paciente.telefono }}</td>
                    <td>
                        <a href="{{ url('procedimientos_paciente_espera',{'id': paciente.id}) }}" class="btn btn-success btn-xs">
                            <i class="glyphicon glyphicon-eye-open"></i> Ver procedimientos
                        </a>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
    <style>
        .modal-header-danger
        {
            background: #de4c36;
            color: #FFF;
        }
    </style>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">

                <div class="modal-header modal-header-danger ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Registro?</h4>
                </div>

                <div class="modal-body">
                    <p class="content_delete"></p>
                    <p>Estas seguro de proceder?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger btn-ok" id="deleteRecord">Eliminar</a>
                </div>
            </div>
        </div>
    </div>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}


    <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('js/datatablecs.js') }}"></script>
    <script>
        var idPaciente = '';

        //scritps to delete record of table
        function eliminarRecord(id){


            $('.content_delete').html('Seguro que desea eliminar el registro ID #'+id);
            $('.delete_item').html(id);
            idPaciente = id;
        }

        $("#deleteRecord").click(function(){
            var url = "{{ url('eliminar_paciente',{'id': 'idPaciente'}) }}";
            url = url.replace('idPaciente', idPaciente);
            $(window.location).attr('href', url);

        });




        /*+' id: '+id +'<br>'
        +' Nombre: '+nombre+'<br>'
        +' Apellidos: '+apellidos+'<br>'
        +' Correo: '+correo+'<br*/
    </script>


{% endblock %}


