{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    {% if procedimientos is empty %}
        Administrar Procedimientos
    {% else %}
        Procedimientos en espera 
    {% endif %}

{% endblock %}
{% block searchbar %}
    <div style="text-align: right; width: 100%; " >
        {% if is_granted('ROLE_FISIOTERAPY') or is_granted('ROLE_ADMIN') %}
            {# enviar la cedula de la persona #}
            <a href="{{ path('crear_historiafisio', {'idPaciente':idPaciente}) }}" class="btn btn-success">Crear historia</a>
        {% endif %}
        {# si posee una historia mostrar el boton #}
        <a href="{{ path('ver_historiafisio', {'idPaciente':idPaciente}) }}" class="btn btn-success">Ver historia</a>
        <a href="{{ path('crear_procedimiento') }}" class="btn btn-primary">Registrar Procedimiento</a>
    </div>
{% endblock %}
{# /override header block values #}

{% block page_content %}

    {% if procedimientos is empty %}
        <div class="row">
            <div class="col-md-12">
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                        <h1> <i class="fa fa-warning"></i> No hay procedimientos a disponibles para ejecutar</h1>
                        <p>Deberias crear uno!</p>
                        <a href="{{ path('crear_procedimiento') }}" class="btn btn-primary">Registar procedimiento</a>

                    </div>
                </div>
            </div>
        </div>

    {% else %}

    <table id="datatable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>Tipo</th>
            <th>procedimiento</th>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th width="170">Acciones</th>
        </tr>
        </thead>


        <tbody>
        {% for procedimiento in procedimientos %}

            <tr>
                <td>{{ procedimiento.id}}</td>
                <td>{{ procedimiento.tratamiento.tipoTratamiento.nombre}}</td>
                <td>{{ procedimiento.tratamiento.nombre}}</td>
                <td>{{ procedimiento.paciente.documento }}</td>
                <td>{{ procedimiento.paciente.nombre }} {{ procedimiento.paciente.apellidos }}</td>
                <td>{{ procedimiento.fecha|date('Y-m-d')}}</td>
                <td>
                    {% if procedimiento.enabled == 1 %}
                        <span class="label label-warning ">En espera</span>
                    {% else %}
                        <span class="label label-success ">Atendido</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url('atender_procedimiento',{'id': procedimiento.id}) }}" class="btn btn-success btn-xs">
                        <i class="glyphicon glyphicon-pencil"></i> Atender
                    </a>
                    {#<button href="" class="btn btn-danger btn-xs"
                            onclick="eliminarRecord({{ procedimiento.id }})" data-href="/delete.php?id=54"
                            data-toggle="modal" data-target="#confirm-delete" >
                        <i class="glyphicon glyphicon-trash"></i> Eliminar</button>#}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    <style>
        .modal-header-danger
        {
            background: #de4c36;
            color: #FFF;
        }
    </style>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">

                <div class="modal-header modal-header-danger ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Registro?</h4>
                </div>

                <div class="modal-body">
                    <p class="content_delete"></p>
                    <p>Estas seguro de proceder?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger btn-ok" id="deleteRecord">Eliminar</a>
                </div>
            </div>
        </div>
    </div>


    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}


    <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('js/datatablecs.js') }}"></script>
    <script>



        var idProcedimiento = '';

        //scritps to delete record of table
        function eliminarRecord(id){


            $('.content_delete').html('Seguro que desea eliminar el registro ID #'+id);
            $('.delete_item').html(id);
            idProcedimiento = id;
        }

        $("#deleteRecord").click(function(){
            var url = "{{ url('eliminar_procedimiento',{'id': 'idProcedimiento'}) }}";
            url = url.replace('idProcedimiento', idProcedimiento);
            $(window.location).attr('href', url);

        });

    </script>


{% endblock %}


