{% trans_default_domain 'FOSUserBundle' %}

<script>
    window.location.href = "{{ path('listar_solicitudes') }}";
</script>

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
