{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}


{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    {% if procedimiento is not defined %}

        Registrar Procedimiento
    {% else %}
        Editar Procedimiento
    {% endif %}
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos del Procedimiento</h2>

                    <div class="clearfix"></div>
                </div>

                {{ form_start(form) }}

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12  ">
                        <div class="form group">
                            <label for="documento">Número Documento</label>
                            <input type="text" id="documento" class="form-control" tabindex="1">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" id="apellidos" class="form-control" tabindex="2">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" class="form-control" tabindex="3">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="ocupacion">Ocupación</label>
                            <input type="text" id="ocupacion" class="form-control" tabindex="4">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="telefono">Telefono</label>
                            <input type="text" id="telefono" class="form-control" tabindex="5">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="municipio">Ciudad</label>
                            <input type="text" id="municipio" class="form-control" tabindex="6">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form group">
                            <label for="direccion">Dirección</label>
                            <input type="text" id="direccion" class="form-control" tabindex="7">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form group">
                            <label for="direccion">Plan</label>
                            <input type="text" id="plan" class="form-control" tabindex="8" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="direccion">Saldo</label>
                            <input type="text" id="saldo" class="form-control" tabindex="9" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="txtDescuento">Descuento %</label>
                            <input type="text" id="txtDescuento" class="form-control" tabindex="10" >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.tipoTratamiento, 'Tipo de tratamiento') }}
                            {{ form_widget(form.tipoTratamiento, { 'attr':{ 'class': 'form-control', 'tabindex':'10' } }) }}
                            {{ form_errors(form.tipoTratamiento) }}
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.tratamiento, 'Tratamiento') }}
                            {{ form_widget(form.tratamiento, { 'attr':{ 'class': 'form-control', 'tabindex':'11' } }) }}
                            {{ form_errors(form.tratamiento) }}
                        </div>
                    </div>


                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group" style="margin-top: 24px;">
                            <a href="#" id="add" class="btn btn-primary btn-block" tabindex="12">Agregar</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="display: none;">

                                {{ form_label(form.paciente, 'paciente') }}
                                {{ form_widget(form.paciente, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                                {{ form_errors(form.paciente) }}

                        </div>

                        <div class="col-md-12" style="display: none;">

                            {{ form_label(form.notas, 'paciente') }}
                            {{ form_widget(form.notas, { 'attr':{ 'class': 'form-control', 'tabindex':'15' } }) }}
                            {{ form_errors(form.notas) }}

                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                        
                        {{ form_widget(form.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar'}) }}
                        <a href="{{ path('listar_procedimientos') }}" class="btn btn-danger">Cancelar</a>



                    </div>
                </div>

                {{ form_end(form) }}
                <br>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        {#<h3>Example <span class="label label-warning">El paciente debe recargar</span></h3>#}
                        <h4 class="text-center">Tratamientos</h4>
                        <table class="table table-striped" id="tabled">

                            <tr>
                                <td><strong>Tipo</strong></td>
                                <td><strong>Tratamiento</strong></td>
                                <td><strong>Valor</strong></td>
                                <td><strong>Eliminar</strong></td>
                            </tr>
                        </table>

                        <br>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <h4>Valor y descuento</h4>
                        <table class="table table-bordered">
                            <tr>
                                <td>Valor Neto:</td>
                                <td id="tdValorNeto"></td>
                            </tr>
                            <tr>
                                <td>Descuento</td>
                                <td id="tdDescuento"></td>
                            </tr>
                            <tr>
                                <td>Valor total</td>
                                <td id="tdValorTotal"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h4>Saldo del paciente</h4>
                        <table class="table table-bordered">
                            <tr>
                                <th>Saldo anterior:</th>
                                <td id="tdsaldoAnterior"></td>
                            </tr>
                            <tr>
                                <th>Nuevo saldo</th>
                                <td id="tdNuevoSaldo"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h4>Total a pagar</h4>
                        <table class="table table-bordered">
                            <tr>
                                <th>Total a pagar:</th>
                                <td id="tdTotalPagar">0</td>
                            </tr>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {# formulario de pacientes #}
    <div class="modal fade" id="newPaciente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:1024px;">
            <div class="modal-content ">

                <div class="modal-header modal-header-danger ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">
                         Nuevo Paciente</h4>
                </div>

                <div class="modal-body">


                    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="row">
                    {{ form_start(form2) }}

                    <div class="col-md-6 col-xs-12">
                        <div class="form group">
                            {{ form_label(form2.tipoDocumento, 'Tipo de documento') }}
                            {{ form_widget(form2.tipoDocumento, { 'attr':{ 'class': 'form-control', 'tabindex':'17' } }) }}
                            {{ form_errors(form2.tipoDocumento) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form2.nombre, 'Nombre:') }}
                            {{ form_widget(form2.nombre, { 'attr':{ 'class': 'form-control', 'tabindex':'19' } }) }}
                            {{ form_errors(form2.nombre) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form2.fechaNacimiento, 'Fecha de Nacimiento') }}


                            <div class='input-group date' id='datetimepicker1'>
                                {{ form_widget(form2.fechaNacimiento, {attr: {
                                    'data-format': "dd/MM/yyyy HH:mm",
                                    'class':'form-control',
                                    'tabindex':'21'},
                                }) }}
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            {{ form_errors(form2.fechaNacimiento) }}
                        </div>



                        <div class="form group">
                            {{ form_label(form2.sexo, 'Genero:') }}
                            {{ form_widget(form2.sexo, { 'attr':{ 'class': 'form-control', 'tabindex':'23' } }) }}
                            {{ form_errors(form2.sexo) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form2.departamento, 'Departameto:') }}
                            {{ form_widget(form2.departamento, { 'attr':{ 'class': 'form-control', 'tabindex':'25' } }) }}
                            {{ form_errors(form2.departamento) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form2.ocupacion, 'Ocupación:') }}
                            {{ form_widget(form2.ocupacion, { 'attr':{ 'class': 'form-control', 'tabindex':'27' } }) }}
                            {{ form_errors(form2.ocupacion) }}
                        </div>

                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <div class="form group">
                            {{ form_label(form2.documento, 'Numero documento') }}
                            {{ form_widget(form2.documento, { 'attr':{ 'class': 'form-control', 'tabindex':'18' } }) }}
                            {{ form_errors(form2.documento) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form2.apellidos, 'Apellidos') }}
                            {{ form_widget(form2.apellidos, { 'attr':{ 'class': 'form-control', 'tabindex':'20' } }) }}
                            {{ form_errors(form2.apellidos) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form2.edad, 'Edad:') }}
                            {{ form_widget(form2.edad, { 'attr':{ 'class': 'form-control', 'tabindex':'22' } }) }}
                            {{ form_errors(form2.edad) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form2.email, 'Email:') }}
                            {{ form_widget(form2.email, { 'attr':{ 'class': 'form-control', 'tabindex':'24' } }) }}
                            {{ form_errors(form2.email) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form2.municipio, 'Municipio:') }}
                            {{ form_widget(form2.municipio, { 'attr':{ 'class': 'form-control', 'tabindex':'26' } }) }}
                            {{ form_errors(form2.municipio) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form2.telefono, 'Telefono:') }}
                            {{ form_widget(form2.telefono, { 'attr':{ 'class': 'form-control', 'tabindex':'28' } }) }}
                            {{ form_errors(form2.telefono) }}
                        </div>


                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form group">
                            {{ form_label(form2.direccion, 'Direccion:') }}
                            {{ form_widget(form2.direccion, { 'attr':{ 'class': 'form-control', 'tabindex':'29' } }) }}
                            {{ form_errors(form2.direccion) }}
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="form group">
                            {{ form_label(form2.plan, 'Seleccione un plan:') }}
                            {{ form_widget(form2.plan, { 'attr':{ 'class': 'form-control', 'tabindex':'30' } }) }}
                            {{ form_errors(form2.plan) }}
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form group">
                            {{ form_label(form2.saldo, 'Saldo:') }}
                            {{ form_widget(form2.saldo, { 'attr':{ 'class': 'form-control', 'tabindex':'31' } }) }}
                            {{ form_errors(form2.saldo) }}
                        </div>
                    </div>


                    <div class="col-md-12">
                        <br>
                        {{ form_widget(form2.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form2.reset, {'label':'Limpiar'}) }}
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>




                    </div>

                    {{ form_end(form2) }}
                </div>

            </div>
        </div>
    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    {# formulario de pacientes #}

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content ">

                <div class="modal-header modal-header-danger ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">
                        <img src="{{ asset('img/alert.png') }}" width="30px" align="middle" alt="">  Error</h4>
                </div>

                <div class="modal-body">
                    <div class="imagen" style="width: 100px">

                    </div>
                    <div class="">

                        <span class="content_delete" style="font-size: 1.2em"></span>
                    </div>
                    
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnNewPaciente">
                        Registar Paciente
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="descuentop">


    <script>
        /*date time picker*/
        $(function () {
            var datetimepicker
            $('#datetimepicker1').datetimepicker({
                locale:'es'

            });
        });


        //selec controls
        var $departamentoo = $('#appbundle_cliente_departamento');
        var plans = $('#appbundle_cliente_plan');
        var saldo = $("#appbundle_cliente_saldo");


        $departamentoo.change(function(){
            var $form = $(this).closest('form');

            var data = {};
            data[$departamentoo.attr('name')] = $departamentoo.val();
            console.log(data);
            console.log("sdsd");
            $('#appbundle_cliente_municipio').attr('disabled','disabled');
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function(html){

                    $('#appbundle_cliente_municipio').removeAttr('disabled');
                    $('#appbundle_cliente_municipio').replaceWith(
                        $(html).find('#appbundle_cliente_municipio')

                    );
                    console.log($(html).find('#appbundle_cliente_municipio'));
                }

            });
        });

        plans.change(function(e){
            switch(plans.val()){
                case "Tarjeta PLATINO":
                    saldo.val(70000);
                    saldo.css("background","#e5e2e1");
                    break;
                case "Tarjeta ORO":
                    saldo.val(150000);
                    saldo.css("background","#ffbf00");
                    break;
                case "Tarjeta DIAMANTE":
                    saldo.val(300000);
                    saldo.css("background","#b9f2ff");
                    break;
                default:
                    saldo.val(0);
                    saldo.css("background","#FFFFFF");
                    break;
            }
        });





    </script>

    <script>



        //filtrar los municipios por el departamento
        var $departamento = $('#appbundle_procedimiento_tipoTratamiento');
        $departamento.change(function(){
            var $form = $(this).closest('form');

            var data = {};
            data[$departamento.attr('name')] = $departamento.val();
            $('#appbundle_procedimiento_tratamiento').attr('disabled','disabled');
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function(html){
                    $('#appbundle_procedimiento_tratamiento').removeAttr('disabled');
                    $('#appbundle_procedimiento_tratamiento').replaceWith(
                        $(html).find('#appbundle_procedimiento_tratamiento')
                    );
                },
                error: function(err){
                    console.log(err);
                }

            });
        });


        //busqueda de los datos del paciente, mendiate la cedula
        $("#documento").on("keypress", function(e){
            if(e.keyCode == 13)
            {
                var cedula = $("#documento").val();
                var url = '{{ path("buscar_paciente", {'cedula':'cedula'}) }}';
                url = url.replace("cedula", this.value);

                getPaciente(url);
                return false;
            }
        });

        $("#documento").focusout(function(){
            var cedula = $("#documento").val();
            var url = '{{ path("buscar_paciente", {'cedula':'cedula'}) }}';
            url = url.replace("cedula", this.value);
            getPaciente(url);
            return false;
        });

        var datas = [];
        var paciente = {};
        var descuentos = {};

        var dataTemp = {};



        //saldo del paciente
        var saldo = '';
        function getPaciente(url)
        {
            $.ajax({
                url: url,
                type: "get",
                success: function(response, data){


                    if (!$.trim(response)){
                        $('.content_delete').html(
                            'No existe ningun paciente con la cedula: <strong>'+$("#documento").val()+'</strong>');
                            $("#nombre").val('');
                            $("#apellidos").val('');
                            $("#telefono").val('');
                            $("#ocupacion").val('');
                            $("#direccion").val('');
                            $("#plan").val('');
                            $("#saldo").val('');
                            $("#municipio").val('');
                        $("#confirm-delete").modal("show");
                        datas[0] = null;
                    }
                    else{
                        $("#nombre").val(response.nombre);
                        $("#apellidos").val(response.apellidos);
                        $("#telefono").val(response.telefono);
                        $("#ocupacion").val(response.ocupacion);
                        $("#direccion").val(response.direccion);
                        $("#plan").val(response.plan.nombre);
                        $("#saldo").val(response.saldo);
                        saldo = response.saldo;
                        $("#municipio").val(response.municipio.nombre);
                        $("#appbundle_procedimiento_paciente").val(response.id);
                        $("#tdsaldoAnterior").html(parseInt(response.saldo));
                        $("#txtDescuento").val(parseInt(response.plan.descuento));
                        $("#descuentop").val(parseInt(response.plan.descuento));

                        paciente['paciente'] = response.id;
                        descuentos['descuento'] = 0;

                        datas[0] = paciente;
                        datas[1] = descuentos;


                        console.log(datas);
                    
                    }

                },
                error: function (xhr){
                    console.log("Error");
                }


            });
        }

        //crear nuevo paciente
        $("#btnNewPaciente").click(function(){
            $("#confirm-delete").modal("hide");
            $("#newPaciente").modal("show");
        });


        function getProcedureValue(idProcedimiento){

            $.ajax({
                type: 'POST',
                url: '{{ path("valor_tratamiento") }}',
                data: {id:idProcedimiento},
                success:function(data, msg, code){
                    console.log("desde la funcion: " + data);
                    datas.push({'tipoTratamiento':$("#appbundle_procedimiento_tipoTratamiento :selected").val(),
                        'tratamiento':$("#appbundle_procedimiento_tratamiento :selected").val(),
                        'valor':data
                    });
                    totalPagar(data);
                },
                error: function(err, data, cls){
                    console.log(err);
                    console.log(data);
                    console.log(cls);
                }
            });
        }
        //add item the array
        $("#add").click(function(e){
            e.preventDefault();
            if(!$.trim(datas[0]))
            {
                $('.content_delete').html(
                    'Debe seleccionar a un paciente para asignar tratamientos');
                $("#confirm-delete").modal("show");

                return;
            }
            if(!$.trim(datas[0].paciente))
            {
                alert("el paciente no ha sido agregado");
                return ;
            }

            dataTemp['tipoTratamiento'] = $("#appbundle_procedimiento_tipoTratamiento :selected").val();
            dataTemp['tratamiento'] = $("#appbundle_procedimiento_tratamiento :selected").val();

            //console.log(dataTemp['tratamiento']);

            if(!$.trim(dataTemp['tipoTratamiento']))
            {
                $('.content_delete').html(
                    'Debe seleccionar un tipo de tratamiento');
                $("#confirm-delete").modal("show");
                return;
            }
            if(!$.trim(dataTemp['tratamiento']))
            {
                $('.content_delete').html(
                    'Debe seleccionar un tratamiento');
                $("#confirm-delete").modal("show");
                return;
            }
            //busqueda del valor del tratamiento
            getProcedureValue($("#appbundle_procedimiento_tratamiento :selected").val());

            //fin busqueda del valor del tratamiento





            //console.log(dataTemp);
            //console.log(datas);
        });

        //remove item from table
        function getTd(x) {
            console.log(datas);
            var rowIndex = $(x).closest('tr').index();
            $(x).closest('tr').remove();

            var rowValue = datas.splice(rowIndex, 1);


            //llamada a la funcion para recarcular el Total a Pagar
            recalculateTotalPagar(rowValue[0].valor);
        }

        //calcular el total al agregar un servicio
        //funcion para buscar el valor del procedimiento
        var tdValorNeto = $("#tdValorNeto");
        var tdValorTotal = $("#tdValorTotal");
        var tdDescuento = $("#tdDescuento");
        var tdNuevoSaldo = $("#tdNuevoSaldo");
        var tdTotalPagar = $("#tdTotalPagar");

        var descuento = 0;
        var valorTotal = 0;
        function totalPagar(valorProcedimiento)
        {

            var tdSaldo = parseInt($("#saldo").val());
            console.log(tdSaldo);

            //calculo el valor neto

            if(tdValorNeto.html() == "")
            {

                $("#tdValorNeto").html(valorProcedimiento);
                valorTotal = parseInt(valorProcedimiento);
                $("#tdTotalPagar").html(valorTotal);
                $("#tdValorTotal").html(valorProcedimiento);
            }
            else
            {
                tdValorAnterior = parseInt(tdValorNeto.html()) + parseInt(valorProcedimiento);
                valorTotal = tdValorAnterior;
                $("#tdValorNeto").html(tdValorAnterior);
                $("#tdTotalPagar").html(valorTotal);
                $("#tdValorTotal").html(tdValorAnterior);

            }
            
            
            //calculo descuento
            if(parseInt($("#txtDescuento").val()) > 0){
                descuento = (parseInt(tdValorNeto.html()) * parseInt($("#txtDescuento").val())) / 100;
                tdDescuento.html(descuento);        
            }
            else{
                tdDescuento.html(0);
            }

            //establecemos el valor total
            if(descuento != 0){
                valorTotal = valorTotal - descuento;
                $("#tdTotalPagar").html(valorTotal);
                
            }else{
                tdValorTotal.html(valorTotal);
            }
            
   
            //comprbamos que el nuevo saldo este vacio

            if(tdSaldo <  valorTotal)
            {
                alert("necesita recagar o pagar en efectivo el excedente");
                tdNuevoSaldo.html(0);
                
                tdTotalPagar.html(valorTotal - tdSaldo);
            }
            else
            {
                var valor_total = parseInt(tdValorTotal.html());
                var nuevo_saldo = tdSaldo - valor_total;
                tdNuevoSaldo.html( nuevo_saldo);
            }


            $('#tabled tr:last').after(
                '<tr><td>'+$("#appbundle_procedimiento_tipoTratamiento :selected").text()+'' +
                '</td><td>'+$("#appbundle_procedimiento_tratamiento :selected").text()+'</td>' +
                '<td>'+valorProcedimiento+'</td>'+
                '<td> <i class="glyphicon glyphicon-trash" style="color:red;" onclick="getTd(this)"></i> </td>'+
                '</tr>');

        
            

        }

        function  recalculateTotalPagar(valor) {
            var tdSaldo = parseInt($("#saldo").val());

            tdValorAnterior = parseInt(tdValorNeto.html()) - valor;
            valorTotal = tdValorAnterior;
            $("#tdValorNeto").html(tdValorAnterior);

            

            //calculo descuento
            if(parseInt($("#txtDescuento").val()) > 0){
                descuento = (parseInt(tdValorNeto.html()) * parseInt($("#txtDescuento").val())) / 100;
                tdDescuento.html(descuento);        
            }
            else{
                tdDescuento.html(0);
            }

            //establecemos el valor total
            valorTotal = valorTotal - descuento
            tdValorTotal.html(valorTotal);
            console.log(tdSaldo);
            //comprbamos que el nuevo saldo este vacio

            if(saldo <  valorTotal)
            {
                alert("necesita recagar o pagar en efectivo el excedente");
                tdNuevoSaldo.html(0);
                tdTotalPagar.html(valorTotal - saldo);
            }
            else
            {
                tdNuevoSaldo.html(saldo - parseInt(tdValorTotal.html()));
            }
        }


        function removeItem(indice){
            dataTemp.splice(index, indice);

        }

        $("#appbundle_procedimiento_guardar").click(function(e){
            e.preventDefault();

            //aqui el descuento
            descuentos['descuento'] = $("#txtDescuento").val();
            datas[1] = descuentos;
            //datas.push({'descuento':});


            $.ajax({
                type: 'POST',
                url: '{{ path("save_procedure") }}',
                data: JSON.stringify(datas),
                'xhrFields':{'responseType':'blob'},
                'dataType':'binary',
                success:function(msg, data, code){
                    //console.log(msg.valorTotal);


                    const pdfUrl = URL.createObjectURL(msg);
                    window.open(pdfUrl, '_blank');

                    //se maneja el archivo de la prefactura generada

                    
                    //var url = '{{ path("imprimir_consentimientopdf", {'id':'id'}) }}';
                    //url = url.replace("id", datas[0].paciente);

                    //window.open(url, '_blank');




                },
                error: function(err, data, cls){
                    console.log(err);
                    console.log(data);
                    console.log(cls);
                }



            });
            //end first ajax

            $.ajax({
                type: 'POST',
                url: '{{ path("consentimientos_informados") }}',
                data: JSON.stringify(datas),
                'xhrFields':{'responseType':'blob'},
                'dataType':'binary',
                success: function(msg, data, code){
                    const pdfUrl = URL.createObjectURL(msg);
                    console.log(msg);

                    window.open(pdfUrl, '_blank');

                    return;

                    url = '{{ path("listar_procedimientos") }}'
                    window.location.replace(url);
                },
                error: function(err, data, cls){
                    console.log(err);
                    console.log(data);
                    console.log(cls);
                }
            });
        });

        $("#appbundle_procedimiento_reset").click(function(e){
            e.preventDefault();
            $('form[name="appbundle_procedimiento"]').trigger("reset");
            $("#tabled").find("tr:not(:nth-child(1)):not(:nth-child(2))").remove();
            dataTemp = {};
            data = [];
        });



    </script>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}