<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            font-family: Arial;
            font-size: 1em;
        }

        .estados tr td:first-child + td {
            border-bottom: thin solid #000;
            margin-bottom: 5px;
            padding-top: 10px;
        }


        input[type='checkbox'] {
            border: thin solid #212121;
            outline: 0px solid #000;
        }
        
        .content{

        }
        
        .center-text{
            text-align: center;
        }
        
        .justify-text{
            text-align: justify;
        }

        .wrap{
            word-wrap: break-word;
        }

        .text-underline{

            color: #FFF;
        }
        .box-data{
            border: thin solid #000;border-radius: 20px;padding: 20px;
        }


        .page {
            page-break-before: always;
            /*
            overflow:  hidden;
            background: silver;
            page-break-after: always;
            page-break-inside: avoid;*/

        }
        .information{
            width: 300px;
            font-size: .8em;
        }

        .informationPaciente{
            font-size: .9em;
        }

        tr.border_bottom td {
        border: thin solid #bcbcbc;}

        .table-values{
            margin-top: 20px;
        }

        .table-border td {
            border: thin solid #bcbcbc;}
    </style>
</head>
<body>
<div class="page">
    <div style="page-break-inside: avoid; margin-top: 40px;">
        <table  width="100%">

            {% if rootDir is defined %}
            <tr>
                <td width="70%"  >
                    <img src="{{ rootDir ~ '/web' ~ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>


                {% else %}
            <tr  >
                <td width="700px" >
                    <img src="{{ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>


                {% endif %}
            </tr>


        </table>
        <table  class="information">
            <tr>
                <td>Fecha</td>
                <td>{{ fecha|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <td>Direccion:</td>
                <td>Cra. 18 #13b-56 Alfonso Lopez</td>
            </tr>
            <tr>
                <td>Telefono:</td>
                <td>(5) 5800490</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>recepcion@casamayorga.com
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td>
                </td>
            </tr>
        </table>
        <table align="right" class="informationPaciente">
            <tr style="background: #d6d6d6;">
                <td colspan="2" style=" padding: 7px"><strong>Paciente</strong></td>
            </tr>
            <br>
            <tr>

                <td>
                    {{ paciente.tipoDocumento }}

                </td>

                <td># {{ paciente.documento }}</td>

            </tr>
            <tr>
                <td>Nombre:</td>
                <td colspan="3">{{ paciente.nombre }} {{ paciente.apellidos }}</td>
            </tr>
            <tr>
                <td>Tel:</td>
                <td>{{ paciente.telefono }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ paciente.email }}</td>
            </tr>
            <tr>
                <td>Dirección:</td>
                <td>{{ paciente.direccion }}</td>
            </tr>
        </table>

        <table width="100%" class="">
            <tr>
                <td></td>
            </tr>
        </table>


        <div class="content">
            <div class="center-text">
                <h3 style="background:#d6d6d6; padding: 7px ">LISTADO DE TRATAMIENTOS A EJECUTAR EN EL PACIENTE</h3>
            </div>
        </div>
        <br>
        <div class="content wrap justify-text">
            {% set valorNeto = 0 %}
           <table width="100%" cellspacing="0">
               <tr style="background:#d6d6d6;">
                   <td><strong>Tipo Tratamiento</strong></td>
                   <td><strong>Tratamiento</strong></td>
                   <td><strong>Descripción</strong></td>
                   <td width="80px"><strong>Precio</strong></td>
               </tr>
               {% for procedimiento in procedimientos  %}
                    {% set valorNeto = valorNeto + procedimiento.tratamiento.precio %}
                    <tr class="border_bottom">
                        <td>{{ procedimiento.tipoTratamiento }}</td>
                        <td>{{ procedimiento.tratamiento }}</td>
                        <td>{{ procedimiento.tratamiento.descripcion }}</td>
                        <td>{{ procedimiento.tratamiento.precio }}</td>
                    </tr>
               {% endfor %}

           </table>
        </div>
        <div class="content wrap justify-text">
            <table width="280px" align="right"  class="table-values table-border" cellspacing="0">
                <tr>
                    <td width="201px"><strong>Saldo Paciente</strong></td>
                    <td width="79px">{{ saldo }}</td>
                </tr>
                <tr>
                    <td><strong>Valor Neto: </strong></td>
                    <td>{{   valorNeto }}</td>
                </tr>
                <tr>
                    <td><strong>Descuento</strong></td>
                    <td>

                        {% if paciente.plan.id != 0 %}
                            {% set descuento = (valorNeto * paciente.plan.descuento) / 100 %}
                            {{ descuento }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Valor Total</strong></td>
                    <td>
                        {% set valorTotal = valorNeto - descuento %}

                        {{ valorTotal }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Nuevo saldo del paciente</strong></td>
                    <td>
                        {% if valorTotal > saldo %}
                            0
                        {% else %}
                            {{ saldo - valorTotal }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td> <strong> Total a pagar en efectivo</strong></td>
                    <td>
                        {% if valorTotal > saldo %}
                            {{ valorTotal - saldo  }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                </tr>



            </table>
        </div>




    </div>
</div>

</body>
</html>