<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Págian en construcción</title>
    
    <style>
        body
        {
            margin:0 auto;
            padding:0;
            text-align: center;
        }
        
        .button{
            padding: 15px;
            text-align: center;
            background: #0974ff;
            color: #FFF;
            border: thin solid #097;
            border-radius: 5px;
            text-decoration: none;
        }

        .button:hover{
            background: #085ecb;
        }

        .boxed
        {
            margin: 0 auto;
            width: 658px;
            height: 346px;
            background: url("{{ asset('img/backenconstruccion.JPG') }}");
            position: absolute;
            top: 30%;
            margin-top: -50px;
            margin-left: -25%;
            left: 50%;

        }

        .cajaboton
        {
            margin: 0 auto;
            width: 200px;
            height: 40px;
            position: absolute;
            top: 80%;
            margin-top: -50px;
            margin-left: -10%;
            left: 50%;
        }
    </style>
</head>
<body>

<div class="boxed">

</div>
<div class="cajaboton">
    <a href="/" class="button">Regresar</a>
</div>

</body>
</html>