{% extends 'base.html.twig' %}
{% block title %}Quienes somos{% endblock %}
{% block titlePage %}
    Quienes Somos
{% endblock %}
{% block breadcrumbs %}
    <i class="fa fa-home" aria-hidden="true"></i><a href="" style="text-decoration: underline; margin-left: 4px;">Inicio</a>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a href="{{ path('contactar') }}" style="text-decoration: underline; margin-left: 4px;">Contactar</a>
{% endblock %}
{% block body %}
    <div class="page relative">
        <div class="page_layout page_margin_top clearfix">

            <div class="clearfix">
                <div class="contact_map page_margin_top html" id="map" style="display:none">
                    
                </div>
                <div class="contact_map page_margin_top html" style="height: 350px;">
                    <div id="googleMap2" style="height: 300px">

                    </div>
                </div>
                <div class="page_margin_top clearfix">
                    <div class="page_left">
                        <h3 class="box_header">
                            Formulario de contacto
                        </h3>
                        {{ form_start(form, {'attr' : { 'id':'formd','class': 'contact_form'} }) }}
                        <fieldset class="left">
                            {{ form_label(form.nombre) }}
                            <div class="block">
                                {{ form_widget(form.nombre, {attr:{ class: 'text_input' }}) }}
                            </div>

                            {{ form_label(form.telefono) }}
                            <div class="block">
                                {{ form_widget(form.telefono, {attr:{ class: 'text_input' }}) }}
                            </div>
                        </fieldset>
                        <fieldset class="right">
                            {{ form_label(form.apellidos) }}
                            <div class="block">
                                {{ form_widget(form.apellidos, {attr:{ class: 'text_input' }}) }}
                            </div>
                            {{ form_label(form.email) }}
                            <div class="block">
                                {{ form_widget(form.email, {attr:{ class: 'text_input' }}) }}
                            </div>
                        </fieldset>
                        <fieldset style="clear:both;">
                            {{ form_label(form.mensaje) }}
                            <div class="block">
                            {{ form_widget(form.mensaje) }}
                            </div>
                            <br>
                            {{ form_widget(form.enviar, {attr:{ class: 'more blue' }}) }}

                        </fieldset>
                        <input type="submit" name="dale" value="Enviar form">




                        {{ form_end(form) }}

                    </div>
                    <div class="page_right">
                        <h3 class="box_header">
                            Tratamiento postoperación
                        </h3>
                        <h3 class="sentence">
                            Tratamientos postoperación para recuperacion muscular, facial y corporal
                        </h3>
                        <ul class="columns no_padding page_margin_top clearfix">
                            <li class="column_left">
                                Casa mayorga<br />
                                Cra. 17 #13b-56 <br />
                                Alfonso Lopez<br />

                            </li>
                            <li class="column_right">
                                Telfono: +57 5800490<br />
                                Valledupar - Cesar
                            </li>
                        </ul>
                        <ul class="contact_data page_margin_top">

                            <li class="clearfix">
                                <span class="social_icon mail"></span>
                                <p class="value">
                                    E-mail: <a href="mailto: contactenos@casamayorga.com"> contactenos@casamayorga.com</a>
                                </p>
                            </li>
                            <li class="clearfix">
                                <span class="social_icon facebook"></span>
                                <p class="value">
                                    <a href="http://facebook.com/QuanticaLabs" title="Facebook" target="_blank">facebook.com/medicenter</a>
                                </p>
                            </li>
                            <li class="clearfix">
                                <span class="social_icon twitter"></span>
                                <p class="value">
                                    <a href="http://twitter.com/QuanticaLabs" title="Twitter" target="_blank">twitter.com/medicenter</a>
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
   
{% endblock %}

{% block stylesheets %}

{% endblock %}


