{% extends 'base.html.twig' %}
{% block title %}Inicio{% endblock %}

{% block titlePage %}
   Pagina de Inicio
{% endblock %}
{% block breadcrumbs %}
   <i class="fa fa-home" aria-hidden="true"></i><a href="#" style="text-decoration: underline; margin-left: 4px;">Inicio</a>
{% endblock %}

{% block body %}



    {{ include('common/slider.html.twig') }}
   <div class="page relative noborder">
      <!--<div class="top_hint">
          Give us a call: +123 356 123 124
      </div>-->
      <!-- slider content -->
      <div class="slider_content_box clearfix">
         <div class="slider_content" style="display: block;">
            <h1 class="title">
               Profesionales<br /> con experiencia
            </h1>
            <h2 class="subtitle">
               Contamos con un gran equipo<br />
               de trabajo, capacitado y especializado.
            </h2>
         </div>
         <div class="slider_content">
            <h1 class="title">
               Equipos sofisticados<br />
               para tu rehabilitación
            </h1>
            <h2 class="subtitle">
               Tenemos lo necesario<br />
               para una optima recuperación
            </h2>
         </div>
         <div class="slider_content">
            <h1 class="title">
               Tratamientos<br />
               Intensivos
            </h1>
            <h2 class="subtitle">
               Contamos con tratamientos <br />
               intensivos para una rehabilitación rapida.
            </h2>
         </div>

      </div>
      <!-- home box -->
      <ul class="home_box_container clearfix">
         <li class="home_box light_blue animated_element animation-fadeIn duration-500">
            <h2>
               <a href="#" title="Emergency Case">
                  Servicio a Domicilio.
               </a>
            </h2>
            <div class="news clearfix">
               <p class="text justify">
                  Si necesita urgentemente nuestros servicios y no puedes moverte de casa, no te preocupes, casamayorga cuenta con un expectacular servicio a domicilio llama ya al (5) 5800490 .
               </p>

            </div>
         </li>
         <li class="home_box blue animated_element animation-slideRight duration-800 delay-250">
            <h2>
               <a href="#" title="Doctors Timetable">
                  Equipo de especialistas
               </a>
            </h2>
            <div class="news clearfix">
               <p class="text justify">
                  Aquí en casamayorga tenemos listas de especialistas, cada uno de ellos te ayudara en lo que necesites!
               </p>
              {# <a class="more light icon_small_arrow margin_right_white" href="{{ path('servicios') }}" title="Read more">Leer más</a>#}
            </div>
         </li>
         <li class="home_box dark_blue animated_element animation-slideRight200 duration-800 delay-500">
            <h2>
               Horarios de Atención
            </h2>
            <ul class="items_list thin dark_blue opening_hours">
               <li class="clearfix">
								<span>
									Lunes - Sabado
								</span>
                  <div class="value">
                     7:00 a.m - 8:00 p.m
                  </div>
               </li>
               <li class="clearfix">
                  <span>Te esperamos!</span>
               </li>

            </ul>
         </li>
      </ul>
      <div class="page_layout page_margin_top clearfix">
         <div class="page_left">
            <h3 class="box_header">
               Ultimas noticias
            </h3>
            <div class="columns clearfix">
               <ul class="blog column_left">
                  {% for noticia in noticias %}
                      {% if noticia.id % 2 != 0 %}
                         <li class="post">
                            <ul class="comment_box clearfix">
                               <li class="date">
                                  <div class="value">{{ noticia.fecha|date('Y-m-d') }}</div>
                                  <div class="arrow_date"></div>
                               </li>
                               <li class="comments_number">
                                  <a href{{ path('servicios') }}" title="2 comments">
                                  {{ noticia.id }}
                                  </a>
                               </li>
                            </ul>
                            <div class="post_content">
                               <a class="post_image" href="#" title="Lorem ipsum dolor sit amat velum">
                                  <img src="{{ asset('uploads/servicios/') ~ noticia.imagen }}" alt="" />
                               </a>
                               <h2>
                                  <a href="#" title="Lorem ipsum dolor sit amat velum">
                                     {{ noticia.titulo }}
                                  </a>
                               </h2>
                               <p class="justify">
                                  {{ noticia.contenido }}

                               </p>

                            </div>
                         </li>
                      {% endif %}
                  {% endfor %}


               </ul>
               <ul class="blog column_right">
                   {% for noticia in noticias %}
                       {% if noticia.id % 2 == 0 %}
                          <li class="post">
                             <ul class="comment_box clearfix">
                                <li class="date">
                                   <div class="value">{{ noticia.fecha|date('Y-m-d') }}</div>
                                   <div class="arrow_date"></div>
                                </li>
                                <li class="comments_number">
                                   <a href{{ path('servicios') }}" title="2 comments">
                                    {{ noticia.id }}
                                   </a>
                                </li>
                             </ul>
                             <div class="post_content">
                                <a class="post_image" href="#" title="Lorem ipsum dolor sit amat velum">
                                   <img src="{{ asset('uploads/servicios/') ~ noticia.imagen }}" alt="" />
                                </a>
                                <h2>
                                   <a href="#" title="Lorem ipsum dolor sit amat velum">
                                       {{ noticia.titulo }}
                                   </a>
                                </h2>
                                <p class="justify">
                                    {{ noticia.contenido }}

                                </p>

                             </div>
                          </li>
                       {% endif %}
                   {% endfor %}

               </ul>
            </div>
            <div class="show_all clearfix">
               <a class="more" href="{{ path('noticias') }}" title="Show all">
                  Ver todas &rarr;
               </a>
            </div>
         </div>
         <div class="page_right">
            <div class="sidebar_box first">
               <h3 class="box_header">
                  Servicios
               </h3>
               <ul class="accordion">
                  <li>
                     <div id="accordion-primary-health-care">
                        <h3>Cavitación Tripolar</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Primary Health Care">
                              <img src="{{ asset('template/images/samples/75x75/image_08.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Reducción de los depósitos de grasa a través de ondas de cavitación, Tensión de la piel, mejoramiento de la elasticidad a través de ondas de radiofrecuencia, Tratamientos Fisioterapeuticos.

                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('servicios') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-pediatric-clinic">
                        <h3>Carboxiterapia</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Pediatric Clinic">
                              <img src="{{ asset('template/images/samples/75x75/image_05.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Mejora de la calidad de la piel, disminución de volumen de la zona y  alivio de los síntomas de pesadez que da la celulitis. Combate varices, celulitis, flacides de la piel, activa la circulación y favorece producción de colágeno y elastina.
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('servicios') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-outpatient-surgery">
                        <h3>Corrientes rusas</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Outpatient Surgery">
                              <img src="{{ asset('template/images/samples/75x75/image_07.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Tonificación, tensión, drenaje linfático corporal, combate celulitis, efecto reductor y reafirmante. Desarrollo muscular, mejora la circulación. Acondicionamiento físico
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('servicios') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-gynaecological-clinic">
                        <h3>Presoterapia</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Gynaecological Clinic">
                              <img src="{{ asset('template/images/samples/75x75/image_01.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Impide la acumulación de bolsas de grasa debajo de la piel y dandole una apariencia más suave.
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('servicios') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>

                  <li>
                     <div id="accordion-laryngological-clinic">
                        <h3>Postquirurgico</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Laryngological Clinic">
                              <img src="{{ asset('template/images/samples/75x75/image_08.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Drenaje linfático, recomendación de fajas, mangas, bandas de silicona,  cremas para morados, tablas acolchadas y brassieres.
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('servicios') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-ophthalmology-clinic">
                        <h3>Cavitación Tripolar</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Ophthalmology Clinic">
                              <img src="{{ asset('template/images/samples/75x75/image_06.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Consiste en la regeneración o reparación de los tejidos mediante la activación de las células del tejido conjuntivo que producen colágeno, elastina y ácido hialurónico
                           </p>
                        </div>
                        <div class="item_footer clearfix">

                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('servicios') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-dental-clinic">
                        <h3>Aromaterapia y limpieza facial profunda</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Dental Clinic">
                              <img src="{{ asset('template/images/samples/75x75/image_03.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Aprovecha las propiedades de los aceites esenciales extraídos de las plantas aromáticas, para restablecer el equilibrio y armonía del cuerpo y de la mente para beneficio de nuestra salud y belleza.
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('servicios') }}c" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div id="accordion-outpatient-rehabilitation">
                        <h3>Microdermoabrasión</h3>
                     </div>
                     <div class="clearfix">
                        <div class="item_content clearfix">
                           <a class="thumb_image" href="#" title="Outpatient Rehabilitation">
                              <img src="{{ asset('template/images/samples/75x75/hidratacion.jpg')}}" alt="" />
                           </a>
                           <p class="justify">
                              Eliminar celulas muertas e impurezas, atenuar cicatrices y arrugas superficiales. Utiliza puntas de diamante que sin dolor eliminan las células muertas más superficiales de la piel.
                           </p>
                        </div>
                        <div class="item_footer clearfix">
                           <a class="more blue icon_small_arrow margin_right_white" href="{{ path('servicios') }}" title="Details">Detalles</a>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
            <div class="sidebar_box">
               <h3 class="box_header">
                  Servicio a domicilio, pidelo ahora
               </h3>
               <p class="info" >
                  Estas en tu casa o no puedes moverte, tranquilo contactanos y te atenderemos lo mas pronto posible.
               </p>
               <ul class="contact_data">
                  <li class="clearfix">
                     <span class="social_icon phone"></span>
                     <p class="value">
                        Telefono: <strong>+57 5800490</strong>
                     </p>
                  </li>
                  <li class="clearfix">
                     <span class="social_icon mail"></span>
                     <p class="value">
                        E-mail: <a href="mailto:contactenos@casamayorga.com">contactenos@casamayorga.com</a>
                     </p>
                  </li>
                  <li class="clearfix">
                     <span class="social_icon form"></span>
                     <p class="value">
                        o <a href="{{ path('contactar') }}" title="Contact form">diligencia el formulario </a> de contacto
                     </p>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}


