{% extends 'base.html.twig' %}
{% block title %}Noticias de casamayorga{% endblock %}

{% block titlePage %}
    Noticias de casamayorga
{% endblock %}
{% block breadcrumbs %}
    <i class="fa fa-home" aria-hidden="true"></i><a href="" style="text-decoration: underline; margin-left: 4px;">Inicio</a>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a href="{{ path('noticias') }}" style="text-decoration: underline; margin-left: 4px;">Noticias </a>
{% endblock %}
{% block body %}
    <div class="page relative">
        <div class="page_layout page_margin_top clearfix">
            <div class="page_header clearfix">
                <div class="page_header_left">
                    <h1 class="page_title">Noticias Recientes</h1>

                </div>

            </div>
            <div class="">
                <div class=" page_margin_top">
                    <div class="gallery_item_details clearfix">
                        <div class="columns no_width">
                            {% for noticia in noticias %}
                            <div class="noticia ">

                                <div class="imagen">
                                    <img src="{{ asset('uploads/servicios/') ~ noticia.imagen }}" alt="" />
                                </div>
                                <div class="contenido">
                                    <h3>{{ noticia.titulo }}</h3>
                                    <br>
                                    <p>
                                        {{ noticia.contenido }}
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}