{# pagina de los produtos#}
{% extends 'base.html.twig' %}
{% block title %}
    Servicios
{% endblock %}

{% block breadcrumbs %}
    <i class="fa fa-home" aria-hidden="true"></i><a href="" style="text-decoration: underline; margin-left: 4px;">Inicio</a>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a href="{{ path('servicios') }}" style="text-decoration: underline; margin-left: 4px;">Productos</a>
{% endblock %}


{% block body %}
    <div class="page relative">
        <div class="page_layout page_margin_top clearfix">
            <div class="page_header clearfix">
                <div class="page_header_left">
                    <h1 class="page_title">Productos</h1>

                </div>

            </div>
            <div class="clearfix page_margin_top">
                <ul class="gallery_item_details_list clearfix page_margin_top">
                    <li id="gallery-details-1" class="gallery_item_details clearfix">
                        <div class="columns no_width">
                            <div class="column_left">
                                <div class="gallery_box">
                                    <ul >
                                        <li >
                                            <img src="{{ asset('template/images/samples/480x300/brassier.jpg') }}" alt=""/>
                                            <ul class="controls">
                                                <li>
                                                    <a href="{{ asset('template/images/samples/brassier.jpg')}}" rel="gallery_item_1" class="fancybox open_lightbox"></a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="column_right">
                                <div class="details_box">
                                    <h2>
                                        Brassier
                                    </h2>
                                    <p>
                                        Descripcion del servicio - parrafo de relleno <br>
                                        Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto,
                                    </p>
                                    <!--<h3 class="box_header margin_top_10">
                                        Did you know that?
                                    </h3>
                                    <h3 class="sentence">
                                        Scientists estimate that laughing 100 times is equivalent to a 10-minute workout on a rowing machine.
                                    </h3>-->
                                    <ul class="controls page_margin_top">
                                        <li>
                                            <a href="#gallery-details-close" class="close"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="prev icon_small_arrow left_black"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="next icon_small_arrow right_black"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="gallery-details-2" class="gallery_item_details clearfix">
                        <div class="columns no_width">
                            <div class="column_left">
                                <div>
                                    <ul >
                                        <li >
                                            <img src="{{ asset('template/images/samples/480x300/fajas.jpg')}}" alt=""/>
                                            <ul class="controls">
                                                <li>
                                                    <a href="{{ asset('template/images/samples/fajas.jpg')}}" rel="gallery_item_2" class="fancybox open_lightbox"></a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="column_right">
                                <div class="details_box">
                                    <h2>Fajas
                                    </h2>
                                    <p>
                                        Descripcion del servicio - parrafo de relleno <br>
                                        Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto,
                                    </p>
                                    <!--<h3 class="box_header margin_top_10">
                                        Did you know that?
                                    </h3>
                                    <h3 class="sentence">
                                        Quick naps not only improve your alertness, but they also help in decision making, creativity and sensory perception.
                                    </h3>-->
                                    <ul class="controls page_margin_top">
                                        <li>
                                            <a href="#gallery-details-close" class="close"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="prev icon_small_arrow left_black"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="next icon_small_arrow right_black"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>



                    <li id="gallery-details-8" class="gallery_item_details clearfix">
                        <div class="columns no_width">
                            <div class="column_left">
                                <div class="gallery_box">
                                    <img src="{{ asset('template/images/samples/480x300/cosmeticos.jpg')}}" alt=""/>
                                    <ul class="controls">
                                        <li>
                                            <a href="{{ asset('template/images/samples/cosmeticos.jpg')}}" rel="gallery_item_8" class="fancybox open_lightbox"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column_right">
                                <div class="details_box">
                                    <h2>
                                        Cosmeticos
                                    </h2>
                                    <p>
                                        Descripcion del servicio - parrafo de relleno <br>
                                        Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto,
                                    </p>
                                    <!--<h3 class="box_header margin_top_10">
                                        Did you know that?
                                    </h3>
                                    <h3 class="sentence">
                                        Quick naps not only improve your alertness, but they also help in decision making, creativity and sensory perception.
                                    </h3>-->
                                    <ul class="controls page_margin_top">
                                        <li>
                                            <a href="#gallery-details-close" class="close"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="prev icon_small_arrow left_black"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="next icon_small_arrow right_black"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li id="gallery-details-15" class="gallery_item_details clearfix">
                        <div class="columns no_width">
                            <div class="column_left">
                                <div class="gallery_box">
                                    <img src="{{ asset('template/images/samples/480x300/perfumes.jpg')}}" alt=""/>
                                    <ul class="controls">
                                        <li>
                                            <a href="{{ asset('template/images/samples/perfumes.jpg')}}" rel="gallery_item_8" class="fancybox open_lightbox"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column_right">
                                <div class="details_box">
                                    <h2>
                                        Perfumes
                                    </h2>
                                    <p>
                                        Descripcion del servicio - parrafo de relleno <br>
                                        Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto,
                                    </p>
                                    <!--<h3 class="box_header margin_top_10">
                                        Did you know that?
                                    </h3>
                                    <h3 class="sentence">
                                        Quick naps not only improve your alertness, but they also help in decision making, creativity and sensory perception.
                                    </h3>-->
                                    <ul class="controls page_margin_top">
                                        <li>
                                            <a href="#gallery-details-close" class="close"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="prev icon_small_arrow left_black"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="next icon_small_arrow right_black"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>








                    <li id="gallery-details-23" class="gallery_item_details clearfix">
                        <div class="columns no_width">
                            <div class="column_left">
                                <div class="gallery_box">
                                    <img src="{{ asset('template/images/samples/480x300/biosaludable.jpg')}}" alt=""/>
                                    <ul class="controls">
                                        <li>
                                            <a href="{{ asset('template/images/samples/biosaludable.jpg')}}" rel="gallery_item_8" class="fancybox open_lightbox"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column_right">
                                <div class="details_box">
                                    <h2>
                                        Producto Biosaludables
                                    </h2>
                                    <p>
                                        Moldear el cuerpo, combatir celulitis y flacidez  <br>
                                        Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto,
                                    </p>
                                    <!--<h3 class="box_header margin_top_10">
                                        Did you know that?
                                    </h3>
                                    <h3 class="sentence">
                                        Quick naps not only improve your alertness, but they also help in decision making, creativity and sensory perception.
                                    </h3>-->
                                    <ul class="controls page_margin_top">
                                        <li>
                                            <a href="#gallery-details-close" class="close"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="prev icon_small_arrow left_black"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="next icon_small_arrow right_black"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>



                </ul>

                <ul class="tabs_navigation isotope_filters page_margin_top clearfix">
                    <li>
                        <a class="selected" href="#filter=*" title="All Departments">
                            Todos los productos
                        </a>
                    </li>


                    <!-- desde aqui borrar-->


                </ul>
                <ul class="gallery gallery_4_columns">
                    <!-- 1 masaje deportivo-->
                    <li class=" masaje-deportivo gallery_box" id="gallery-item-1">
                        <img src="{{ asset('template/images/samples/480x300/brassier.jpg')}}" alt="" />
                        <div class="description">
                            <h3>
                                Brassier 1
                            </h3>
                            <!--<h5>
                                Breve desc
                            </h5>-->
                        </div>
                        <ul class="controls">
                            <li>
                                <a href="#gallery-details-1" class="open_details"></a>
                            </li>
                            <li>
                                <a href="{{ asset('template/images/samples/brassier.jpg')}}" rel="gallery_item_1_main" class="fancybox open_lightbox"></a>
                            </li>
                        </ul>
                    </li>
                    <!-- fin 1 para masaje deportivo-->



                    <!-- 1 postoperario-->
                    <li class="postoperario gallery_box" id="gallery-item-2">
                        <img src="{{ asset('template/images/samples/480x300/perfumes.jpg')}}" alt="" />
                        <div class="description">
                            <h3>
                                Perfumes
                            </h3>
                            <!--<h5>
                                 Descripcion del servicio
                             </h5>-->
                        </div>
                        <ul class="controls">
                            <li>
                                <a href="#gallery-details-15" class="open_details"></a>
                            </li>
                            <li>
                                <a href="{{ asset('template/images/samples/perfumes.jpg')}}" rel="gallery_item_2_main" class="fancybox open_lightbox"></a>
                            </li>
                        </ul>
                    </li>


                    <!-- 1 fin postoperario-->

                    <!-- 1 maquilla social-->
                    <li class="maquillaje_social gallery_box" id="gallery-item-2">
                        <img src="{{ asset('template/images/samples/480x300/fajas.jpg')}}" alt="" />
                        <div class="description">
                            <h3>
                                Fajas
                            </h3>
                            <!--<h5>
                                 Descripcion del servicio
                             </h5>-->
                        </div>
                        <ul class="controls">
                            <li>
                                <a href="#gallery-details-2" class="open_details"></a>
                            </li>
                            <li>
                                <a href="{{ asset('template/images/samples/fajas.jpg')}}" rel="gallery_item_2_main" class="fancybox open_lightbox"></a>
                            </li>
                        </ul>
                    </li>
                    <!-- 1 fin maquillaje social-->







                    <!-- 1 micropigmentacion social-->
                    <li class="micropigmentacion gallery_box" id="gallery-item-18">
                        <img src="{{ asset('template/images/samples/480x300/cosmeticos.jpg')}}" alt="" />
                        <div class="description">
                            <h3>
                                Cosmeticos
                            </h3>
                            <!--<h5>
                                Primary health care clinic
                            </h5>-->
                        </div>
                        <ul class="controls">
                            <li>
                                <a href="#gallery-details-8" class="open_details"></a>
                            </li>
                            <li>
                                <a href="{{ asset('template/images/samples/cosmeticos.jpg')}}" rel="gallery_item_8_main" class="fancybox open_lightbox"></a>
                            </li>
                        </ul>
                    </li>

                    <!-- 1 din micropigmentacion social-->

                    <!-- tratamiento-corporal-->

                    <li class="tratamiento-corporal gallery_box" id="gallery-item-23">
                        <img src="{{ asset('template/images/samples/480x300/biosaludable.jpg')}}" alt="" />
                        <div class="description">
                            <h3>
                                Producto Biosaludables
                            </h3>
                            <!--<h5>
                                Primary health care clinic
                            </h5>-->
                        </div>
                        <ul class="controls">
                            <li>
                                <a href="#gallery-details-23" class="open_details"></a>
                            </li>
                            <li>
                                <a href="{{ asset('template/images/samples/biosaludable.jpg')}}" rel="gallery_item_8_main" class="fancybox open_lightbox"></a>
                            </li>
                        </ul>
                    </li>

                    <!-- end tratamiento-corporal-->




                </ul>
            </div>
        </div>
    </div>
{% endblock %}


