{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('plugins/font-awesome/css/font-awesome.css') }}">
    <style>
        body {
            background: #ddd;
            width: 100%;
            height: 100vh;
            position: relative;
            font-size: 2em;
        }

        h1 {
            color: #c7c7c7;
            font-weight: 200;
            text-align: center;
            position: absolute;
            top: 45%;
            width: 100%;
        }

        h3 {
            color: #FFFFFF;
            font-weight: bold;
            border-bottom: 1px solid #eee;
            padding: 10px;
            margin: 0;
            margin-bottom: 15px !important;
            width: 100%;
            background: #007fed;

        }

        p {
            color: #001818;
            margin: 20px;
        }



        .wrap {
            position: absolute;
            overflow: hidden;
            top: 10%;
            right: 10%;
            bottom: 85px;
            left: 10%;
            padding: 20px 00px;
            padding-top:0 !important ;
            display: block;
            border-radius: 4px;
            transform: translateY(20px);
            transition: all 0.5s;
            visibility: hidden;
        }
        .wrap .content {
            opacity: 0;
        }
        .wrap:before {
            position: absolute;
            width: 1px;
            height: 1px;
            background: white;
            content: "";
            bottom: 10px;
            left: 50%;
            top: 95%;
            color: #fff;
            border-radius: 50%;
            -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        .wrap.active {
            display: block;
            visibility: visible;
            box-shadow: 2px 3px 16px silver;
            transition: all 600ms;
            transform: translateY(0px);
            transition: all 0.5s;
        }
        .wrap.active:before {
            height: 1500px;
            width: 1500px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            margin-left: -1000px;
            margin-top: -1000px;
            display: block;
            -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        .wrap.active .content {
            position: relative;
            z-index: 1;
            opacity: 1;
            transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        a.button {
            padding: 11px 11px 13px 13px;
            outline: none;
            border-radius: 50%;
            background: #007fed;
            color: #fff;
            font-size: 24px;
            display: block;
            position: fixed;
            left: 50%;
            bottom: 20px;
            top: auto;
            margin-left: -25px;
            transition: transform 0.25s;
        }
        a.button:hover {
            text-decoration: none;
            background: #2198ff;
        }
        a.button.active {
            transform: rotate(135deg);
            transition: transform 0.5s;
        }

        .dsb
        {
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            width: 100px;
            height: 100px;
            padding: 50px;
            border-radius: 100px;
            background: #00498f;
            color: #FFF;
        }

        .dsb2, .dsb3
        {
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            height: 200px;
            border: 1px solid #999;
            border-radius: 100px;
            color: #FFF;
            -webkit-border-radius: 100px;
            border-color: #00498F;
            -webkit-animation: pulsate 2s ease-out;
            -webkit-animation-iteration-count: infinite; 
            opacity: 0.0
        }
        .dsb3
        {
            -webkit-animation: pulsate 2s ease !important;
            -webkit-animation-iteration-count: infinite !important; 
            opacity: 0.0
        }
        @-webkit-keyframes pulsate {
            0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
            50% {opacity: 1.0;}
            100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
        }

        .check
        {
            text-align: center;
        }
        i{
            margin: 0 auto;
            color: #FFF;
        }
        .btsn
        {
            margin-top: 20px;
            display: block;
            padding: 10px;
            background: #2198ff;
            width: 100px;

        }

        p
        {
            text-align: center;
        }

        .txtreturn{
            text-align: center;
            margin-top: 120px;
            color: #0d6aad !important
        }

        .txtreturn > a >i{
            color: #000;
        }

        .btn{
            padding: 10px;
            font-size: 17px;
            text-decoration: none;
            border-radius: 5px;
            font-family: "sans-serif";
        }

        .btn-primary{
            background: #3a5dcb;
            border-color: #3b5fc6;
            color:#FFF;
        }

        .btn.btn-primary i{
            color:#FFF;
        }

    </style>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('plugins/js/jquery-3.2.1.min.js') }}"></script>
    <script>

        $(document).ready(function(){
            $('.wrap, a').toggleClass('active');
            return false;
        });

    </script>
{% endblock %}
{% block body %}


    <h1>Informacion del sistema</h1>
    <div class='wrap'>
        <div class='content'>

            <h3><img src="{{ asset('img/logo.png') }}" alt="">
                Enhorabuena
            </h3>
            <p >

            Hemos recivido tu mensaje, te daremos pronta respuesta!
                </p>
           <div class="dsb2">
           </div>
            <div class="dsb3"></div>
            <div class="check" >
                    <i class="dsb fa fa-check fa-3x"></i>
                <br>
                <br><br>

            </div>
            <p class="txtreturn">
                <a class='btn btn-primary' href='{{ path('homepage') }}'> <i class="fa fa-home" ></i> Regresar</a>
            </p>

        </div>
    </div>

{% endblock %}