<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

{{ form_start(form, {'attr' : { 'class': 'contact_form'} }) }}
{{ form_end(form)}}

</body>
</html>