<div class="footer_container">
    <div class="footer">
        <br>
        <div class="footer_box_container clearfix">
            <div class="footer_box">
                <h3 class="box_header">
                    Nuestras Instalaciones
                </h3>
                <p class="info justify">
                    Encuentranos en la siguiente direccion o si gustas llamanos a los telefonos que aparecen a continuación.
                </p>
                <ul class="footer_contact_info_container clearfix">
                    <li class="footer_contact_info_row">
                        <div class="footer_contact_info_left">
                            Casamayorga
                        </div>
                    </li>
                    <li class="footer_contact_info_row">
                        <div class="footer_contact_info_left">
                            Cra. 18 #13b-56 Alfonso Lopez
                        </div>
                    </li>
                    <li class="footer_contact_info_row">
                        <div class="footer_contact_info_left">
                            Tel: (5) 5800490
                        </div>
                    </li>
                    <li class="footer_contact_info_row">
                        <div class="footer_contact_info_left">
                            <a href="mailto:medicenter@mail.com" title="Send Email">
                                recepcion@casamayorga.com
                            </a>
                        </div>

                    </li>
                </ul>
                <ul class="social_icons clearfix">
                    <li>
                        <a class="social_icon facebook" href="https://www.facebook.com/Casa-Mayorga-1705500439500435/" title="" target="_blank">
                            &nbsp;
                        </a>
                    </li>
                    <li>
                        <a class="social_icon instagram" href="https://www.instagram.com/casamayorgavalledupar/" title="" target="_blank">
                            &nbsp;
                        </a>
                    </li>
                    <li>
                        <a class="social_icon googleplus" href="#" title="">
                            &nbsp;
                        </a>
                    </li>
                    <li>
                        <a class="social_icon mail" href="mailto:medicenter@mail.com" title="">
                            &nbsp;
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_box">
                <div class="clearfix">
                    <div class="header_left">
                        <h3 class="box_header">
                            Comentarios
                        </h3>

                    </div>

                    <div class="header_right" style="background: red;" >

                        <a href="#" id="footer_recent_posts_prev" class="scrolling_list_control_left icon_small_arrow left_white"></a>
                        <a href="#" id="footer_recent_posts_next" class="scrolling_list_control_right icon_small_arrow right_white"></a>
                    </div>
                </div>
                <div class="scrolling_list_wrapper">
                    <ul class="scrolling_list footer_recent_posts">
                        <li class="icon_small_arrow right_white">
                            <a href="{{ path('contactar') }}">
                                Mi recuperación fue exitosa, excelente servicio, gracias por su hospitalidad.
                            </a>
                            <strong class="testimonial">Luis Gamarra</strong>
                            {#<abbr title="29 May 2017" class="timeago">29 May 2017</abbr>#}
                        </li>
                        <li class="icon_small_arrow right_white">
                            <a href="{{ path('contactar') }}">
                                Excelente atencion, muchas gracias por la ayuda <br>en mi recuperación.
                            </a>
                            <strong class="testimonial">Lorena Villegas</strong>
                            {#<abbr title="29 May 2017" class="timeago">29 May 2017</abbr>#}
                        </li>

                    </ul>
                </div>
            </div>
            <div class="footer_box last">
                <div class="clearfix">
                    <div class="header_left">
                        <h3 class="box_header">
                            Presiona click sobre el marker rojo para ubicarnos en: Cra. 18 #13b-56 Alfonso Lopez
                        </h3>
                    </div>
                    <!--
                    <div class="header_right">
                        <a href="#" id="latest_tweets_prev" class="scrolling_list_control_left icon_small_arrow left_white"></a>
                        <a href="#" id="latest_tweets_next" class="scrolling_list_control_right icon_small_arrow right_white"></a>
                    </div>-->
                </div>
                <div class="scrolling_list_wrapper map" id="maps" style="position:relative;width:400px; height: 230px">

                    <div id="googleMap" style="width:100%;height:230px;"></div>


                    <div >
                       {# <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.3442383204174!2d-73.25748054904258!3d10.47350571254466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8ab9c8c2c44237%3A0x8d83cc197fcec42a!2sCra.+18+%2313b-56%2C+Valledupar%2C+Cesar!5e0!3m2!1ses-419!2sco!4v1514070499493" width="400" height="230" frameborder="0" style="border:0" allowfullscreen="false" ></iframe>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_area clearfix">
            <div class="copyright_left">
                © Copyright - <a href="#" title="Duvg Corporation" >duvgcorp</a> by <a href="#" title="Rubikapp S.A.S" target="_blank">Rubikapp S.A.S</a>
            </div>
            <div class="copyright_right">
                <a class="scroll_top icon_small_arrow top_white" href="#top" title="Scroll to top">Arriba</a>
            </div>
        </div>
    </div>
</div>
<style>

</style>

{#<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIdWgv4x6DMjvFWCfIHeGKng-YJykOwKA&callback=initMap"></script>#}
<script>
    function myMap() {/*
        var mapProp= {
            center:new google.maps.LatLng(10.473507,-73.257529),
            zoom:12,
        };
        var latlng = new google.maps.LatLng(10.473507,-73.257529);
        var marker = new google.maps.Marker({
            position: latilongi,
            title: 'new marker',
            draggable: true,
            map: map
        });
        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        map.setCenter(marker.getPoisition());*/
    }

    function initMap() {
        var myLatLng = {lat: 10.473507, lng: -73.257529};

        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom:16,
            center: myLatLng,
            streetViewControl: false,
        });



        var contentString ='<div style="width:200px;">'+
            '<h2>Casamayorga</h2>'+
            '<strong>Carrera 18 #13b-56</strong>'+
            '<img src=\"{{ asset("img/empresa.jpeg") }}\" width="200px">'+
            '</div>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 600
        });



        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'casamayorga'
        });








        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });

        if(window.location.pathname == "/contactar"){
            var maps = new google.maps.Map(document.getElementById('googleMap2'), {
                zoom:16,
                center: myLatLng,
                streetViewControl: false,
            });
            var contentStrings ='<div style="width:200px;">'+
                '<h2>Casamayorga</h2>'+
                '<strong>Carrera 18 #13b-56</strong>'+
                '<img src=\"{{ asset("img/empresa.jpeg") }}\" width="200px">'+
                '</div>';
            var infowindows = new google.maps.InfoWindow({
                content: contentStrings,
                maxWidth: 600
            });
            var markert = new google.maps.Marker({
                position: myLatLng,
                map: maps,
                title: 'casamayorga'
            });
            markert.addListener('click', function() {
                infowindows.open(maps, markert);
            });

        }


    }


</script>



<script>  /*
     .place-card-medium{
        display: none !important;
    }*/

/*

    function initMap() {
        //,,17

        var uluru = {lat: 10.473507, lng: -73.257529};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru,
            streetViewControl: true,
            mapTypeControl: true
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }*/

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS0QEXG-hCTXTXU4RZB9XTRfwajZE-o58&callback=initMap"></script>