<div class="header_container">
    <div class="header clearfix">
        <div class="header_left">
            <a href="/" title="CASAMAYORGA">
                <img src="{{ asset('img/nlogo.png') }}" alt="logo"  style="width: 350px; margin-top: -30px;"/>
            </a>
        </div>
        <ul class="sf-menu header_right">
            <li class="submenu " id="selected">
                <a href="/" title="HOME">
                    INICIO
                </a>
            </li>
            <li class="submenu">
                <a href="{{ path('quienessomos') }}" title="Blog">
                    QUIENES SOMOS
                </a>

            </li>
            <li class="submenu">
                <a href="{{ path('servicios') }}" title="PAGES">
                    SERVICIOS
                </a>

            </li>
            <li class="submenu">
                <a href="{{ path('productos') }}" title="Gallery">
                    PRODUCTOS
                </a>


            </li>
            <li class="submenu">
                <a href="{{ path('pqrs') }}" title="CONTACT">
                    PQRS
                </a>
            </li>
            <li class="submenu">
                <a href="{{ path('contactar') }}" title="CONTACT">
                    CONTACTAR
                </a>
            </li>
            <li class="submenu">
                <a href="{{ path('listar_solicitudes') }}" title="CONTACT">
                    ENTRAR
                </a>
            </li>
        </ul>

        <div class="mobile_menu">
            <select>
                <option value="/">- Inicio</option>
                <option value="{{ path('quienessomos') }}">- Quienes Somos</option>
                <option value="{{ path('servicios') }}">- Servicios</option>
                <option value="{{ path('productos') }}l">- Galeria</option>
                <option value="{{ path('contactar') }}">- Contactar</option>
                <option value="{{ path('listar_solicitudes') }}">- Entrar</option>
            </select>
        </div>
    </div>
</div>
