{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Registro de Usuario Exitoso</h3>
				</div>
				<div class="panel-body">
					<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    				
	                <a href="{{ path('listar_solicitudes') }}" class="btn btn-success">Entrar</a>
				</div>
			</div>
			
			
                
        </section>
    </div>
</div>

    
{% endblock fos_user_content %}