{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}

    <style>
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }



        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    </style>
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    {% if servicio is not defined %}

        Registrar Noticia
    {% else %}
        Editar Noticia
    {% endif %}
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos de la Noticia</h2>

                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    {{ form_start(form) }}

                    <div class="col-md-8">
                        <div class="form group">
                            {{ form_label(form.titulo, 'Titulo del servicio') }}
                            {{ form_widget(form.titulo, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.titulo) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.contenido, 'Contenido del servicio:') }}
                            {{ form_widget(form.contenido, { 'attr':{ 'class': 'form-control', 'tabindex':'3', 'rows':'8' } }) }}
                            {{ form_errors(form.contenido) }}
                        </div>

                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.imagen, 'Imagen de la noticia') }}<br>
                        {% if post is not defined %}
                            <img id="blah" src=" " width="280" height="210"  alt="" />
                        {% else %}
                            <img id="blah" src=" {{ asset('uploads/servicios/') ~ imagen }}" width="280" height="210"  alt="" />
                        {% endif %}

                        <div class="upload-btn-wrapper">
                            <span class="btn btn-primary">Subir una imagen</span>
                        {{ form_widget(form.imagen, { 'attr':{ 'class': 'form-control', 'tabindex':'1', 'onchange':"preview(this);" } }) }}
                        </div>
                        {{ form_errors(form.imagen) }}

                    </div>
                    <div class="col-md-12">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar'}) }}
                        <a href="{{ path('listar_posts') }}" class="btn btn-danger">Cancelar</a>


                    </div>

                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>




    <script type="text/javascript">

    </script>
<script>
    /*date time picker*/
    $(function () {
        var datetimepicker
        $('#datetimepicker1').datetimepicker({
            locale:'es'

        });
    });


    var $departamento = $('#appbundle_cliente_departamento');


    $departamento.change(function(){
        var $form = $(this).closest('form');

        var data = {};
        data[$departamento.attr('name')] = $departamento.val();
        $('#appbundle_cliente_municipio').attr('disabled','disabled');
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function(html){
                $('#appbundle_cliente_municipio').removeAttr('disabled');
                $('#appbundle_cliente_municipio').replaceWith(
                    $(html).find('#appbundle_cliente_municipio')
                );
            }

        });
    });


    //preview de la imagen
    function preview(input)
    {
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                $("#blah")
                    .attr('src', e.target.result)
                    .width(280)
                    .height(210)
            }
            reader.readAsDataURL(input.files[0]);

        }
    }

</script>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}