{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}

    <style>
        .checkbox-inline, .radio-inline
        {
            padding-left: 0 !important;
        }
        .cheks input
        {
            margin-right: 3px;
            margin-left: 10px;
        }
    </style>
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    {% if historia is not defined %}

        Registrar Historia
    {% else %}


        Editar Historia
    {% endif %}
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Historia - consecutivo y fecha </h2>

                    <div class="clearfix"></div>
                </div>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-3  col-xs-12">
                        <div class="form group">
                            {{ form_label(form.consecutivo, 'Historia N°') }}
                            {{ form_widget(form.consecutivo,
                                { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.consecutivo) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="fecha">Fecha</label>
                        <input type="text" value="{{ 'now'|date('d - m -Y') }}" class="form-control" readonly tabindex="2">
                    </div>
                </div>
                <br>
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos del paciente</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="documento">Número Documento</label>
                            <input type="text" id="documento" class="form-control" tabindex="3">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" id="apellidos" class="form-control" tabindex="4">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" class="form-control" tabindex="5">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="ocupacion">Ocupación</label>
                            <input type="text" id="ocupacion" class="form-control" tabindex="6">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="telefono">Telefono</label>
                            <input type="text" id="telefono" class="form-control" tabindex="7">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="municipio">Ciudad</label>
                            <input type="text" id="municipio" class="form-control" tabindex="8">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form group">
                            <label for="direccion">Dirección</label>
                            <input type="text" id="direccion" class="form-control" tabindex="9">
                        </div>
                    </div>

                </div>

                <br>
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos de la consulta</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.motivoconsulta, 'Motivo de la consulta:') }}
                            {{ form_widget(form.motivoconsulta, { 'attr':{ 'class': 'form-control', 'tabindex':'10' } }) }}
                            {{ form_errors(form.motivoconsulta) }}
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.enfermedadactual, 'Enfermedad Actual:') }}
                            {{ form_widget(form.enfermedadactual, { 'attr':{ 'class': 'form-control', 'tabindex':'11' } }) }}
                            {{ form_errors(form.enfermedadactual) }}
                        </div>
                    </div>
                </div>

                {# antecedentes #}
                <br>
                <div class="x_title">
                    <h2 style="font-size: 18px;">Antecedentes</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group">
                        <label for="Persoales" style="margin-top: 3px" >Personales:</label>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="cheks">
                        {{ form_label(form.antalcohol ) }}
                        {{ form_widget(form.antalcohol, {'attr':{'class':'checkbox-inline', 'tabindex':'12'}}) }}
                        {{ form_errors(form.antalcohol) }}

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="cheks">
                            {{ form_label(form.antcigarrillos ) }}
                            {{ form_widget(form.antcigarrillos, {'attr':{'class':'checkbox-inline', 'tabindex':'13'}}) }}
                            {{ form_errors(form.patologicos) }}
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.otros, 'Otrol:') }}
                            {{ form_widget(form.otros, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.otros) }}
                        </div>
                    </div>
                </div>

                {#examen fisico#}
                <br>
                <div class="x_title">
                    <h2 style="font-size: 18px;">Examen Fisico</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.patologicos, 'Patologicos:') }}
                            {{ form_widget(form.patologicos, { 'attr':{ 'class': 'form-control', 'tabindex':'15' } }) }}
                            {{ form_errors(form.patologicos) }}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.ginecologicos, 'Ginecologicos:') }}
                            {{ form_widget(form.ginecologicos, { 'attr':{ 'class': 'form-control', 'tabindex':'16' } }) }}
                            {{ form_errors(form.ginecologicos) }}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.menarquia, 'Menarquia:') }}
                            <div class='input-group date' id='datetimepicker1'>
                                {{ form_widget(form.menarquia, {attr: {
                                    'data-format': "dd/MM/yyyy HH:mm",
                                    'class':'form-control',
                                    'tabindex':'17'},
                                }) }}
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            {{ form_errors(form.menarquia) }}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.fum, 'Fum:') }}
                            <div class='input-group date' id='datetimepicker2'>
                                {{ form_widget(form.fum, {attr: {
                                    'data-format': "dd/MM/yyyy HH:mm",
                                    'class':'form-control',
                                    'tabindex':'18'},
                                }) }}
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            {{ form_errors(form.fum) }}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.quirurgicos, 'Aquirurgicos:') }}
                            {{ form_widget(form.quirurgicos, { 'attr':{ 'class': 'form-control', 'tabindex':'19' } }) }}
                            {{ form_errors(form.quirurgicos) }}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.alergicos, 'Alergicos:') }}
                            {{ form_widget(form.alergicos, { 'attr':{ 'class': 'form-control', 'tabindex':'20' } }) }}
                            {{ form_errors(form.alergicos) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.tA, 'T/A:') }}
                            <div class='input-group date' id='datetimepicker3'>
                                {{ form_widget(form.tA, {attr: {
                                    'data-format': "dd/MM/yyyy HH:mm",
                                    'class':'form-control',
                                    'tabindex':'21'},
                                }) }}
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            {{ form_errors(form.tA) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.fcardiaca, 'FC:') }}
                            {{ form_widget(form.fcardiaca, { 'attr':{ 'class': 'form-control', 'tabindex':'22' } }) }}
                            {{ form_errors(form.fcardiaca) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.frespiratoria, 'FR:') }}
                            {{ form_widget(form.frespiratoria, { 'attr':{ 'class': 'form-control', 'tabindex':'23' } }) }}
                            {{ form_errors(form.frespiratoria) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.temperaturac, 'T°C:') }}
                            {{ form_widget(form.temperaturac, { 'attr':{ 'class': 'form-control', 'tabindex':'24' } }) }}
                            {{ form_errors(form.temperaturac) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.peso, 'Peso kg:') }}
                            {{ form_widget(form.peso, { 'attr':{ 'class': 'form-control', 'tabindex':'25' } }) }}
                            {{ form_errors(form.peso) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.talla, 'Talla cm:') }}
                            {{ form_widget(form.talla, { 'attr':{ 'class': 'form-control', 'tabindex':'26' } }) }}
                            {{ form_errors(form.talla) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.imc, 'Imc:') }}
                            {{ form_widget(form.imc, { 'attr':{ 'class': 'form-control', 'tabindex':'27' } }) }}
                            {{ form_errors(form.imc) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-12">
                        <div class="form-grpup">
                            <label for="" style="opacity: 0;">__</label>
                            <input type="text" id="estado" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.estadogeneral, 'Estado General:') }}
                            {{ form_widget(form.estadogeneral, { 'attr':{ 'class': 'form-control', 'tabindex':'28' } }) }}
                            {{ form_errors(form.estadogeneral) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.cabeza, 'Cabeza:') }}
                            {{ form_widget(form.cabeza, { 'attr':{ 'class': 'form-control', 'tabindex':'29' } }) }}
                            {{ form_errors(form.cabeza) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.ojos, 'Ojos:') }}
                            {{ form_widget(form.ojos, { 'attr':{ 'class': 'form-control', 'tabindex':'30' } }) }}
                            {{ form_errors(form.ojos) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.boca, 'Boca:') }}
                            {{ form_widget(form.boca, { 'attr':{ 'class': 'form-control', 'tabindex':'31' } }) }}
                            {{ form_errors(form.boca) }}
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.cuello, 'Cuello:') }}
                            {{ form_widget(form.cuello, { 'attr':{ 'class': 'form-control', 'tabindex':'32' } }) }}
                            {{ form_errors(form.cuello) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.torax, 'Torax:') }}
                            {{ form_widget(form.torax, { 'attr':{ 'class': 'form-control', 'tabindex':'33' } }) }}
                            {{ form_errors(form.torax) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.cardiovascular, 'Cardiovascular:') }}
                            {{ form_widget(form.cardiovascular, { 'attr':{ 'class': 'form-control', 'tabindex':'34' } }) }}
                            {{ form_errors(form.cardiovascular) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.abdomen, 'Abdomen:') }}
                            {{ form_widget(form.abdomen, { 'attr':{ 'class': 'form-control', 'tabindex':'35' } }) }}
                            {{ form_errors(form.abdomen) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.extremidades, 'Extremidades:') }}
                            {{ form_widget(form.extremidades, { 'attr':{ 'class': 'form-control', 'tabindex':'36' } }) }}
                            {{ form_errors(form.extremidades) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.gU, 'G/U:') }}
                            {{ form_widget(form.gU, { 'attr':{ 'class': 'form-control', 'tabindex':'37' } }) }}
                            {{ form_errors(form.gU) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.neurologico, 'Neurologico:') }}
                            {{ form_widget(form.neurologico, { 'attr':{ 'class': 'form-control', 'tabindex':'38' } }) }}
                            {{ form_errors(form.neurologico) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form group">
                            <label for="">Codigo iDX1:</label>
                            <input type="text" class="form-control" id="idx1" tabindex="39">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.iDX1, 'IDX1:') }}
                            {{ form_widget(form.iDX1, { 'attr':{ 'class': 'form-control', 'tabindex':'40' } }) }}
                            {{ form_errors(form.iDX1) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form group">
                            <label for="">Codigo iDX2:</label>
                            <input type="text" class="form-control" id="idx2" tabindex="41">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.iDX2, 'IDX2:') }}
                            {{ form_widget(form.iDX2, { 'attr':{ 'class': 'form-control', 'tabindex':'42' } }) }}
                            {{ form_errors(form.iDX2) }}
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.plantratamiento, 'Plan de Tratamiento:') }}
                            {{ form_widget(form.plantratamiento, { 'attr':{ 'class': 'form-control', 'tabindex':'43' } }) }}
                            {{ form_errors(form.plantratamiento) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.fechaControl, 'Fecha Control:') }}
                            <div class='input-group date' id='datetimepicker4'>
                                {{ form_widget(form.fechaControl, {attr: {
                                    'data-format': "dd/MM/yyyy HH:mm",
                                    'class':'form-control',
                                    'tabindex':'17'},
                                }) }}
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            {{ form_errors(form.fechaControl) }}
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-8 col-xs-11">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Guardar', 'attr':{'tabindex':'44'}}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar', 'attr':{'tabindex':'45'}}) }}
                        <a href="{{ path('listado_historias') }}" class="btn btn-danger" tabindex="46">Cancelar</a>


                    </div>
                    <div class="col-md-4 col-xs-1" style="opacity: 0;">
                        <div class="form group">
                            {{ form_label(form.paciente, 'Paciente') }}
                            {{ form_widget(form.paciente, { 'attr':{ 'class': 'form-control', 'tabindex':'50' } }) }}
                            {{ form_errors(form.paciente) }}

                        </div>
                    </div>


                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>




    <script type="text/javascript">

    </script>
<script>
    /*date time picker*/
    $(function () {
        var datetimepicker;
        $('#datetimepicker1').datetimepicker({
            locale:'es'

        });
        $('#datetimepicker2').datetimepicker({
            locale:'es'

        });
        $('#datetimepicker3').datetimepicker({
            locale:'es'

        });

        $('#datetimepicker4').datetimepicker({
            locale:'es'

        });

    });


    //calcular imc

    //busqueda del usuario por documento cuando persiona enter




    $("#documento").on("keypress", function(e){
        if(e.keyCode == 13)
        {
            var cedula = $("#documento").val();
            var url = '{{ path("buscar_paciente", {'cedula':'cedula'}) }}';
            url = url.replace("cedula", this.value);
            getPaciente(url);
            return false;
        }
    });
    //calcular el imc
    $("#appbundle_historias_talla").focusout(function(e){
        if(this.value != null){
            var peso = $("#appbundle_historias_peso").val();
            var tallan = this.value / 100;
            var talla = Math.pow(tallan, 2);
            var imc = $("#appbundle_historias_imc");
            console.log(talla);
            console.log(peso / talla);

            imc.val((peso / talla).toFixed(2));
            var imcFinal = imc.val();
            var estado = $("#estado");
            setImcEstado(imcFinal, estado);


        }
    });
    $("#idx1").on("keypress", function(e){
        if(e.keyCode == 13)
        {
            var url = '{{ path("buscar_idx", {'codigo':'codigo'}) }}';
            url = url.replace("codigo", this.value);
            getIdx(url, $("#appbundle_historias_iDX1"));
            return false;
        }
    });

    $("#idx2").on("keypress", function(e){
        if(e.keyCode == 13)
        {
            var url = '{{ path("buscar_idx", {'codigo':'codigo'}) }}';
            url = url.replace("codigo", this.value);
            getIdx(url, $("#appbundle_historias_iDX2"));
            return false;
        }
    });

    function getIdx(url, control){
        $.ajax({
            url: url,
            type: "get",
            success: function(response, data){
                console.log(response.data);
                if(response.data == 0){
                    alert("No hay ningun disgnostico relacionado a ese codigo, intente nuevamente");
                    return;
                }

                control.val(response.data[0].id);


            },
            error: function (xhr){
                console.log("Error");
            }


        });
    }
    function getPaciente(url)
    {
        $.ajax({
            url: url,
            type: "get",
            success: function(response, data){
                console.log(response.data);
                $("#nombre").val(response.data[0].nombre);
                $("#apellidos").val(response.data[0].apellidos);
                $("#telefono").val(response.data[0].telefono);
                $("#ocupacion").val(response.data[0].ocupacion);
                $("#direccion").val(response.data[0].direccion);
                $("#municipio").val(response.data[1].nombre);

                $("#appbundle_historias_paciente").val(response.data[0].id);

            },
            error: function (xhr){
                console.log("Error");
            }


        });
    }
    function setImcEstado(imcFinal, estado){
        switch (true){
            case imcFinal < 16.00:
                estado.val("Infrapeso: Delgadez Severa");
                estado.css({'background-color':'#cc0000', 'color':'#FFF'});
                break;
            case imcFinal >= 16.00 && imcFinal <= 16.99:
                estado.val("Infrapeso: Delgadez moderada");
                estado.css({'background-color':'#ff9933','color':'#000'});
                break;
            case imcFinal >= 17.00 && imcFinal <= 18.49:
                estado.val("Infrapeso: Delgadez aceptable");
                estado.css({'backgroun-color':'#ffcc00','color':'#000'});
                break;
            case imcFinal >= 18.50 && imcFinal <= 24.99:
                estado.val("Peso Normal");
                estado.css({'background-color':'#99ff33','color':'#000'});
                break;
            case imcFinal >= 25.00 && imcFinal <= 29.99:
                estado.val("Sobrepeso");
                estado.css({'background-color':'#ffcc00','color':'#000'});
                break;
            case imcFinal >= 30.00 && imcFinal <= 34.99:
                estado.val("Obeso: Tipo I");
                estado.css({'background-color':'#ff9933','color':'#000'});
                break;
            case imcFinal >= 35.00 && imcFinal <= 40.00:
                estado.val("Obeso: Tipo II");
                estado.css({'background-color':'#ff6600','color':'#000'});

                break;
            case imcFinal > 40.00:
                estado.val("Obeso: Tipo III");
                estado.css({'background-color':'#cc0000', 'color':'#FFF'});
                break;
            default:
                break;
        }
    }


    var $departamento = $('#appbundle_cliente_departamento');


    $departamento.change(function(){
        var $form = $(this).closest('form');

        var data = {};
        data[$departamento.attr('name')] = $departamento.val();
        $('#appbundle_cliente_municipio').attr('disabled','disabled');
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function(html){
                $('#appbundle_cliente_municipio').removeAttr('disabled');
                $('#appbundle_cliente_municipio').replaceWith(
                    $(html).find('#appbundle_cliente_municipio')
                );
            }

        });
    });
</script>
    {% if historia is  defined %}
        <script>
            $("#documento").val({{ historia.paciente.documento }})
            var url = '{{ path("buscar_paciente", {'cedula':'cedula'}) }}';
            url = url.replace("cedula", {{ historia.paciente.documento }});
            getPaciente(url);

            var estado = $("#estado");
            setImcEstado($("#appbundle_historias_imc").val(), estado);



        </script>
    {% endif %}


    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}

