{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    {% if historias is empty %}
        Administrar Historias
    {% else %}
        Listado de Historias
    {% endif %}

{% endblock %}
{% block searchbar %}
<div class="col-md-4 col-xs-12 pull-right"  >
    <div style="text-align: right; width: 100%; " >
    <a href="{{ path('crear_historia') }}" class="btn btn-primary">Crear Historia</a></div>
</div>
{% endblock %}
{# /override header block values #}

{% block page_content %}

    {% if historias is empty %}
        <div class="row">
            <div class="col-md-12">
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                        <h1> <i class="fa fa-warning"></i> No hay Historias </h1>
                        <p>Deberias crear una!</p>
                        <a href="{{ path('crear_historia') }}" class="btn btn-primary">Crear Historia</a>

                    </div>
                </div>
            </div>
        </div>

    {% else %}

    <div class="row">
        <div class=" col-mxd-12 col-xs-12" style="margin-bottom: 10px;">
            <storng>Estado de control</storng>
            <br>
            <span style="background: #ff1649; color: #FFF; padding:3px; border-radius:5px;">
                            Caducado
                        </span> &nbsp;
            <span style="background: #00A000; color: #FFF; padding:3px; border-radius:5px;">
                            Para ejecutar Hoy
                        </span> &nbsp;
            <span style="background: #0099ff; color: #FFF; padding:3px; border-radius:5px; ">
                            Proximo
                        </span>

        </div>

    </div>

    <table id="datatable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>Historia N°</th>
            <th>Fecha</th>
            <th>Control</th>
            <th>Docuemtento</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th width="280">Acciones</th>
        </tr>
        </thead>


        <tbody>
        {% for historia  in historias %}

            <tr>
                <td>{{ historia.id}}</td>
                <td>{{ historia.consecutivo}}</td>
                <td>{{ historia.fecha|date('Y-m-d') }}</td>
                <td
                        {% if historia.fechaControl|date('Y-m-d') == fechaActual|date('Y-m-d') %}
                            style="background: #00A000; color: #FFF"
                        {% elseif historia.fechaControl|date('Y-m-d') < fechaActual|date('Y-m-d') %}
                            style="background: #ff1649; color: #FFF"
                        {% else %}
                            style="background: #0099ff; color: #FFF"
                        {% endif %}>
                    {{ historia.fechaControl|date('Y-m-d') }} <br>

                </td>
                <td>{{ historia.paciente.documento }}</td>
                <td>{{ historia.paciente.nombre }}</td>
                <td>{{ historia.paciente.apellidos }}</td>

                <td>
                    <a href="{{ url('editar_historia',{'id': historia.id}) }}" class="btn btn-success btn-xs">
                        <i class="glyphicon glyphicon-pencil"></i> Editar
                    </a>
                    <a href="{{ url('nostas_evolucion',{'id': historia.id}) }}" class="btn btn-info btn-xs">
                        <i class="glyphicon glyphicon-list-alt"></i> Nota de Evolcion
                    </a>
                    <a href="{{ url('imprimir_historia',{'id': historia.id}) }}" class="btn btn-danger btn-xs">
                        <i class="glyphicon glyphicon-save-file"></i> PDF
                    </a>
                    {#<button href="" class="btn btn-danger btn-xs"
                            onclick="eliminarRecord({{ historia.id }})" data-href="/delete.php?id=54"
                            data-toggle="modal" data-target="#confirm-delete" >
                        <i class="glyphicon glyphicon-trash"></i> Eliminar</button>#}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    <style>
        .modal-header-danger
        {
            background: #de4c36;
            color: #FFF;
        }
    </style>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">

                <div class="modal-header modal-header-danger ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Registro?</h4>
                </div>

                <div class="modal-body">
                    <p class="content_delete"></p>
                    <p>Estas seguro de proceder?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger btn-ok" id="deleteRecord">Eliminar</a>
                </div>
            </div>
        </div>
    </div>


    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}


    <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('js/datatablecs.js') }}"></script>
    <script>



        var idHistoria = '';

        //scritps to delete record of table
        function eliminarRecord(id){


            $('.content_delete').html('Seguro que desea eliminar el registro ID #'+id);
            $('.delete_item').html(id);
            idHistoria = id;
        }

        $("#deleteRecord").click(function(){
            var url = "{{ url('eliminar_historia',{'id': 'idHistoria'}) }}";
            url = url.replace('idHistoria', idHistoria);
            $(window.location).attr('href', url);

        });




        /*+' id: '+id +'<br>'
        +' Nombre: '+nombre+'<br>'
        +' Apellidos: '+apellidos+'<br>'
        +' Correo: '+correo+'<br*/
    </script>


{% endblock %}


