<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"> <img src="{{ asset('img/logocs.png') }}" width="35px" alt=""><span>CASAMAYORGA</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            {#<div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>#}
            <div class="profile_info">
                <span>bienvenido,</span>
                <h2>{{ app.user.username }}</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Menú</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ path('listar_solicitudes') }}"><i class="fa fa-home"></i> Inicio </a></li>
                    <li><a><i class="fa fa-edit"></i> Gestión <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('listar_paciente', {'tipo':'afiliado'}) }}">Afiliados</a></li>
                            <li><a href="{{ path('listar_paciente', {'tipo':'paciente'}) }}">Pacientes</a></li>


                            {{ url('editar_afiliado',{'id': afiliado.id}) }}
                        </ul>
                    </li>
                </ul>
            </div>


        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        {#<div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>#}
        <!-- /menu footer buttons -->
    </div>
</div>