.testimonial
{
    font-size:11px;
    color: #42B3E5;
}

.justify{
    text-align: justify;
}

span.blocks{
    color: red !important;
    display: block !important;
}

.cmrf{
    width: 100%;
    height:40px;
    border-radius: 0;
    background: #F0F0F0;
    border-color:#F0F0F0;
}

.cmrfs{
    width: 84% !important;

}
.mdl{
    width: 94% !important;
}

textarea
{
    resize: none;
}
/*
.sf-menu li, .sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active
{
    background: #046efe !important;
    color:#FFF !important;
}
.sf-menu li, .sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover {
 background:    #42B3E5
}
.sf-menu li
{
    margin-left: 0;
}
*/

#selected
{
    background: #046efe !important;
}

.sf-menu.header_right li
{
    color: #FFF !important;
    background: #42B3E5 !important;
}
.sf-menu.header_right li a{
    color: #FFF !important;
}
.sf-menu.header_right li a:hover
{
    color: #454545 !important;
}
#selected, .selected
{
    color: #000 !important;
}

.barstatus{
    background: #046efe;
    padding: 15px;

}
.barstatus *{
    color: #FFF;
}
.clear{
    clear: both;
}

.titledivs
{

    float:left;
}
.breadcrumbs
{
    width: 400px;
    margin-top: 3px;
    float: right;
}
.sf-menu li{
    height: auto;
}

ul.header_right li a
{
    padding: 12px 10px !important;
    font-size: 12px !important;
}




.afiliado input, .afiliado label {
    margin-right: 10px;
    display: inline-block !important;
}
.afiliado label{
    margin-right: 15px;
}


.item_content .text
{
    margin-top: 10px;
}

.noticia{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}

.imagen{
    float: left;
    width: 20%;
}

.imagen img{
    width: 70%;
}

.contenido
{
    text-align: justify;
    float: left;
    width: 80%;
}

.contenido p{
    padding: 0;
}


