{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}


{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    Nueva Nota de Evolcuión
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos de la nota de evolución</h2>

                    <div class="clearfix"></div>
                </div>


                {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form group">
                                <label for="documento">Número Documento</label>
                                <input type="text" id="documento" class="form-control" tabindex="3"
                                value="{{ historia.paciente.documento }}" disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form group">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" id="apellidos" class="form-control" tabindex="4"
                                       value="{{ historia.paciente.apellidos }}" disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form group">
                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" class="form-control" tabindex="5"
                                       value="{{ historia.paciente.nombre }}" disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form group">
                                <label for="ocupacion">Ocupación</label>
                                <input type="text" id="ocupacion" class="form-control" tabindex="6"
                                       value="{{ historia.paciente.ocupacion }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form group">
                                <label for="telefono">Telefono</label>
                                <input type="text" id="telefono" class="form-control" tabindex="7"
                                       value="{{ historia.paciente.telefono }}" disabled>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form group">
                                <label for="municipio">Ciudad</label>
                                <input type="text" id="municipio" class="form-control" tabindex="8"
                                       value="{{ historia.paciente.municipio.nombre }}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form group">
                                <label for="direccion">Dirección</label>
                                <input type="text" id="direccion" class="form-control" tabindex="9"
                                       value="{{ historia.paciente.direccion }}" disabled>
                            </div>
                        </div>

                    </div>

                <div class="row">

                    <div class="col-md-12" >
                        <div class="form group">
                            {{ form_label(form.notas, 'Notas') }}
                            {{ form_widget(form.notas, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.notas) }}
                        </div>

                    </div>



                    <div class="col-md-12">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar'}) }}
                        <a href="{{ path('listado_historias') }}" class="btn btn-danger">Cancelar</a>



                    </div>

                    <div style="display: none;" >
                        {{ form_label(form.fecha, 'Plan de Tratamiento:') }}
                        {{ form_widget(form.fecha, { 'attr':{ 'class': 'form-control', 'tabindex':'43' } }) }}
                        {{ form_errors(form.fecha) }}

                        <br>
                        {{ form_label(form.historia, 'Plan de Tratamiento:') }}
                        {{ form_widget(form.historia, { 'attr':{ 'class': 'form-control', 'tabindex':'43' } }) }}
                        {{ form_errors(form.historia) }}
                    </div>
                </div>

                {{ form_end(form) }}
                <br>


            </div>
        </div>
    </div>




    <script>
        var $departamento = $('#appbundle_historia_tipoTratamiento');


        $departamento.change(function(){
            var $form = $(this).closest('form');

            var data = {};
            data[$departamento.attr('name')] = $departamento.val();
            $('#appbundle_historia_tratamiento').attr('disabled','disabled');
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function(html){
                    $('#appbundle_historia_tratamiento').removeAttr('disabled');
                    $('#appbundle_historia_tratamiento').replaceWith(
                        $(html).find('#appbundle_historia_tratamiento')
                    );
                },
                error: function(err){
                    console.log(err);
                }

            });
        });


        $("#documento").on("keypress", function(e){
            if(e.keyCode == 13)
            {
                var cedula = $("#documento").val();
                var url = '{{ path("buscar_paciente", {'cedula':'cedula'}) }}';
                url = url.replace("cedula", this.value);
                getPaciente(url);
                return false;
            }
        });

        var datas = [];
        var paciente = {};
        var dataTemp = {};

        function getPaciente(url)
        {
            $.ajax({
                url: url,
                type: "get",
                success: function(response, data){
                    $("#nombre").val(response.data[0].nombre);
                    $("#apellidos").val(response.data[0].apellidos);
                    $("#telefono").val(response.data[0].telefono);
                    $("#ocupacion").val(response.data[0].ocupacion);
                    $("#direccion").val(response.data[0].direccion);
                    $("#municipio").val(response.data[1].nombre);
                    $("#appbundle_historia_paciente").val(response.data[0].id);
                    paciente['paciente'] = response.data[0].id;
                    datas.push(paciente);

                    console.log(datas);

                },
                error: function (xhr){
                    console.log("Error");
                }


            });
        }



        //add i the array
        $("#add").click(function(e){
            e.preventDefault();

            dataTemp['tipoTratamiento'] = $("#appbundle_historia_tipoTratamiento :selected").val();
            dataTemp['tratamiento'] = $("#appbundle_historia_tratamiento :selected").val();

            datas.push({'tipoTratamiento':$("#appbundle_historia_tipoTratamiento :selected").val(),
                        'tratamiento':$("#appbundle_historia_tratamiento :selected").val()
            });

            $('#tabled tr:last').after(
                '<tr><td>'+$("#appbundle_historia_tipoTratamiento :selected").text()+'' +
                '</td><td>'+$("#appbundle_historia_tratamiento :selected").text()+'</td></tr>');

            console.log(dataTemp);
            console.log(datas);
        });

        function removeItem(indice){
                dataTemp.splice(index, indice);
        }



        $("#appbundle_historia_reset").click(function(e){
            e.preventDefault();
            $('form[name="appbundle_historia"]').trigger("reset");
            $("#tabled").find("tr:not(:nth-child(1)):not(:nth-child(2))").remove();
            dataTemp = {};
            data = [];
        });
    </script>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}