{% extends 'base.html.twig' %}
{% block title %}Que opinas sobre nosotros{% endblock %}
{% block titlePage %}
    Encuesta de Satisfacción
{% endblock %}
{% block breadcrumbs %}
    <i class="fa fa-home" aria-hidden="true"></i><a href="" style="text-decoration: underline; margin-left: 4px;">Inicio</a>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a href="{{ path('contactar') }}" style="text-decoration: underline; margin-left: 4px;">PQRS</a>
{% endblock %}
{% block body %}
    <script type="text/javascript" src="{{ asset('template/js/jquery-1.12.4.min.js') }}"></script>
    <div class="page relative">
        <div class="page_layout page_margin_top clearfix">

            <div class="clearfix">

                <div class="page_margin_top clearfix">
                    <div class="page_left">
                        <h3 class="box_header">
                            Porfavor diligencie el formulario
                        </h3>
                        <br>
                        <span class="justify" style="display: block">
                            Es importante para nosotros saber tu opinion acerca de nuestros servicios
                        </span>
                        {{ form_start(form, {'attr' : { 'class': 'contact_form'} }) }}
                        <fieldset class="left">
                            {{ form_label(form.nombre) }}
                            <div class="block">
                                {{ form_widget(form.nombre, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.nombre, {attr:{ class: 'text_input' }}) }}
                            </div>

                            {{ form_label(form.email, 'Email') }}
                            <div class="block">
                                {{ form_widget(form.email, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.email, {attr:{ class: 'text_input' }}) }}
                            </div>



                        </fieldset>
                        <fieldset class="right" >
                            {{ form_label(form.apellidos,'Apelldios') }}
                            <div class="block">
                                {{ form_widget(form.apellidos, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.apellidos, {attr:{ class: 'text_input' }}) }}
                            </div>

                            {{ form_label(form.apellidos,'Telefono') }}
                            <div class="block">
                                {{ form_widget(form.telefono, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.telefono, {attr:{ class: 'text_input' }}) }}
                            </div>


                        </fieldset>


                        <fieldset style="clear:both;">
                            {{ form_label(form.respuesta1,'¿Qué le gusta más en nuestro nuevo servicio?') }}
                            <div class="block">
                            {{ form_widget(form.respuesta1) }}
                                {{ form_errors(form.respuesta2) }}
                            </div>
                            <br>

                            {{ form_label(form.respuesta2,'¿Qué cambios, según usted, mejorarían más nuestro nuevo servicio?') }}
                            <div class="block">
                                {{ form_widget(form.respuesta2) }}
                                {{ form_errors(form.respuesta2, {attr:{ class: 'text_input' }}) }}
                            </div>
                            <br>

                            {{ form_label(form.respuesta3,'¿Qué haría aumentar su potencial interés en nuestro nuevo servicio?') }}
                            <div class="block">
                                {{ form_widget(form.respuesta3) }}
                                {{ form_errors(form.respuesta3) }}
                            </div>
                            <br>

                            {{ form_label(form.respuesta4, '¿Cuál es su impresión general al usar nuestro servicio nuevo?') }}
                            <div class="block">
                                {{ form_widget(form.respuesta4, {attr:{ class: 'cmrf' }}) }}
                                {{ form_errors(form.respuesta4, {attr:{ class: 'cmrf' }}) }}
                            </div>
                            <br>

                            {{ form_label(form.respuesta5, '¿Si fuera nuestro nuevo servicio disponible en el mercado, lo recomendaría?') }}
                            <div class="block">
                                {{ form_widget(form.respuesta5, {attr:{ class: 'cmrf' }}) }}
                                {{ form_errors(form.respuesta5, {attr:{ class: 'cmrf' }}) }}
                            </div>
                            <br>
                            {{ form_widget(form.enviar, {attr:{ class: 'more blue' }}) }}

                        </fieldset>




                        {{ form_end(form) }}

                    </div>
                    <div class="page_right">
                        <h3 class="box_header">
                            Tratamiento postoperación
                        </h3>
                        <h3 class="sentence">
                            Tratamientos postoperación para recuperacion muscaular, facial y corporal
                        </h3>
                        <ul class="columns no_padding page_margin_top clearfix">
                            <li class="column_left">
                                Casa mayorga<br />
                                Cra. 17 #13b-56 <br />
                                Alfonso Lopez<br />

                            </li>
                            <li class="column_right">
                                Telfono: +57 5800490<br />
                                Valledupar - Cesar
                            </li>
                        </ul>
                        <ul class="contact_data page_margin_top">

                            <li class="clearfix">
                                <span class="social_icon mail"></span>
                                <p class="value">
                                    E-mail: <a href="mailto: contactenos@casamayorga.com"> contactenos@casamayorga.com</a>
                                </p>
                            </li>
                            <li class="clearfix">
                                <span class="social_icon facebook"></span>
                                <p class="value">
                                    <a href="http://facebook.com/QuanticaLabs" title="Facebook" target="_blank">facebook.com/medicenter</a>
                                </p>
                            </li>
                            <li class="clearfix">
                                <span class="social_icon twitter"></span>
                                <p class="value">
                                    <a href="http://twitter.com/QuanticaLabs" title="Twitter" target="_blank">twitter.com/medicenter</a>
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div id="map"></div>
{% endblock %}

{% block stylesheets %}

{% endblock %}


