{% extends 'base.html.twig' %}
{% block title %}Quienes somos{% endblock %}
{% block titlePage %}
    PQRS
{% endblock %}
{% block breadcrumbs %}
    <i class="fa fa-home" aria-hidden="true"></i><a href="" style="text-decoration: underline; margin-left: 4px;">Inicio</a>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a href="{{ path('contactar') }}" style="text-decoration: underline; margin-left: 4px;">PQRS</a>
{% endblock %}
{% block body %}
    <script type="text/javascript" src="{{ asset('template/js/jquery-1.12.4.min.js') }}"></script>
    <div class="page relative">
        <div class="page_layout page_margin_top clearfix">

            <div class="clearfix">

                <div class="page_margin_top clearfix">
                    <div class="page_left">
                        <h3 class="box_header">
                            Formulario de PQRS
                        </h3>
                        <br>
                        <span class="justify" style="display: block">
                            FORMULARIO PARA USO EXLUSIVO DE NUESTROS AFILIADOS Y BENEFICIARIOS DE CASAMAYORGA: Registre aquí sus Peticiones, Quejas o Reclamos relacionados “exclusivamente” con los servicios que brindamos.
                        </span>
                        {{ form_start(form, {'attr' : { 'class': 'contact_form'} }) }}
                        <fieldset class="left">
                            {{ form_label(form.tipoDocuemnto) }}
                            <div class="block">
                                {{ form_widget(form.tipoDocuemnto, {attr:{ class: 'cmrf' }}) }}
                                {{ form_errors(form.tipoDocuemnto, {attr:{ class: 'cmrf' }}) }}
                            </div>

                            {{ form_label(form.nombre, 'Nombre Completo') }}
                            <div class="block">
                                {{ form_widget(form.nombre, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.nombre, {attr:{ class: 'text_input' }}) }}
                            </div>

                            {{ form_label(form.departamento) }}
                            <div class="block">
                                {{ form_widget(form.departamento, {attr:{ class: 'cmrf' }}) }}
                                {{ form_errors(form.departamento, {attr:{ class: 'cmrf' }}) }}
                            </div>

                            {{ form_label(form.email, 'E-Mail') }}
                            <div class="block">
                                {{ form_widget(form.email, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.email, {attr:{ class: 'text_input' }}) }}
                            </div>

                            {{ form_label(form.telefono, 'Telefono fijo') }}
                            <div class="block">
                                {{ form_widget(form.telefono, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.telefono, {attr:{ class: 'text_input' }}) }}
                            </div>
                            {{ form_label(form.lugarServicio, 'Lugar del servicio') }}
                            <div class="block">
                                {{ form_widget(form.lugarServicio, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.lugarServicio, {attr:{ class: 'text_input' }}) }}
                            </div>

                            {{ form_label(form.fecha, 'Fecha') }}
                            <div class="block">
                                {{ form_widget(form.fecha, {attr:{ class: 'cmrfs' }}) }}
                                {{ form_errors(form.fecha, {attr:{ class: 'cmrfs' }}) }}
                            </div>

                        </fieldset>
                        <fieldset class="right">
                            {{ form_label(form.nidenficacion,'Numero de Identificación') }}
                            <div class="block">
                                {{ form_widget(form.nidenficacion, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.nidenficacion, {attr:{ class: 'text_input' }}) }}
                            </div>
                            <div style="margin-top: 17px;">
                            {{ form_label(form.afiliado) }}
                            <div class="block afiliado">
                                {{ form_widget(form.afiliado, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.afiliado, {attr:{ class: 'text_input' }}) }}
                            </div></div>

                            {{ form_label(form.municipio) }}
                            <div class="block">
                                {{ form_widget(form.municipio, {attr:{ class: 'cmrf' }}) }}
                                {{ form_errors(form.municipio, {attr:{ class: 'cmrf' }}) }}
                            </div>

                            {{ form_label(form.direccion, 'Dirección') }}
                            <div class="block">
                                {{ form_widget(form.direccion, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.direccion, {attr:{ class: 'text_input' }}) }}
                            </div>

                            {{ form_label(form.celular, 'Celular') }}
                            <div class="block">
                                {{ form_widget(form.celular, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.celular, {attr:{ class: 'text_input' }}) }}
                            </div>

                            {{ form_label(form.funcionario, 'Funcionario') }}
                            <div class="block">
                                {{ form_widget(form.funcionario, {attr:{ class: 'text_input' }}) }}
                                {{ form_errors(form.funcionario, {attr:{ class: 'text_input' }}) }}
                            </div>

                            {{ form_label(form.tiposolicitud, 'Tipo Solicitud') }}
                            <div class="block">
                                {{ form_widget(form.tiposolicitud, {attr:{ class: 'cmrf' }}) }}
                                {{ form_errors(form.tiposolicitud, {attr:{ class: 'cmrf' }}) }}
                            </div>



                        </fieldset>







                        <fieldset style="clear:both;">
                            {{ form_label(form.asunto, 'Asunto') }}
                            <div class="block">
                                {{ form_widget(form.asunto, {attr:{ class: 'text_input mdl' }}) }}
                                {{ form_errors(form.asunto, {attr:{ class: 'text_input mdl' }}) }}
                            </div>



                            {{ form_label(form.mensaje) }}
                            <div class="block">
                            {{ form_widget(form.mensaje) }}
                            </div>
                            <br>
                            {{ form_widget(form.enviar, {attr:{ class: 'more blue' }}) }}

                        </fieldset>




                        {{ form_end(form) }}

                    </div>
                    <div class="page_right">
                        <h3 class="box_header">
                            Tratamiento postoperación
                        </h3>
                        <h3 class="sentence">
                            Tratamientos postoperación para recuperación.
                        </h3>
                        <ul class="columns no_padding page_margin_top clearfix">
                            <li class="column_left">
                                Casa mayorga<br />
                                Cra. 18 #13 B-56 <br />
                                Alfonso Lopez<br />


                            </li>
                            <li class="column_right">
                                Telfono: +57 5901092<br />
                                Valledupar - Cesar
                            </li>
                        </ul>
                        <ul class="contact_data page_margin_top">

                            <li class="clearfix">
                                <span class="social_icon mail"></span>
                                <p class="value">
                                    E-mail: <a href="mailto: contactenos@casamayorga.com"> contactenos@casamayorga.com</a>
                                </p>
                            </li>
                            <li class="clearfix">
                                <span class="social_icon facebook"></span>
                                <p class="value">
                                    <a href="https://www.facebook.com/Casa-Mayorga-1705500439500435/" title="Facebook" target="_blank">Facebok Casamayorga </a>
                                </p>
                            </li>
                            <li class="clearfix">
                                <span class="social_icon xing"></span>
                                <p class="value">
                                    <a href="https://www.instagram.com/casamayorgavalledupar/" title="Instagram" target="_blank">Instagram Casamayorga</a>
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div id="map"></div>

<script type="text/javascript">
//selec controls
    var $departamento = $('#appbundle_pqrs_departamento');
    

    $departamento.change(function(){
        var $form = $(this).closest('form');

        var data = {};
        data[$departamento.attr('name')] = $departamento.val();
        $('#appbundle_pqrs_municipio').attr('disabled','disabled');
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function(html){
                $('#appbundle_pqrs_municipio').removeAttr('disabled');
                $('#appbundle_pqrs_municipio').replaceWith(
                    $(html).find('#appbundle_pqrs_municipio')
                );
            }

        });
    });

    $("#appbundle_pqrs_enviar").click(function(){


        setTimeout(function(){
            window.location.replace('{{ path("success_contact") }}');    
        }, 2000);
        
    });
    </script>
{% endblock %}

{% block stylesheets %}

{% endblock %}


