{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}

    Reportes de casamayorga

{% endblock %}
{% block searchbar %}
{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Total registos en el sistema</h4>

        </div>
    </div>

    <div class="row">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-file-text"></i></div>
                <div class="count">{{ afiliados }}</div>
                <h3>Afiliados</h3>
                <p>
                    Afiliados registrados en el sistema.
                <h4 style="margin-left: 10px">
                    <a href="#" class="label label-primary">
                        Generar Reporte
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </h4>
                </p>

            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-users"></i></div>
                <div class="count">{{ pacientes }}</div>
                <h3>Pacientes</h3>
                <p>
                    Pacientes registrados en el sistema
                <h4 style="margin-left: 10px">
                    <a href="#" class="label label-primary">
                        Generar Reporte
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </h4>
                </p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-stethoscope"></i></div>
                <div class="count">{{ procedimientos }}</div>
                <h3>Tratamientos </h3>
                <p>
                    Tratamientos Ejecutados.

                    <h4 style="margin-left: 10px">
                        <a href="#" class="label label-primary">
                            Generar Reporte
                            <i class="fa fa-file-pdf-o"></i>
                        </a>
                    </h4>
                </p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-coffee"></i></div>
                <div class="count">{{ solicitudes }}</div>
                <h3>Servicios </h3>
                <p>
                    Cantidad  de servicios solicitados
                    <h4 style="margin-left: 10px">
                    <a href="#" class="label label-primary">
                        Generar Reporte
                        <i class="fa fa-file-pdf-o"></i>
                    </a></h4>
                </p>
            </div>
        </div>

        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Total registros por fecha</h4>

        </div>
    </div>
    <div class="row">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">

                <div class="count"></div>
                <br>
                <h3>Afiliados</h3>

                <form action="#" style="margin: 10px;">
                    <div class="form-group">
                        <label for="fecha">Fecha Inicial:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha Final:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>

                <p>

                <h4 style="margin-left: 10px">
                    <a href="#" class="label label-primary">
                        Generar Reporte
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </h4>
                </p>

            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">

                <div class="count"></div>
                <br>
                <h3>Pacientes</h3>

                <form action="#" style="margin: 10px;">
                    <div class="form-group">
                        <label for="fecha">Fecha Inicial:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha Final:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>

                <p>

                <h4 style="margin-left: 10px">
                    <a href="#" class="label label-primary">
                        Generar Reporte
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </h4>
                </p>

            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">

                <div class="count"></div>
                <br>
                <h3>Tratamientos</h3>

                <form action="#" style="margin: 10px;">
                    <div class="form-group">
                        <label for="fecha">Fecha Inicial:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha Final:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>

                <p>

                <h4 style="margin-left: 10px">
                    <a href="#" class="label label-primary">
                        Generar Reporte
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </h4>
                </p>

            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">

                <div class="count"></div>
                <br>
                <h3>Servicios</h3>

                <form action="#" style="margin: 10px;">
                    <div class="form-group">
                        <label for="fecha">Fecha Inicial:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha Final:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>

                <p>

                <h4 style="margin-left: 10px">
                    <a href="#" class="label label-primary">
                        Generar Reporte
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </h4>
                </p>

            </div>
        </div>

        <hr>
    </div>
    {# /override values flashbag block #}


    <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('js/datatablecs.js') }}"></script>
    <script>
        var idAfiliado = '';

        //scritps to delete record of table
        function eliminarRecord(id){


            $('.content_delete').html('Seguro que desea eliminar el registro ID #'+id);
            $('.delete_item').html(id);
            idAfiliado = id;
        }

        $("#deleteRecord").click(function(){
            var url = "{{ url('eliminar_afiliado',{'id': 'idAfiliado'}) }}";
            url = url.replace('idAfiliado', idAfiliado);
            $(window.location).attr('href', url);

        });




        /*+' id: '+id +'<br>'
        +' Nombre: '+nombre+'<br>'
        +' Apellidos: '+apellidos+'<br>'
        +' Correo: '+correo+'<br*/
    </script>


{% endblock %}


