<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {% if rootDir is defined %}
        <link rel="stylesheet" href="{{ rootDir ~ '/web' ~ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}">
    {% endif %}
    <style>
        body{
            font-family: Arial;
            font-size: 1.7em;
        }

        .estados tr td:first-child + td {
            border-bottom: thin solid #000;
            margin-bottom: 5px;
            padding-top: 10px;
        }


        input[type='checkbox'] {
            border: thin solid #212121;
            outline: 0px solid #000;
        }
        
        .content{

        }
        
        .center-text{
            text-align: center;
        }
        
        .justify-text{
            text-align: justify;
        }

        .wrap{
            word-wrap: break-word;
        }

        .text-underline{

            color: #FFF;
        }
        .box-data{
            border: thin solid #000;border-radius: 20px;padding: 20px;
        }


        .page {
            page-break-before: always;
            /*
            overflow:  hidden;
            background: silver;
            page-break-after: always;
            page-break-inside: avoid;*/

        }

        .udl{
            border: 0;
            border-bottom: 1px solid #000;
            clear: both;
            display: block;
            height: 0;
            margin: 0 auto 40px auto;
            width: 100%;
        }

        .normalize-font{
            font-size: .7em;

        }

        .normalize-font td{
            padding:7px;
        }
    </style>
</head>
<body>

{# contacdora para cada plan#}

{% set platino = 0 %}
{% set oro = 0 %}
{% set diamante = 0 %}

{% for afiliado in afiliados if afiliado.plan == "Tarjeta PLATINO" %}
    {% set platino = platino + 1 %}
{% endfor %}
{% for afiliado in afiliados if afiliado.plan == "Tarjeta ORO" %}
    {% set oro = oro + 1 %}
{% endfor %}
{% for afiliado in afiliados if afiliado.plan == "Tarjeta DIAMANTE" %}
    {% set diamante = diamante + 1 %}
{% endfor %}


<div class="page">
    <div style="page-break-inside: avoid; margin-top: 40px;">
        <table  width="100%">

            {% if rootDir is defined %}
            <tr>
                <td width="70%" rowspan="2" >
                    <img src="{{ rootDir ~ '/web' ~ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>


                {% else %}
            <tr  >
                <td width="700px" rowspan="2">
                    <img src="{{ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>

                {% endif %}

            </tr>
            <tr>
                <td>Fecha</td>
                <td>{{ fecha|date('d-m-Y') }}</td>
            </tr>

        </table>
        <table width="100%" >
            <tr>
                <td>
                    <hr></td>
            </tr>
        </table>
        <table width="80%" align="left" >
            <tr>
                <td width="120px" >Total Afiliados:</td>
                <td style="text-align: left">{{ afiliados|length }}</td>

            </tr>
            <tr>
                <td colspan="6">
                    <hr>
                </td>
            </tr>
        </table>
        <table align="right">
            <tr style="background: #d4d4d4">
                <td>Afilaidos PLAN</td>
            </tr>
            <tr>
                <td>ORO:</td>
                <td>{{ oro }}</td>
                <td>PLATINO</td>
                <td>{{ platino }}</td>
                <td>DIAMANTE:</td>
                <td>{{ diamante }}</td>
            </tr>
        </table>
        <table width="100%" border="1" style="border-bottom: thin solid #000 !important" class="table ">
            <tr>
                <td colspan="6" style="text-align: center; padding: 7px; background: #38aec5; color:#FFFFFF">Listado Afiliados</td>
            </tr>
            <tr class="normalize-font" style="background: rgba(51,141,224,0.27)">
                <td width="100px">Documento</td>
                <td>Nombre</td>
                <td>Email</td>
                <td>Telefono</td>
                <td>Fecha registro</td>
                <td>Tarjeta</td>
            </tr>
            {% for afiliado in afiliados if afiliado.plan == "Tarjeta ORO" %}

                <tr class="normalize-font">
                    <td>{{ afiliado.ndocumento }}</td>
                    <td>{{ afiliado.nombre }} {{ afiliado.apellidos }}</td>
                    <td>{{ afiliado.email }}</td>
                    <td>{{ afiliado.telefono }}</td>
                    <td>{{ afiliado.fecha|date('Y-m-d') }}</td>
                    {% if loop.index == 1 %}
                        {% if oro == 0 %}
                            {% set oro = 1 %}
                        {% endif %}
                        <td rowspan="{{ oro }}" valign="top">
                            ORO
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% for afiliado in afiliados if afiliado.plan == "Tarjeta DIAMANTE" %}

                <tr class="normalize-font">
                    <td>{{ afiliado.ndocumento }}</td>
                    <td>{{ afiliado.nombre }} {{ afiliado.apellidos }}</td>

                    <td>{{ afiliado.email }}</td>
                    <td>{{ afiliado.telefono }}</td>
                    <td>{{ afiliado.fecha|date('Y-m-d') }}</td>
                    {% if loop.index == 1 %}
                        {% if diamante == 0 %}
                            {% set diamante = 1 %}
                        {% endif %}
                        <td rowspan="{{ diamante }}" valign="top">
                            DIAMANTE
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% for afiliado in afiliados if afiliado.plan == "Tarjeta PLATINO" %}

                <tr class="normalize-font">
                    <td>{{ afiliado.ndocumento }}</td>
                    <td>{{ afiliado.nombre }} {{ afiliado.apellidos }}</td>
                    <td>{{ afiliado.email }}</td>
                    <td>{{ afiliado.telefono }}</td>
                    <td>{{ afiliado.fecha|date('Y-m-d') }}</td>


                    {% if loop.index == 1 %}
                        {% if platino == 0 %}
                            {% set platino = 1 %}
                        {% endif %}
                    <td rowspan="{{ platino }}" valign="top" >
                        PLATINO
                    </td>
                    {% endif %}


                </tr>
            {% endfor %}

        </table>





    </div>
</div>

</body>
</html>