<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"> <img src="{{ asset('img/logocs.png') }}" width="35px" alt=""><span>CASAMAYORGA</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            {#<div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>#}
            <div class="profile_info">
                <span>bienvenido,</span>
                <h2>{{ app.user.username }}</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Menú</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ path('listar_solicitudes') }}"><i class="fa fa-home"></i> Inicio </a></li>
                    <li><a><i class="fa fa-edit"></i> Gestión <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('listar_paciente', {'tipo':'paciente'}) }}">Pacientes</a></li>
                            <li><a href="{{ path('solicitudes_pendietes') }}">Atender Procedimientos</a></li>
                            <li><a href="{{ path('listado_historias') }}">Historias Clinicas</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-table"></i> Administración <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('listar_solicitudes') }}">Solicitudes Servicios</a></li>
                        </ul>
                    </li>

                </ul>
            </div>


        </div>
       
    </div>
</div>