{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <p>
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
            </p>
            <a href="{{ path('listar_solicitudes') }}" class="btn btn-success">Regresar la inicio</a>
        </section>
        
    </div>    
</div>

{% endblock %}