{% trans_default_domain 'FOSUserBundle' %}
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content"></section>
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" style="text-align:center;">
                <h2 >Recuperar contraseña</h2>
                <div class="form-group">
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input type="text" id="username" name="username" required="required" class="form-control" />
                </div>
                <div>
                    <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary" />
                    <a href="/login" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
    </div>
    
</div>

