{% trans_default_domain 'FOSUserBundle' %}

<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content" style="text-align:left;">

          
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                <h1 style="text-align:center">Nueva Contraseña</h1>
                <div class="form-group" style="margin-bottom:0;">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                        {% for errorItem in form.plainPassword.first.vars.errors %}
                        <span class="help-inline">{{ errorItem.message }}</span>
                        {% endfor %}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                    {% for errorItem in form.plainPassword.second.vars.errors %}
                    <span class="help-inline">{{ errorItem.message }}</span>
                    {% endfor %}
                </div>
                <div >
                    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-success"/>
                    <a class="btn btn-danger" href="/login" style="margin-top:0 !important;font-size:14px;float:none;">Cancelar</a>
                </div>
            {{ form_end(form) }}

            </section>
        </div>
    </div>
</div>