<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body>
	
{% for nota in notas%}
	{{ nota.id }} <br> 	{{ nota.fecha|date('d/m/Y')}}
	{{ nota.notas }} <br>

{% endfor %}
	
</body>
</html>
