{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}

    <style>
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }



        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    </style>
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
test
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos del servicio</h2>

                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    {{ form_start(form) }}

                    <div class="col-md-8">
                        <div class="form group">
                            {{ form_label(form.historian) }}
                            {{ form_widget(form.historian, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.historian) }}
                        </div>
                        <div class="form group">
                            {{ form_label(form.documento) }}
                            {{ form_widget(form.documento, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.documento) }}
                        </div>
                        <div class="form group">
                            <label for="">Nombre</label>
                            <input type="text" id="nombre" class="form-control">
                        </div>
                        <div class="form group">
                            {{ form_label(form.nombre, 'Nombre del servicio') }}
                            {{ form_widget(form.nombre, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.nombre) }}
                        </div>


                    </div>

                    <div class="col-md-12">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar'}) }}
                        <a href="{{ path('listar_servicios') }}" class="btn btn-danger">Cancelar</a>


                    </div>

                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>




    <script type="text/javascript">

    </script>
<script>
    /*date time picker*/
    $(function () {
        var datetimepicker
        $('#datetimepicker1').datetimepicker({
            locale:'es'

        });
    });

    //busqueda del usuario por documento cuando persiona enter
    $("#appbundle_test_documento").on("keypress", function(e){
       if(e.keyCode == 13)
       {
           var cedula = $("#appbundle_test_documento").val();
           var url = '{{ path("buscar_paciente", {'cedula':'cedula'}) }}';
           url = url.replace("cedula", this.value);

           $.ajax({
               url: url,
               type: "get",
               success: function(response, data){
                   console.log(response.data);
                   $("#nombre").val(response.data[0].nombre)

               },
               error: function (xhr){
                   console.log("Error");
               }


           });

       }
    });

    var $departamento = $('#appbundle_cliente_departamento');


    $departamento.change(function(){
        var $form = $(this).closest('form');

        var data = {};
        data[$departamento.attr('name')] = $departamento.val();
        $('#appbundle_cliente_municipio').attr('disabled','disabled');
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function(html){
                $('#appbundle_cliente_municipio').removeAttr('disabled');
                $('#appbundle_cliente_municipio').replaceWith(
                    $(html).find('#appbundle_cliente_municipio')
                );
            }

        });
    });


    //preview de la imagen
    function preview(input)
    {
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                $("#blah")
                    .attr('src', e.target.result)
                    .width(280)
                    .height(210)
            }
            reader.readAsDataURL(input.files[0]);

        }
    }

</script>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}