

{% trans_default_domain 'FOSUserBundle' %}
{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}

{% block header_template %}
    {{ parent() }}

    <style>
        .boxeds label{
            margin-right: 7px;
        }
        .boxeds input{
            margin-right: 7px;
        }
    </style>
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    Editar Usuario
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos del Usuario </h2>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    {{ form_start(form) }}

                    <div class="col-md-6 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.cedula, 'Documento de Identidad') }}
                            {{ form_widget(form.cedula, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.cedula) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.nombre, 'Nombre:') }}
                            {{ form_widget(form.nombre, { 'attr':{ 'class': 'form-control', 'tabindex':'3' } }) }}
                            {{ form_errors(form.nombre) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.apellidos, 'Apellido:') }}
                            {{ form_widget(form.apellidos, { 'attr':{ 'class': 'form-control', 'tabindex':'7' } }) }}
                            {{ form_errors(form.apellidos) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.telefono, 'Telefono:') }}
                            {{ form_widget(form.telefono, { 'attr':{ 'class': 'form-control', 'tabindex':'9' } }) }}
                            {{ form_errors(form.telefono) }}
                        </div>




                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.email, 'Email:') }}
                            {{ form_widget(form.email, { 'attr':{ 'class': 'form-control', 'tabindex':'11' } }) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="form group">
                            {{ form_label(form.username, 'Usuario:') }}
                            {{ form_widget(form.username, { 'attr':{ 'class': 'form-control', 'tabindex':'11' } }) }}
                            {{ form_errors(form.username) }}
                        </div>
                        <div class="form-group" style="margin-bottom:0;">
                            {{ form_label(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                            {% for errorItem in form.plainPassword.first.vars.errors %}
                                <span class="help-inline">{{ errorItem.message }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                            {% for errorItem in form.plainPassword.second.vars.errors %}
                                <span class="help-inline">{{ errorItem.message }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        {{ form_label(form.roles) }}
                        {{ form_widget(form.roles) }}
                    </div>





                    <div class="col-md-12">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Actualizar Usuario'}) }}

                        <a href="{{ path('listar_usuarios') }}" class="btn btn-danger">Cancelar</a>



                    </div>

                    {{ form_end(form) }}
                </div>



            </div>
        </div>
    </div>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}
{#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}


#}