{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    Registrar Usuario
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos del Usuario </h2>

                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                    <div class="col-md-6 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.cedula, 'Documento de Identidad') }}
                            {{ form_widget(form.cedula, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.cedula) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.nombre, 'Nombre:') }}
                            {{ form_widget(form.nombre, { 'attr':{ 'class': 'form-control', 'tabindex':'3' } }) }}
                            {{ form_errors(form.nombre) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.apellidos, 'Genero:') }}
                            {{ form_widget(form.apellidos, { 'attr':{ 'class': 'form-control', 'tabindex':'7' } }) }}
                            {{ form_errors(form.apellidos) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.telefono, 'Departameto:') }}
                            {{ form_widget(form.telefono, { 'attr':{ 'class': 'form-control', 'tabindex':'9' } }) }}
                            {{ form_errors(form.telefono) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.email, 'Ocupación:') }}
                            {{ form_widget(form.email, { 'attr':{ 'class': 'form-control', 'tabindex':'11' } }) }}
                            {{ form_errors(form.email) }}
                        </div>

                    </div>

                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <div class="form group">
                            {{ form_label(form.password, 'Numero documento') }}
                            {{ form_widget(form.password, { 'attr':{ 'class': 'form-control', 'tabindex':'2' } }) }}
                            {{ form_errors(form.password) }}
                        </div>

                        <div class="form group">
                            {{ form_label(form.repeated, 'Apellidos') }}
                            {{ form_widget(form.repeated, { 'attr':{ 'class': 'form-control', 'tabindex':'4' } }) }}
                            {{ form_errors(form.repeated) }}
                        </div>

                    </div>
                   


                    <div class="col-md-12">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar'}) }}
                        {% if tipo == "afiliado" %}
                            <a href="{{ path('listar_paciente', {'tipo':'afiliado'}) }}" class="btn btn-danger">Cancelar</a>
                        {% else  %}
                            <a href="{{ path('listar_paciente', {'tipo':'paciente'}) }}" class="btn btn-danger">Cancelar</a>
                        {% endif %}



                    </div>

                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}