{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}

    <style>
        .checkbox-inline, .radio-inline
        {
            padding-left: 0 !important;
        }
        .cheks input
        {
            margin-right: 3px;
            margin-left: 10px;f
        }
    </style>
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    {% if historia is not defined %}

        Registrar Historia
    {% else %}


        Editar Historia
    {% endif %}
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Historia - consecutivo y fecha </h2>

                    <div class="clearfix"></div>
                </div>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-3  col-xs-12">
                        <div class="form group">
                            {{ form_label(form.consecutivo, 'Historia N°') }}
                            {{ form_widget(form.consecutivo,
                                { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.consecutivo) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="fecha">Fecha</label>
                        <input type="text" value="{{ 'now'|date('d - m -Y') }}" class="form-control" readonly tabindex="2">
                    </div>
                </div>
                <br>
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos del paciente</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="documento">Número Documento</label>
                            <input type="text" id="documento" class="form-control" tabindex="3">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" id="apellidos" class="form-control" tabindex="4">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" class="form-control" tabindex="5">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="ocupacion">Ocupación</label>
                            <input type="text" id="ocupacion" class="form-control" tabindex="6">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="telefono">Telefono</label>
                            <input type="text" id="telefono" class="form-control" tabindex="7">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form group">
                            <label for="municipio">Ciudad</label>
                            <input type="text" id="municipio" class="form-control" tabindex="8">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form group">
                            <label for="direccion">Dirección</label>
                            <input type="text" id="direccion" class="form-control" tabindex="9">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.nombreResponsable) }}
                            {{ form_widget(form.nombreResponsable, { 'attr':{ 'class': 'form-control', 'tabindex':'10' } }) }}
                            {{ form_errors(form.nombreResponsable) }}
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.telefonoResponsable) }}
                            {{ form_widget(form.telefonoResponsable, { 'attr':{ 'class': 'form-control', 'tabindex':'10' } }) }}
                            {{ form_errors(form.telefonoResponsable) }}
                        </div>
                    </div>

                </div>
                

                <div class="row box-title">
                    <div class="col-md-12 col-xs-12">
                        <div class="x_title">
                            <span class="span-title">Seguridad sociala en salud  EAPB: </span>Entidades administradoras de planes de beneficios

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.eapb) }}
                            {{ form_widget(form.eapb, { 'attr':{ 'class': 'form-control', 'tabindex':'10' } }) }}
                            {{ form_errors(form.eapb) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.prepagada, 'PERPAGADA:') }}
                            {{ form_widget(form.prepagada, { 'attr':{ 'class': 'form-control', 'tabindex':'11' } }) }}
                            {{ form_errors(form.prepagada) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.planComplementarios) }}
                            {{ form_widget(form.planComplementarios, { 'attr':{ 'class': 'form-control', 'tabindex':'11' } }) }}
                            {{ form_errors(form.planComplementarios) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.aseguradoras) }}
                            {{ form_widget(form.aseguradoras, { 'attr':{ 'class': 'form-control', 'tabindex':'11' } }) }}
                            {{ form_errors(form.aseguradoras) }}
                        </div>
                    </div>
                </div>
                
                {# objetivos #}
                <br>
                <div class="x_title">
                    <h2 style="font-size: 18px;">OBJETIVOS</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="cheks">
                        {{ form_label(form.postquirurgico ) }}
                        {{ form_widget(form.postquirurgico, {'attr':{'class':'checkbox-inline', 'tabindex':'12'}}) }}
                        {{ form_errors(form.postquirurgico) }}

                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="cheks">
                            {{ form_label(form.estetico ) }}
                            {{ form_widget(form.estetico, {'attr':{'class':'checkbox-inline', 'tabindex':'13'}}) }}
                            {{ form_errors(form.estetico) }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cheks">
                            {{ form_label(form.tonificar ) }}
                            {{ form_widget(form.tonificar, {'attr':{'class':'checkbox-inline', 'tabindex':'13'}}) }}
                            {{ form_errors(form.tonificar) }}
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            {{ form_label(form.salud) }}
                            {{ form_widget(form.salud, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.salud) }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_label(form.deportivo) }}
                            {{ form_widget(form.deportivo, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.deportivo) }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_label(form.rehabilitacion) }}
                            {{ form_widget(form.rehabilitacion, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.rehabilitacion) }}
                        </div>
                    </div>
                </div>

                {#antecedentes personales fum#}
                <div class="row box-title">
                    <div class="col-md-12 col-xs-12">
                        <div class="x_title">
                            <span class="span-title">ANTECEDENTES PERSONALES FUM:</span>
                            Fecha de ultima mestruacion G:Gestante P:Partos C: Cesáreas V: Vivos A: Abortos

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 div.col-xs-12">
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    {{ form_label(form.patologicos) }}</td>
                                <td>
                                    {{ form_widget(form.patologicos, { 'attr':{ 'class': 'form-control', 'tabindex':'19' } }) }} <br>
                                    {{ form_errors(form.patologicos) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.quirurgicos) }}</td>
                                <td>
                                    {{ form_widget(form.quirurgicos, { 'attr':{ 'class': 'form-control', 'tabindex':'19' } }) }} <br>
                                    {{ form_errors(form.quirurgicos) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    GINECOBSTETRICOS:
                                </td>
                                <td>
                                    {{ form_label(form.gineFum) }}
                                    {{ form_widget(form.gineFum, { 'attr':{ 'class': 'form-control', 'tabindex':'19' } }) }} <br>
                                    {{ form_errors(form.gineFum) }}

                                    {{ form_label(form.gineG ) }}
                                    {{ form_widget(form.gineG, {'attr':{'class':'checkbox-inline', 'tabindex':'13'}}) }}
                                    {{ form_errors(form.gineG) }}

                                    {{ form_label(form.gineP ) }}
                                    {{ form_widget(form.gineP, {'attr':{'class':'checkbox-inline', 'tabindex':'13'}}) }}
                                    {{ form_errors(form.gineP) }}

                                    {{ form_label(form.gineC ) }}
                                    {{ form_widget(form.gineC, {'attr':{'class':'checkbox-inline', 'tabindex':'13'}}) }}
                                    {{ form_errors(form.gineC) }}

                                    {{ form_label(form.gineV ) }}
                                    {{ form_widget(form.gineV, {'attr':{'class':'checkbox-inline', 'tabindex':'13'}}) }}
                                    {{ form_errors(form.gineV) }}

                                    {{ form_label(form.gineA ) }}
                                    {{ form_widget(form.gineA, {'attr':{'class':'checkbox-inline', 'tabindex':'13'}}) }}
                                    {{ form_errors(form.gineA) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.farmacologicos) }}</td>
                                <td>
                                    {{ form_widget(form.farmacologicos, { 'attr':{ 'class': 'form-control', 'tabindex':'19' } }) }} <br>
                                    {{ form_errors(form.farmacologicos) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.osteomusculares) }}</td>
                                <td>
                                    {{ form_widget(form.osteomusculares, { 'attr':{ 'class': 'form-control', 'tabindex':'19' } }) }} <br>
                                    {{ form_errors(form.osteomusculares) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.antecedentesfamiliates) }}</td>
                                <td>
                                    {{ form_widget(form.antecedentesfamiliates, { 'attr':{ 'class': 'form-control', 'tabindex':'19' } }) }} <br>
                                    {{ form_errors(form.antecedentesfamiliates) }}
                                </td>
                            </tr>
                            
                        </table>
                    </div>

                </div>
                {# antecedentes deportivos  #}
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.sedentario ) }}
                            {{ form_widget(form.sedentario, {'attr':{'class':'checkbox-inline', 'tabindex':'13'}}) }}
                            {{ form_errors(form.sedentario) }}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.tipoEjercicio) }}
                            {{ form_widget(form.tipoEjercicio, { 'attr':{ 'class': 'form-control', 'tabindex':'19' } }) }}
                            {{ form_errors(form.tipoEjercicio) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.frEjercicio) }}
                            {{ form_widget(form.frEjercicio, { 'attr':{ 'class': 'form-control', 'tabindex':'20' } }) }}
                            {{ form_errors(form.frEjercicio) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.duracionEjercicio) }}
                            {{ form_widget(form.duracionEjercicio, { 'attr':{ 'class': 'form-control', 'tabindex':'20' } }) }}
                            {{ form_errors(form.duracionEjercicio) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.intensidadEjercicio) }}
                            {{ form_widget(form.intensidadEjercicio, { 'attr':{ 'class': 'form-control', 'tabindex':'20' } }) }}
                            {{ form_errors(form.intensidadEjercicio) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-12">

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.tipoDeporte) }}
                            {{ form_widget(form.tipoDeporte, { 'attr':{ 'class': 'form-control', 'tabindex':'19' } }) }}
                            {{ form_errors(form.tipoDeporte) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.frDeporte) }}
                            {{ form_widget(form.frDeporte, { 'attr':{ 'class': 'form-control', 'tabindex':'20' } }) }}
                            {{ form_errors(form.frDeporte) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.duracionDeporte) }}
                            {{ form_widget(form.duracionDeporte, { 'attr':{ 'class': 'form-control', 'tabindex':'20' } }) }}
                            {{ form_errors(form.duracionDeporte) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.intensidadDeporte) }}
                            {{ form_widget(form.intensidadDeporte, { 'attr':{ 'class': 'form-control', 'tabindex':'20' } }) }}
                            {{ form_errors(form.intensidadDeporte) }}
                        </div>
                    </div>
                </div>
                {# preguntas #}
                <br>
                <div class="x_title">
                    <h2 style="font-size: 18px;">REVISION POR SISTEMAS</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <table class="table table-bordered">
                            <tr>
                                <td> 1.</td>   
                                <td>
                                    {{ form_label(form.pregunta1chk) }}
                                    {{ form_widget(form.pregunta1chk, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta1chk) }}

                                    {{ form_widget(form.pregunta1rp, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta1rp) }}
                                </td>
                            </tr>
                            <tr>
                                <td> 2.</td>   
                                <td>
                                    {{ form_label(form.pregunta2chk) }}
                                    {{ form_widget(form.pregunta2chk, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta2chk) }}

                                    {{ form_widget(form.pregunta2rp, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta2rp) }}
                                </td>
                            </tr>
                            <tr>
                                <td> 3.</td>   
                                <td>
                                    {{ form_label(form.pregunta3chk) }}
                                    {{ form_widget(form.pregunta3chk, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta3chk) }}

                                    {{ form_widget(form.pregunta3rp, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta3rp) }}
                                </td>
                            </tr>
                            <tr>
                                <td> 4.</td>   
                                <td>
                                    {{ form_label(form.pregunta4chk) }}
                                    {{ form_widget(form.pregunta4chk, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta4chk) }}

                                    {{ form_widget(form.pregunta4rp, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta4rp) }}
                                </td>
                            </tr>
                            <tr>
                                <td> 5.</td>   
                                <td>
                                    {{ form_label(form.pregunta5chk) }}
                                    {{ form_widget(form.pregunta5chk, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta5chk) }}

                                    {{ form_widget(form.pregunta5rp, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta5rp) }}
                                </td>
                            </tr>
                            <tr>
                                <td> 6.</td>   
                                <td>
                                    {{ form_label(form.pregunta6chk) }}
                                    {{ form_widget(form.pregunta6chk, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta6chk) }}

                                    {{ form_widget(form.pregunta6rp, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.pregunta6rp) }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                {#signos vitales#}
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <h4 class="box-title">SIGNOS VITALES</h4>
                        <hr>

                    </div>
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.tensionArterial) }}
                            {{ form_widget(form.tensionArterial, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.tensionArterial) }}
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.frecuenciaCardiaca) }}
                            {{ form_widget(form.frecuenciaCardiaca, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.frecuenciaCardiaca) }}
                        </div>
                    </div>
                </div>

                {# ANTROPOMETRIA #}
                <div class="row box-title">
                    <div class="col-md-12 col-xs-12">
                        <div class="x_title">
                            <span class="span-title">
                    ANTROPOMETRIA 
                            </span>SE: Subescapular T:Triceps SI: Suprailíaco ABD: Abdomen M:Muslo P:Pierna
                            BR: Brazo PEC: Pectoral CINT: Cintura CAD: Cadera M : Muslo superior DER: Deracha IZQ: Izquierda

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.talla) }}
                            {{ form_widget(form.talla, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.talla) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.pesoKg) }}
                            {{ form_widget(form.pesoKg, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.pesoKg) }}
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.indiceMasaCorporal) }}
                            {{ form_widget(form.indiceMasaCorporal, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.indiceMasaCorporal) }}
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.perimetroAbdominal) }}
                            {{ form_widget(form.perimetroAbdominal, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.perimetroAbdominal) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.grasa) }}
                            {{ form_widget(form.grasa, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.grasa) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.muscular) }}
                            {{ form_widget(form.muscular, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.muscular) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12">PLIEGUES</div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.se) }}
                            {{ form_widget(form.se, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.se) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.t) }}
                            {{ form_widget(form.t, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.t) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.si) }}
                            {{ form_widget(form.si, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.si) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.abd) }}
                            {{ form_widget(form.abd, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.abd) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.m) }}
                            {{ form_widget(form.m, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.m) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.p) }}
                            {{ form_widget(form.p, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.p) }}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        PERIMETROS MUSCULARES
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.brder) }}
                            {{ form_widget(form.brder, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.brder) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.brizq) }}
                            {{ form_widget(form.brizq, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.brizq) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.pec) }}
                            {{ form_widget(form.pec, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.pec) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.cint) }}
                            {{ form_widget(form.cint, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.cint) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.cad) }}
                            {{ form_widget(form.cad, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.cad) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.musder) }}
                            {{ form_widget(form.musder, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.musder) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.musizq) }}
                            {{ form_widget(form.musizq, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.musizq) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.piernader) }}
                            {{ form_widget(form.piernader, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.piernader) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.piernaizq) }}
                            {{ form_widget(form.piernaizq, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                            {{ form_errors(form.piernaizq) }}
                        </div>
                    </div>
                    
                </div>

                {# ANTROPOMETRIA #}
                <div class="row box-title">
                    <div class="col-md-12 col-xs-12">
                        <div class="x_title">
                            <span class="span-title">
                    RIESGO CARDIOVASCULAR
                            </span>AHA: American Heart Association

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
                {# RIESGO CARDIOVASCULAR AHA: American Heart Association #}
                <div class="row">
                    <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.obesidad) }}
                            {{ form_widget(form.obesidad, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.obesidad) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-3" >
                        <div class="form-group">
                            {{ form_label(form.tabaquismo) }}
                            {{ form_widget(form.tabaquismo, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.tabaquismo) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.hipertension) }}
                            {{ form_widget(form.hipertension, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.hipertension) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.prediabetes) }}
                            {{ form_widget(form.prediabetes, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.prediabetes) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.dislipidemia) }}
                            {{ form_widget(form.dislipidemia, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.dislipidemia) }}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.antecedentesFamiliares) }}
                            {{ form_widget(form.antecedentesFamiliares, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.antecedentesFamiliares) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.sedentarismo) }}
                            {{ form_widget(form.sedentarismo, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.sedentarismo) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        TOTAL RIESGO AHA
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.a1) }}
                            {{ form_widget(form.a1, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.a1) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.a2) }}
                            {{ form_widget(form.a2, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.a2) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.a3) }}
                            {{ form_widget(form.a3, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.a3) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.b) }}
                            {{ form_widget(form.b, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.b) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.c) }}
                            {{ form_widget(form.c, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.c) }}
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            {{ form_label(form.d) }}
                            {{ form_widget(form.d, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                            {{ form_errors(form.d) }}
                        </div>
                    </div>
                </div>

                {# riesgo osteomuscular #}
                <br>
                <div class="x_title">
                    <h2 style="font-size: 18px;">
                        RIESGO OSTEOMUSCULAR
                    </h2>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <h4>POSTURA</h4>
                        <table class="table table-bordered"> 
                            <tr>
                                <td>ESPALDA</td>
                                <td>CADENA CINETICA SUPERIOR</td>
                                <td>CADENA CINETICA INFERIOR</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.antepulsionCabeza) }}
                                        {{ form_widget(form.antepulsionCabeza, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.antepulsionCabeza) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.anteropulsionHombros) }}
                                        {{ form_widget(form.anteropulsionHombros, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.anteropulsionHombros) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.anteversionFemoral) }}
                                        {{ form_widget(form.anteversionFemoral, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.anteversionFemoral) }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.rectificacionCervical) }}
                                        {{ form_widget(form.rectificacionCervical, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.rectificacionCervical) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.hombroAscendido) }}
                                        {{ form_widget(form.hombroAscendido, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.hombroAscendido) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.genuValgoNoFisiologico) }}
                                        {{ form_widget(form.genuValgoNoFisiologico, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.genuValgoNoFisiologico) }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.hiperlordosisCervical) }}
                                        {{ form_widget(form.hiperlordosisCervical, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.hiperlordosisCervical) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.hiperextensionCodo) }}
                                        {{ form_widget(form.hiperextensionCodo, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.hiperextensionCodo) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.genuVaroNoFisiologico) }}
                                        {{ form_widget(form.genuVaroNoFisiologico, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.genuVaroNoFisiologico) }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.hipercifosis) }}
                                        {{ form_widget(form.hipercifosis, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.hipercifosis) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.aumentoValgoCodo) }}
                                        {{ form_widget(form.aumentoValgoCodo, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.aumentoValgoCodo) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.genuRecurvatum) }}
                                        {{ form_widget(form.genuRecurvatum, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.genuRecurvatum) }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.rectificacionDorsal) }}
                                        {{ form_widget(form.rectificacionDorsal, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.rectificacionDorsal) }}
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.rotacionTibial) }}
                                        {{ form_widget(form.rotacionTibial, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.rotacionTibial) }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.hiperlordosisLumbar) }}
                                        {{ form_widget(form.hiperlordosisLumbar, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.hiperlordosisLumbar) }}
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.piePlano) }}
                                        {{ form_widget(form.piePlano, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.piePlano) }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.rectificacionLumbar) }}
                                        {{ form_widget(form.rectificacionLumbar, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.rectificacionLumbar) }}
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.pieCavo) }}
                                        {{ form_widget(form.pieCavo, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.pieCavo) }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        {{ form_label(form.escoliosis) }}
                                        {{ form_widget(form.escoliosis, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.escoliosis) }}
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3" >
                                    {{ form_label(form.otro) }}
                                    {{ form_widget(form.otro, { 'attr':{ 'class': 'form-control', 'tabindex':'14' } }) }}
                                    {{ form_errors(form.otro) }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="col-md-12 col-xs-12">
                            <h4>ANALISIS DE POSTURA</h4>
                            <div class="form group">
                                {{ form_label(form.analisisPostura) }}
                                {{ form_widget(form.analisisPostura, { 'attr':{ 'class': 'form-control', 'tabindex':'50' } }) }}
                                {{ form_errors(form.analisisPostura) }}
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12">
                            <h4>MOVILDIAD Y FLEXIBILIDAD</h4>
                            <h5>SL: Se logra NSL: No se logra</h5>
                            <table class="table table-bordered">
                                <tr>
                                    <td style="width:190px;"> {{ form_label(form.sentadillaProfunda) }}</td>
                                    <td>
                                        {{ form_widget(form.sentadillaProfunda, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.sentadillaProfunda) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(form.bisagra) }}</td>
                                    <td>
                                        {{ form_widget(form.bisagra, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.bisagra) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(form.cadenaCineticaSuperior) }}</td>
                                    <td>
                                        {{ form_widget(form.cadenaCineticaSuperior, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'14' } }) }}
                                        {{ form_errors(form.cadenaCineticaSuperior) }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="col-md-12 col-xs-12">
                            <h4>ESTABILIDAD NEUROMUSCULAR</h4>
                            <table class="table table-bordered">
                                <tr>
                                    <td>
                                        <div class="form group">
                                            {{ form_label(form.abdomen) }}
                                            {{ form_widget(form.abdomen, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                                            {{ form_errors(form.abdomen) }}
                                        </div>
                                        <div class="form group">
                                            {{ form_label(form.sentadilla) }}
                                            {{ form_widget(form.sentadilla, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                                            {{ form_errors(form.sentadilla) }}
                                        </div>
                                        <div class="form group">
                                            {{ form_label(form.cuadrupizq) }}
                                            {{ form_widget(form.cuadrupizq, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                                            {{ form_errors(form.cuadrupizq) }}
                                        </div>
                                        <div class="form group">
                                            {{ form_label(form.cuadrupder) }}
                                            {{ form_widget(form.cuadrupder, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                                            {{ form_errors(form.cuadrupder) }}
                                        </div>
                                        <div class="form group">
                                            {{ form_label(form.apoyoUnipodalIzq) }}
                                            {{ form_widget(form.apoyoUnipodalIzq, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                                            {{ form_errors(form.apoyoUnipodalIzq) }}
                                        </div>
                                        <div class="form group">
                                            {{ form_label(form.apoyoUnipodalDer) }}
                                            {{ form_widget(form.apoyoUnipodalDer, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                                            {{ form_errors(form.apoyoUnipodalDer) }}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <h4>TOTAL RIESGO OSTEOMUSCULAR</h4>
                            <table class="table table-bordered" style="text-align:center;">
                                <tr>
                                    <td>
                                        <div class="form group">
                                            {{ form_label(form.bajo) }}
                                            {{ form_widget(form.bajo, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                                            {{ form_errors(form.bajo) }}
                                        </div>

                                        <div class="form group">
                                            {{ form_label(form.medio) }}
                                            {{ form_widget(form.medio, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                                            {{ form_errors(form.medio) }}
                                        </div>

                                        <div class="form group">
                                            {{ form_label(form.alto) }}
                                            {{ form_widget(form.alto, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                                            {{ form_errors(form.alto) }}
                                        </div>

                                        <div class="form group">
                                            {{ form_label(form.muyAlto) }}
                                            {{ form_widget(form.muyAlto, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                                            {{ form_errors(form.muyAlto) }}
                                        </div>
                                    </td>                
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                {# prescripcion de ejercicios #}
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <h5>PRESCRIPCION DE EJERCICIOS</h5>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.prescFrecuencia) }}
                            {{ form_widget(form.prescFrecuencia, { 'attr':{ 'class': 'form-control', 'tabindex':'50' } }) }}
                            {{ form_errors(form.prescFrecuencia) }}
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.prescTiempo) }}
                            {{ form_widget(form.prescTiempo, { 'attr':{ 'class': 'form-control', 'tabindex':'50' } }) }}
                            {{ form_errors(form.prescTiempo) }}
                        </div>
                    </div>
                </div>
                
                {# CLASES GRUPALES #}
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-4 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.entreeCardiovascular) }}
                            {{ form_widget(form.entreeCardiovascular, { 'attr':{ 'class': 'form-control', 'tabindex':'50' } }) }}
                            {{ form_errors(form.entreeCardiovascular) }}
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.movilidadFlexibilidad) }}
                            {{ form_widget(form.movilidadFlexibilidad, { 'attr':{ 'class': 'form-control', 'tabindex':'50' } }) }}
                            {{ form_errors(form.movilidadFlexibilidad) }}
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.calsesGrupales) }}
                            {{ form_widget(form.calsesGrupales, { 'attr':{ 'class': 'form-control', 'tabindex':'50' } }) }}
                            {{ form_errors(form.calsesGrupales) }}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                     <div class="col-md-4 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.entreMuscular) }}
                            {{ form_widget(form.entreMuscular, { 'attr':{ 'class': 'form-control', 'tabindex':'50' } }) }}
                            {{ form_errors(form.entreMuscular) }}
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="form group">
                            {{ form_label(form.conclusiones) }}
                            {{ form_widget(form.conclusiones, { 'attr':{ 'class': 'form-control', 'tabindex':'50' } }) }}
                            {{ form_errors(form.conclusiones) }}
                        </div>
                    </div>
                </div>

                {# REMISION A SERVICIOS COMPLEMENTARIOS #}
                <br>
                <div class="x_title">
                    <h2 style="font-size: 18px;">
                        REMISION A SERVICIOS COMPLEMENTARIOS 
                    </h2>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div style="display:inline-block">
                        {{ form_label(form.medico) }}
                        {{ form_widget(form.medico, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                        {{ form_errors(form.medico) }}
                    </div>
                    <div style="display:inline-block">
                            {{ form_label(form.fisioterapeuta) }}
                            {{ form_widget(form.fisioterapeuta, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                            {{ form_errors(form.fisioterapeuta) }}
                        </div>
                    <div style="display:inline-block">
                        {{ form_label(form.nutricion) }}
                        {{ form_widget(form.nutricion, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                        {{ form_errors(form.nutricion) }}
                    </div>
                    <div style="display:inline-block">
                        {{ form_label(form.entrePersonalizado) }}
                        {{ form_widget(form.entrePersonalizado, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                        {{ form_errors(form.entrePersonalizado) }}
                    </div>
                    <div style="display:inline-block">
                        {{ form_label(form.esteticista) }}
                        {{ form_widget(form.esteticista, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                        {{ form_errors(form.esteticista) }}
                    </div>
                    <div style="display:inline-block">
                        {{ form_label(form.masajeDeportivo) }}
                        {{ form_widget(form.masajeDeportivo, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                        {{ form_errors(form.masajeDeportivo) }}
                    </div>
                    <div style="display:inline-block">
                        {{ form_label(form.acondiFuncional) }}
                        {{ form_widget(form.acondiFuncional, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                        {{ form_errors(form.acondiFuncional) }}
                    </div>
                    <div style="display:inline-block">
                        {{ form_label(form.rehabFuncional) }}
                        {{ form_widget(form.rehabFuncional, { 'attr':{ 'class': 'checkbox-inline', 'tabindex':'50' } }) }}
                        {{ form_errors(form.rehabFuncional) }}
                    </div>
                    
                </div>
                <div class="row" style="margin-top:30px">
                        <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
                            <div class="form group">
                                {{ form_label(form.fechaControl, 'Fecha Control:') }}
                                <div class='input-group date' id='datetimepicker4'>
                                    {{ form_widget(form.fechaControl, {attr: {
                                        'data-format': "dd/MM/yyyy HH:mm",
                                        'class':'form-control',
                                        'tabindex':'17'},
                                    }) }}
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                {{ form_errors(form.fechaControl) }}
                            </div>
                        </div>
                    </div>
               


                    <div class="col-md-4 col-xs-12">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Guardar', 'attr':{'tabindex':'44'}}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar', 'attr':{'tabindex':'45'}}) }}
                        <a href="{{ path('listado_historiasfisio') }}" class="btn btn-danger" tabindex="46">Cancelar</a>


                    </div>
                    <div class="col-md-8 col-xs-12" style="opacity: 0;">

                        <div class="form group">
                            {{ form_label(form.paciente, 'Paciente') }}
                            {{ form_widget(form.paciente, { 'attr':{ 'class': 'form-control', 'tabindex':'50' } }) }}
                            {{ form_errors(form.paciente) }}

                        </div>
                        <input type="text" style="opacity: 0;" id="idPaciente" value="{% if idPaciente != null %} {{ idPaciente }} {% endif %}">

                    </div>


                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>




    <script type="text/javascript">

    </script>
<script>
    /*date time picker*/
    var idPaciente = '';
    $(function () {
        var datetimepicker;
        $('#datetimepicker1').datetimepicker({
            locale:'es'

        });
        $('#datetimepicker2').datetimepicker({
            locale:'es'

        });
        $('#datetimepicker3').datetimepicker({
            locale:'es'

        });

        $('#datetimepicker4').datetimepicker({
            locale:'es'

        });

        
        


    });


    //calcular imc

    //busqueda del usuario por documento cuando persiona enter


    //capturamos el id del paciente
    idPaciente = "{{ idPaciente }}";
    if(idPaciente != "")
    {
        var url = '{{ path("buscar_paciente", {'cedula':'cedula'}) }}';
        url = url.replace("cedula", idPaciente);
        getPaciente(url);
    }

    $("#documento").on("keypress", function(e){
        if(e.keyCode == 13)
        {
            var cedula = $("#documento").val();
            var url = '{{ path("buscar_paciente", {'cedula':'cedula'}) }}';
            url = url.replace("cedula", this.value);
            getPaciente(url);
            console.log(url);
            return false;
        }
    });


    //calcular el imc
    $("#appbundle_historias_talla").focusout(function(e){
        if(this.value != null){
            var peso = $("#appbundle_historias_peso").val();
            var tallan = this.value / 100;
            var talla = Math.pow(tallan, 2);
            var imc = $("#appbundle_historias_imc");
            console.log(talla);
            console.log(peso / talla);

            imc.val((peso / talla).toFixed(2));
            var imcFinal = imc.val();
            var estado = $("#estado");
            setImcEstado(imcFinal, estado);


        }
    });
    $("#idx1").on("keypress", function(e){
        if(e.keyCode == 13)
        {
            var url = '{{ path("buscar_idx", {'codigo':'codigo'}) }}';
            url = url.replace("codigo", this.value);
            getIdx(url, $("#appbundle_historias_iDX1"));
            return false;
        }
    });

    $("#idx2").on("keypress", function(e){
        if(e.keyCode == 13)
        {
            var url = '{{ path("buscar_idx", {'codigo':'codigo'}) }}';
            url = url.replace("codigo", this.value);
            getIdx(url, $("#appbundle_historias_iDX2"));
            return false;
        }
    });

    function getIdx(url, control){
        $.ajax({
            url: url,
            type: "get",
            success: function(response, data){
                console.log(response.data);
                if(response.data == 0){
                    alert("No hay ningun disgnostico relacionado a ese codigo, intente nuevamente");
                    return;
                }

                control.val(response.data[0].id);


            },
            error: function (xhr){
                console.log("Error");
            }


        });
    }
    function getPaciente(url)
    {
        $.ajax({
            url: url,
            type: "get",
            success: function(response, data){
                console.log(response);
                $("#documento").val(response.documento);
                $("#nombre").val(response.nombre);
                $("#apellidos").val(response.apellidos);
                $("#telefono").val(response.telefono);
                $("#ocupacion").val(response.ocupacion);
                $("#direccion").val(response.direccion);
                $("#municipio").val(response.nombre);

                $("#appbundle_historiafisioterapia_paciente").val(response.id);

            },
            error: function (xhr){
                console.log("Error");
            }


        });
    }
    function setImcEstado(imcFinal, estado){
        switch (true){
            case imcFinal < 16.00:
                estado.val("Infrapeso: Delgadez Severa");
                estado.css({'background-color':'#cc0000', 'color':'#FFF'});
                break;
            case imcFinal >= 16.00 && imcFinal <= 16.99:
                estado.val("Infrapeso: Delgadez moderada");
                estado.css({'background-color':'#ff9933','color':'#000'});
                break;
            case imcFinal >= 17.00 && imcFinal <= 18.49:
                estado.val("Infrapeso: Delgadez aceptable");
                estado.css({'backgroun-color':'#ffcc00','color':'#000'});
                break;
            case imcFinal >= 18.50 && imcFinal <= 24.99:
                estado.val("Peso Normal");
                estado.css({'background-color':'#99ff33','color':'#000'});
                break;
            case imcFinal >= 25.00 && imcFinal <= 29.99:
                estado.val("Sobrepeso");
                estado.css({'background-color':'#ffcc00','color':'#000'});
                break;
            case imcFinal >= 30.00 && imcFinal <= 34.99:
                estado.val("Obeso: Tipo I");
                estado.css({'background-color':'#ff9933','color':'#000'});
                break;
            case imcFinal >= 35.00 && imcFinal <= 40.00:
                estado.val("Obeso: Tipo II");
                estado.css({'background-color':'#ff6600','color':'#000'});

                break;
            case imcFinal > 40.00:
                estado.val("Obeso: Tipo III");
                estado.css({'background-color':'#cc0000', 'color':'#FFF'});
                break;
            default:
                break;
        }
    }


    var $departamento = $('#appbundle_cliente_departamento');


    $departamento.change(function(){
        var $form = $(this).closest('form');

        var data = {};
        data[$departamento.attr('name')] = $departamento.val();
        $('#appbundle_cliente_municipio').attr('disabled','disabled');
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function(html){
                $('#appbundle_cliente_municipio').removeAttr('disabled');
                $('#appbundle_cliente_municipio').replaceWith(
                    $(html).find('#appbundle_cliente_municipio')
                );
            }

        });
    });
</script>
    {% if historia is  defined %}
        <script>
            $("#documento").val({{ historia.paciente.documento }})
            var url = '{{ path("buscar_paciente", {'cedula':'cedula'}) }}';
            url = url.replace("cedula", {{ historia.paciente.documento }});
            getPaciente(url);

            var estado = $("#estado");
            setImcEstado($("#appbundle_historias_imc").val(), estado);



        </script>
    {% endif %}


    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}

