<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            font-family: Arial;
            font-size: 1em;
        }

        .estados tr td:first-child + td {
            border-bottom: thin solid #000;
            margin-bottom: 5px;
            padding-top: 10px;
        }


        input[type='checkbox'] {
            border: thin solid #212121;
            outline: 0px solid #000;
        }
        
        .content{

        }
        
        .center-text{
            text-align: center;
        }
        
        .justify-text{
            text-align: justify;
        }

        .wrap{
            word-wrap: break-word;
        }

        .text-underline{

            color: #FFF;
        }
        .box-data{
            border: thin solid #000;border-radius: 20px;padding: 20px;
        }


        .page {
            page-break-before: always;
            /*
            overflow:  hidden;
            background: silver;
            page-break-after: always;
            page-break-inside: avoid;*/

        }

        .udl{
            border: 0;
            border-bottom: 1px solid #000;
            clear: both;
            display: block;
            height: 0;
            margin: 0 auto 40px auto;
            width: 100%;
        }


        h3.title, .titlebox,.signos{
            background: rgba(0,0,0,0.03);border-radius:10px;padding: 7px; text-align: center;
        border: thin solid rgba(0,0,0,0.24);
        } 

        .titlebox{
            margin: 20px 0px;
        }

        .borderBottomTd{
            border-bottom: thin solid #000;
        }

        .tableFum, .tableFum td{
            margin:0;
            border: thin solid rgb(129, 129, 129);
        }
        .tableFum td{
            padding:7px;
        }
        .numberCircle {
            display: inline-block;
            width: 15px;
            line-height: 15px;
            border-radius: 50%;
            text-align: center;
            font-size: .9em;
            border: 2px solid #666;
        }

        .estabilidad{
            border:thin solid #000;
        }
        .estabilidad td{
            padding: 8px 5px;
            margin: 20px 0px;
        }
        .wraptext{
            word-break:break-all; 
            min-height:500px; 
            height:180px; 
            vertical-align:top;
            padding: 4px;
            
        }
    </style>
</head>
<body>
<div class="page">
    <div style="page-break-inside: avoid; margin-top: 40px;">
        <table  width="100%">

            {% if rootDir is defined %}
            <tr>
                <td width="70%" rowspan="3" >
                    <img src="{{ rootDir ~ '/web' ~ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>


                {% else %}
            <tr  >
                <td width="700px" rowspan="3">
                    <img src="{{ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>

                {% endif %}

            </tr>
            <tr>
                <td>Consecutivo</td>
                <td>{{ historia.consecutivo }}</td>
            </tr>  

            <tr>
                <td>Fecha</td>
                <td>{{ historia.fecha|date('Y/m/d') }}</td>
            </tr>

        </table>
        <table width="100%">
            <tr>
                <td>
                    <hr></td>
            </tr>
        </table>


        <div class="content">
            <div class="center-text">
                <h3>HISTORIA CLINICA</h3>
            </div>
        </div>
        
        {# fin datos del paciente #}
        <div class="content">
            <div class="titlebox">
                <strong class="title">
                        DATOS BASICOS DE IDENTIFICACION
                </strong>
            </div>
            
            <table width="942px">
                <tr>
                    <td><strong>Apellidos</strong></td>
                    <td>{{ historia.paciente.apellidos }}</td>
                    <td><strong>Nombres</strong></td>
                    <td>{{ historia.paciente.nombre }}</td>
                    <td><strong>CC</strong></td>
                    <td>{{ historia.paciente.documento }}</td>
                </tr>
                <tr>
                    <td><strong>Ocupación</strong></td>
                    <td>{{ historia.paciente.ocupacion }}</td>
                    <td><strong>Fecha Nacimiento</td>
                    <td>{{ historia.paciente.fechaNacimiento|date('d/m/y') }}</td>
                    <td><strong>Telefono</strong></td>
                    <td>{{ historia.paciente.telefono }}</td>
        
        
                </tr>
                <tr>
                    <td>Direccion</td>
                    <td colspan="5">{{ historia.paciente.direccion }}</td>
                </tr>
                <tr>
                    <td><strong>Dirección</strong></td>
                    <td></td>
                    <td>Departamento:</td>
                    <td>{{ historia.paciente.municipio.departamento.nombre }}</td>
                    <td><strong>Municipio</strong></td>
        
                    <td>{{ historia.paciente.municipio.nombre }}</td>
                </tr>
                
            </table>
            <br>
            <table width="973px" >
                <tr>
                    <td width="190px">Nombre del Responsable</td>
                    <td>{{ historia.nombreResponsable }}</td>
                    <td width="190px">Telefono del repsonsable</td>
                    <td >{{ historia.telefonoResponsable }}</td>
                </tr>
            </table>
        </div>

        {# fin datos del paciente #}

        {# seguridad social salud #}
        <div class="content">
            <div class="titlebox">
                <strong class="title">
                    SEGURIDAD SOCIAL EN SALUD
                </strong>
                <span>
                    &nbsp;&nbsp; EAPB:Entidades Administradoras de Planes de Beneficios
                </span>
            </div>
            <table width="942px"  style="font-size:.8em;">
                <tr>
                    <td style="width:50px;">EAPB</td>
                    <td class="borderBottomTd">
                        {{ historia.eapb }}
                    </td>  
                    <td style="width:80px;">PREPAGADA</td>
                    <td class="borderBottomTd">
                        {{ historia.prepagada }}
                    </td>
                    <td style="width:170px;">PLAN COMPLEMENTARIOS</td>
                    <td class="borderBottomTd">
                        {{ historia.planComplementarios }}
                    </td>
                    <td style="width:100px;">ASEGURADORAS</td>
                    <td class="borderBottomTd">
                        {{ historia.aseguradoras }}
                    </td>
                </tr>
            </table>
        </div>
        {# fin seguridad social salud #}
        
        {# objetivos #}
        <div class="content">
            <div class="titlebox">
                <strong class="title">
                        OBJETIVOS
                </strong>
            </div>
            
            <table width="942px">
                <tr>
                    <td width="155px;">POST QUIRURGICO</td>
                    <td class="borderBottomTd center-text">
                        {% if historia.postQuirurgico %}
                            X
                        {% endif %}
                    </td>
                    <td width="20px;"></td>
                    <td width="85px;">ESTETICO</td>
                    <td class="borderBottomTd center-text">
                        {% if historia.estetico %}
                            X
                        {% endif %}
                    </td>
                    <td width="20px;"></td>
                    <td width="90px;">TONIFICAR</td>
                    <td class="borderBottomTd center-text">
                        {% if historia.tonificar %}
                            X
                        {% endif %}
                    </td>
                    <td width="20px;" ></td>
                    <td width="55px;">SALUD</td>
                    <td class="borderBottomTd center-text">
                        {% if historia.salud %}
                            X
                        {% endif %}
                    </td>
                    <td width="20px;"></td>
                    <td width="80px;">DEPORTIVO</td>
                    <td class="borderBottomTd center-text">
                        {% if historia.deportivo %}
                            X
                        {% endif %}
                    </td>
                    <td width="20px;"></td>
                    <td width="130px;">REHABILITACION</td>
                    <td class="borderBottomTd center-text" width="20px">
                        {% if historia.rehabilitacion %}
                            X
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {# fin objetivos #}

        {# antecedentes personales #}
        <div class="content">
            <div class="titlebox">
                <strong class="title">
                    ANTECEDENTES PERSONALES
                </strong>
                <span>
                    FUM: Fecha de ultima menstruación &nbsp; G: Gestante &nbsp;P: Partos &nbsp;C:Cesáreas &nbsp;V:Vivos &nbsp;A:Abortos
                </span>
            </div>
            <table width="942px" class="tableFum" cellspacing="0">
                <tr>
                    <td style="width:250px">PATOLOGICOS</td>
                    <td>{{ historia.patologicos }}</td>
                </tr>
                <tr>
                    <td>QUIRURGICOS</td>
                    <td>{{ historia.quirurgicos }}</td>
                </tr>
                <tr>
                    <td>GONECOBSTETRICOS</td>
                    <td>
                       FUM:  <u>{{ historia.gineFum }}</u> &nbsp;&nbsp;
                       G:{% if historia.gineG %} <u>x</u> {% endif %} &nbsp;
                       P:{% if historia.gineP %} <u>x</u> {% endif %} &nbsp;
                       C:{% if historia.gineC %} <u>x</u> {% endif %} &nbsp;
                       V:{% if historia.gineV %} <u>x</u> {% endif %} &nbsp;
                       A:{% if historia.gineA %} <u>x</u> {% endif %} &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>FARMACOLOGICOS</td>
                    <td>{{ historia.farmacologicos }}</td>
                </tr>
                <tr>
                    <td>OSTEOMUSCULARES</td>
                    <td>{{ historia.osteomusculares }}</td>
                </tr>
                <tr>
                    <td>ANTECEDENTES FAMILIARES</td>
                    <td>{{ historia.antecedentesfamiliates }}</td>
                </tr>
            </table>
        </div>
        {# fin antecedentes personales #}
        
        {# antecedentes deportivos #}
        <div class="content">
            <div class="titlebox">
                <strong class="title">
                    ANTECEDENTES DEPORTIVOS
                </strong>
                <span >
                    &nbsp;&nbsp; Fr: Frecuencia por semana
                    &nbsp;&nbsp; D: Duración
                </span>
            </div>
            <table width="942px">
                <tr>
                    <td colspan="3"></td>
                    <td>TIPO:</td>
                    <td width="20px"></td>
                    <td>FR:</td>
                    <td width="20px">{{ historia.frEjercicio }}</td>
                    <td>DURACION:</td>
                    <td width="20px">{{ historia.duracionEjercicio }}</td>
                    <td>INTENSIDAD</td>
                    <td width="20px">{{ historia.intensidadEjercicio }}</td>
                    <td></td>
                    <td>TIPO:</td>
                    <td width="20px"></td>
                    <td>FR:</td>
                    <td width="20px">{{ historia.frDeporte }}</td>
                    <td>DURACION:</td>
                    <td width="20px">{{ historia.duracionDeporte }}</td>
                    <td>INTENSIDAD</td>
                    <td width="20px">{{ historia.intensidadDeporte }}</td>
                </tr>
                <tr>
                    <td>SEDENTARIO</td>
                    <td>{% if historia.sedentario %}X{% endif %}</td>
                    <td>EJERCICIO</td>
                    <td colspan="8">{{ historia.tipoEjercicio }}</td>
                    <td>DEPORTE</td>
                    <td colspan="8">{{ historia.tipoDeporte}}</td>
                </tr>
                
            </table>

        </div>
        {# fin antecedentes deportivos #}

        {# revision por sistemas #}
        <div class="content">
            <div class="titlebox">
                <strong class="title">
                    REVISION POR SISTEMAS
                </strong>
            </div>
            

        </div>
        <table width="942px"  cellspacing="0" >
            <tr>
                <td width="20px">1.</td>
                <td width="510px">
                    ¿Ha sentido dolor en el pecho cuando realiza actividad fisica? SI
                    {% if historia.pregunta1chk %} 
                        <u>X</u>
                    {% endif %}
                    NO 
                    {% if historia.pregunta1chk == 0 %} 
                        <u>X</u>
                    {% endif %}
                </td>
                <td class="borderBottomTd">
                    {{ historia.pregunta1rp }}
                </td>
            </tr>
        </table>
        <br>
        <table width="942px"  cellspacing="0" >
            <tr>
                <td width="20px">2.</td>
                <td width="680px">
                    ¿Ha perdido el balance por causa de desvanecimiento o ha perdido el conocimiento?
                    SI
                    {% if historia.pregunta2chk %} 
                        <u>X</u>
                    {% endif %}
                    NO 
                    {% if historia.pregunta2chk == 0 %} 
                        <u>X</u>
                    {% endif %}
                </td>
                <td class="borderBottomTd">
                    {{ historia.pregunta2rp }}
                </td>
            </tr>
        </table>
        <br>
        <table width="942px"  cellspacing="0" >
            <tr>
                <td width="20px">3.</td>
                <td width="670px">¿Ha sentido plapitaciones o ahogo excesivo aun en reposo o con actividades leves?
                    SI
                    {% if historia.pregunta3chk %} 
                        <u>X</u>
                    {% endif %}
                    NO 
                    {% if historia.pregunta3chk == 0 %} 
                        <u>X</u>
                    {% endif %}
                </td>
                <td class="borderBottomTd">
                    {{ historia.pregunta3rp }}
                </td>
            </tr>
        </table>
        <br>
        <table width="942px"  cellspacing="0">
            <tr>
                <td width="20px">4.</td>
                <td width="690px">¿Ha presentado problemas articulares u óseos que se empeoren con la actividad fisica?
                    SI
                    {% if historia.pregunta4chk %} 
                        <u>X</u>
                    {% endif %}
                    NO 
                    {% if historia.pregunta4chk == 0 %} 
                        <u>X</u>
                    {% endif %}
                </td>
                <td class="borderBottomTd">
                    {{ historia.pregunta4rp }}
                </td>
            </tr>
        </table>
        <br>
        <table width="942px"  cellspacing="0" >
            <tr>
                <td width="20px">5.</td>
                <td width="610px">¿Usted conoce alguna razón por la que no pudiera realizar actividad fisica?
                    SI
                    {% if historia.pregunta5chk %} 
                        <u>X</u>
                    {% endif %}
                    NO 
                    {% if historia.pregunta5chk == 0 %} 
                        <u>X</u>
                    {% endif %}
                </td>
                <td class="borderBottomTd">
                    {{ historia.pregunta5rp }}
                </td>
            </tr>
        </table>
        <br>
        <table width="942px"  cellspacing="0" >
            <tr>
                <td width="20px">6.</td>
                <td width="400px">Observaciones de las respuestas afirmativas
                    SI
                    {% if historia.pregunta6chk %} 
                        <u>X</u>
                    {% endif %}
                    NO 
                    {% if historia.pregunta6chk == 0 %} 
                        <u>X</u>
                    {% endif %}
                </td>
                <td class="borderBottomTd">
                    {{ historia.pregunta6rp }}
                </td>
            </tr>
        </table>
        {# fin revision por sistemas #}
    </div>
</div>
{# fin pagina 1 #}

{# inicio pagina 2 #}
<div class="page">
    <div style="page-break-inside: avoid; margin-top: 40px;">
        <table  width="100%">

            {% if rootDir is defined %}
            <tr>
                <td width="70%" rowspan="2" >
                    <img src="{{ rootDir ~ '/web' ~ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>


                {% else %}
            <tr  >
                <td width="700px" rowspan="2">
                    <img src="{{ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>

                {% endif %}

            </tr>

        </table>
        <table width="100%">
            <tr>
                <td>
                    <hr></td>
            </tr>
        </table>


        <br><br>
        <table width="942px" >
            <tr>
                <td width="150px"><span class="signos">SIGNOS VITALES</span></td>
                <td width="160px">TENSIÓN ARTERIAL</td>
                <td class="borderBottomTd">{{ historia.tensionArterial }}</td>
                <td width="200px">FRECUENCIA CARDIACA</td>
                <td class="borderBottomTd">{{ historia.frecuenciaCardiaca }}</td>
            </tr>
        </table>
        <br>
        <div class="content">
            <div class="titlebox">
                <table width="943px" style="text-align:left;">
                    <tr>
                        <td rowspan="2">
                            <strong class="title">
                                ANTROPOMETRIA
                            </strong>
                        </td>
                        <td>
                            SE:Subbescapular  T:Tríceps SI:Suprailiaco ABD:Abdomen M:Muslo P: Pierna
                        </td>
                    </tr>
                    <tr>
                        <td>BR: Brazo PEC:Pectoral CINT:Cintura CAD:Cadera M:Muslo superior DER:Derecha IZQ:Izquierda</td>
                    </tr>
                </table>
            </div>

            <table width="943px" >
                <tr>
                    <td width="50px">TALLA:</td>
                    <td class="borderBottomTd">{{ historia.talla }}</td>
                    <td width="80px">PESO KG:</td>
                    <td class="borderBottomTd">{{ historia.pesoKg }}</td>
                    <td width="230px">INDICE DE MASA CORPORAL</td>
                    <td class="borderBottomTd">{{ historia.indiceMasaCorporal }}</td>
                    <td width="200px">PERIMETRO ABDOMINAL</td>
                    <td class="borderBottomTd">{{ historia.perimetroAbdominal }}</td>
                </tr>
            </table>
            <br>
            <table width="943px" >
                <tr>
                    <td width="80px">% GRASO</td>
                    <td width="50px" class="borderBottomTd">{{ historia.grasa }}</td>
                    <td width="110px">% MUSCULAR</td>
                    <td width="50px" class="borderBottomTd">{{ historia.muscular }}</td>
                    <td width="120px">PLIEGUES: SE</td>
                    <td>({{ historia.se }})</td>
                    <td>T</td>
                    <td>({{ historia.t }})</td>
                    <td>SI</td>
                    <td>({{ historia.si }})</td>
                    <td>ABD</td>
                    <td>({{ historia.abd }})</td>
                    <td>M</td>
                    <td>({{ historia.m }})</td>
                    <td>P</td>
                    <td>({{ historia.p }})</td>
                </tr>
            </table>
            <br>
            <table width="943px" >
                <tr>
                    <td>
                        PERIMETROS MUSCULARES:
                        BR.DER( {{ historia.brder }} ) &nbsp;
                        BR.IZQ( {{ historia.brizq }} )&nbsp;
                        PEC( {{ historia.pec }} )&nbsp;
                        CINT( {{ historia.cint }} )&nbsp;
                        CAD( {{ historia.cad }} )&nbsp;
                        MUS DER.( {{ historia.musder }} )&nbsp;
                        MUS IZQ.( {{ historia.musizq }} )&nbsp;
                        PIERNA DER.( {{ historia.piernader }} )&nbsp;
                        PIERNA IZQ.( {{ historia.piernaizq }} )&nbsp;
                    </td>
                    
                </tr>
            </table>
            <br>
        </div>

        {# fin antropometria # }

        {# inicio riesgo cardiovascular #}

        <div class="content">
            <div class="titlebox">
                <strong class="title">
                   RIESGO CARDIOVASCULAR
                </strong>
                <span >
                    &nbsp;&nbsp; AHA: American Heart Association
                </span>
            </div>
        </div>
        <table width="943px" >
            <tr>
                <td width="90px">OBESIDAD</td>
                <td>( {% if historia.obesidad %} X {% endif %} )</td>
                <td width="100px">TABAQUISMO</td>
                <td>( {% if historia.tabaquismo %} X {% endif %} )</td>
                <td width="100px">HIPERTENSION</td>
                <td>( {% if historia.hipertension %} X {% endif %} )</td>
                <td width="230px">PRE DIABETES O DIABETES</td>
                <td>( {% if historia.prediabetes %} X {% endif %} )</td>
                <td width="100px">DISLIPIDEMIA</td>
                <td>( {% if historia.dislipidemia %} X {% endif %} )</td>
            </tr>
        </table>
        <br>
        <table width="943px">
            <tr>
                <td width="240px">ANTECEDENTES FAMILIARES</td>
                <td>
                    ( {% if historia.antecedentesFamiliares %} X {% endif %} )</td>
                <td width="100px">SEDENTARISMO</td>
                <td>( {% if historia.sedentarismo %} X {% endif %} )</td>
                <td width="160px">TOTAL RIEGO AHA</td>
                <td>A1</td>
                <td>( {% if historia.a1 %} X {% endif %} )</td>
                <td>A2</td>
                <td>( {% if historia.a2 %} X {% endif %} )</td>
                <td>A3</td>
                <td>( {% if historia.a3 %} X {% endif %} )</td>
                <td>B</td>
                <td>( {% if historia.b %} X {% endif %} )</td>
                <td>C</td>
                <td>( {% if historia.c %} X {% endif %} )</td>
                <td>D</td>
                <td>( {% if historia.d %} X {% endif %} )</td>
            </tr>
        </table>

        {# fin riesgo cardiovascular #}

        {# inicio riesgo osteomuscular #}
        
        <div class="content">
            <div class="titlebox">
                <strong class="title">
                   RIESGO OSTEOMUSCULAR
                </strong>
            </div>
        </div>
        <table width="972px" >
            <tr>
                <td width="400px">
                    <div class="titlebox">
                        <strong class="title">
                        POSTURA
                        </strong>
                    </div>  
                </td>
                <td>
                    <div class="titlebox">
                        <strong class="title">
                        ANALISIS DE POSTURA
                        </strong>
                    </div>
                </td>
                <td>
                    <div class="titlebox">
                        <strong class="title">
                        ESTABILIDAD NEUROMUSCULAR
                        </strong>
                    </div>
                </td>
            </tr>

        </table>
        <div style="width:972px;">
            <div style="width:400px; margin:5px; float:left;">

                <table width="100%" border="1" style="font-size:1em; " align="left" cellspacing="0">
                            <tr>
                                <td>ESPALDA</td>
                                <td>CADENA CINETICA SUPERIOR</td>
                                <td>CADENA CINETICA INFERIOR</td>
                            </tr>
                            <tr>
                                <td>ANTEPULSION DE CABEZA (  {% if historia.antepulsionCabeza %} X {% endif %} )</td>
                                <td>ANTEROPULSION HOMBROS ( {% if historia.anteropulsionHombros %} X {% endif %} )</td>
                                <td>ANTEVERSIÓN FEMORAL ( {% if historia.anteversionFemoral %} X {% endif %} )</td>
                            </tr>
                            <tr>
                                <td>RECTIFICACION CERVICAL ( {% if historia.rectificacionCervical %} X {% endif %} )</td>
                                <td>HOMBRO ASCENDIDO ( {% if historia.hombroAscendido %} X {% endif %} )</td>
                                <td>GENU VALGO NO FISIOLOGICO &nbsp;( {% if historia.genuValgoNoFisiologico %} X {% endif %} )</td>
                            </tr>
                            <tr>
                                <td>HIPERLORDOSIS CERVICAL ( {% if historia.hiperlordosisCervical %} X {% endif %} )</td>
                                <td>HIPEREXTENSION DE CODO ( {% if historia.hiperextensionCodo %} X {% endif %} )</td>
                                <td>GENU VAGO NO FISIOLOGICO &nbsp;( {% if historia.genuVaroNoFisiologico %} X {% endif %})</td>
                            </tr>
                            <tr>
                                <td>HIPERCIFOSIS ( {% if historia.hipercifosis %} X {% endif %} )</td>
                                <td>AUMENTO DEL VALGO EN CODO ( {% if historia.aumentoValgoCodo %} X {% endif %} )</td>
                                <td>GENU RECURVATUM ( {% if historia.genuRecurvatum %} X {% endif %} )</td>
                            </tr>
                            <tr>
                                <td>RECTIFICACION DORSAL ( {% if historia.rectificacionDorsal %} X {% endif %} )</td>
                                <td></td>
                                <td>ROTACIÓN TIBIAL ( {% if historia.rotacionTibial %} X {% endif %} )</td>
                            </tr>
                            <tr>
                                <td>HIPERLORDOSIS LUMBAR ( {% if historia.hiperlordosisLumbar %} X {% endif %} )</td>
                                <td></td>
                                <td>PIE PLANO ( {% if historia.piePlano %} X {% endif %} )</td>
                            </tr>
                            <tr>
                                <td>RECTIFICACIÓN LUMBAR ( {% if historia.rectificacionLumbar %} X {% endif %} )</td>
                                <td></td>
                                <td>PIE CAVO ( {% if historia.pieCavo %} X {% endif %} )</td>
                            </tr>
                            <tr>
                                <td>ESCOLIOSIS ( {% if historia.escoliosis %} X {% endif %} )</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>OTRO:</td>
                                <td colspan="2">
                                    {{ historia.otro }}
                                </td>
                            </tr>
                        </table>
            </div>
            <div style="width:219px; margin:5px; float:left; ">
                <table width="100%" align="left" style="border: thin solid #000;">
                    <tr>
                        <td class="wraptext"
                    >{{ historia.analisisPostura }}</td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td>
                            <div class="titlebox" style="margin:5px 0px;">
                                <strong class="title" style="font-size:.8em;">
                                    MOVILIDAD Y FLEXIBILIDAD
                                </strong>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="titlebox" style="margin:3px 0px 9px 0px;">
                                <strong class="title" style="font-size:.8em">
                                    SL: Se logra NSL: No se logra  
                                </strong>
                            </div>
                    </tr>
                </table>
                <table width="100%" border="1" style="font-size:.9em;height:185px; text-align:center; " cellspacing="0">
                    <tr>
                        <td rowspan="2" width="100px">SENTADILLA PROFUNDA</td>
                        <td >( SL )</td>
                        <td>( NSL )</td>
                    </tr>
                    <tr>
                        <td height="23px">
                            {% if historia.sentadillaProfunda %} X {% endif %}
                        </td>
                        <td>{% if historia.sentadillaProfunda == 0 %} X {% endif %}</td>
                    </tr>
                    <tr>
                        <td rowspan="2" width="100px">BISAGRA</td>
                        <td>( SL )</td>
                        <td>( NSL )</td>
                    </tr>
                    <tr>
                        <td height="22px">
                            {% if historia.bisagra %} X {% endif %}
                        </td>
                        <td>{% if historia.bisagra == 0 %} X {% endif %}</td>
                    </tr>
                    <tr>
                        <td rowspan="2" width="100px" >CADENA CINETICA SUPERIOR</td>
                        <td >( SL )</td>
                        <td>( NSL )</td>
                    </tr>
                    <tr>
                        <td height="22px">{% if historia.cadenaCineticaSuperior %} X {% endif %}
                        </td>
                        <td>{% if historia.cadenaCineticaSuperior == 0 %} X {% endif %}</td>
                    </tr>
                </table>
            </div>
            <div style="width:300px; margin:5px; float:left; ">
                <table width="100%" class="estabilidad">
                    <tr>
                        <td>ABDOMEN</td>
                        <td width="20px">
                            {% if historia.abdomen == 1 %} 
                                <span class="numberCircle">1</span> 
                            {% else %}
                                    1
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.abdomen == 2 %} 
                                <span class="numberCircle">2</span> 
                            {% else %}
                                    2
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.abdomen == 3 %} 
                                <span class="numberCircle">3</span> 
                            {% else %}
                                    3
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>SENTADILLA</td>
                        <td width="20px">
                            {% if historia.sentadilla == 1 %} 
                                <span class="numberCircle">1</span> 
                            {% else %}
                                    1
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.sentadilla == 2 %} 
                                <span class="numberCircle">2</span> 
                            {% else %}
                                    2
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.sentadilla == 3 %} 
                                <span class="numberCircle">3</span> 
                            {% else %}
                                    1
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>CUADRUP. IZQ</td>
                        <td width="20px">
                            {% if historia.cuadrupizq == 1 %} 
                                <span class="numberCircle">1</span> 
                            {% else %}
                                    1
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.cuadrupizq == 2 %} 
                                <span class="numberCircle">2</span> 
                            {% else %}
                                    2
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.cuadrupizq == 3 %} 
                                <span class="numberCircle">3</span> 
                            {% else %}
                                    3
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>CUADRUP. DER</td>
                        <td width="20px">
                            {% if historia.cuadrupder == 1 %} 
                                <span class="numberCircle">1</span> 
                            {% else %}
                                    1
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.cuadrupder == 2 %} 
                                <span class="numberCircle">2</span> 
                            {% else %}
                                    2
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.cuadrupder == 3 %} 
                                <span class="numberCircle">3</span> 
                            {% else %}
                                    3
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>APOYO UNIPODAL IZQ</td>
                        <td width="20px">
                            {% if historia.apoyoUnipodalIzq == 1 %} 
                                <span class="numberCircle">1</span> 
                            {% else %}
                                    1
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.apoyoUnipodalIzq == 2 %} 
                                <span class="numberCircle">2</span> 
                            {% else %}
                                    2
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.apoyoUnipodalIzq == 3 %} 
                                <span class="numberCircle">3</span> 
                            {% else %}
                                    3
                            {% endif %}
                        </td>
                    </tr>
                    
                    <tr>
                        <td>APOYO UNIPODAL DER</td>
                        <td width="20px">
                            {% if historia.apoyoUnipodalDer == 1 %} 
                                <span class="numberCircle">1</span> 
                            {% else %}
                                    1
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.apoyoUnipodalDer == 2 %} 
                                <span class="numberCircle">3</span> 
                            {% else %}
                                    2
                            {% endif %}
                        </td>
                        <td width="20px">
                            {% if historia.apoyoUnipodalDer == 3 %} 
                                <span class="numberCircle">3</span> 
                            {% else %}
                                    3
                            {% endif %}
                        </td>
                    </tr>
                </table>
                
                <div class="titlebox" style="margin:15px 0px 13px;">
                    <strong class="title" style="font-size:.8em">
                        TOTAL RIESGO OSTEOMUSCULAR
                    </strong>
                </div>
                 <table width="100%" class="estabilidad" style="border: thin solid #000; text-align:center; height:185px">
                     <tr>
                         <td>BAJO ( {% if historia.bajo %} X {% endif %} )</td>
                     </tr>
                     <tr>
                        <td>MEDIO ( {% if historia.medio %} X {% endif %} )</td>
                     </tr>
                     <tr>
                        <td>ALTO ( {% if historia.alto %} X {% endif %} )</td>
                     </tr>
                     <tr>
                        <td>MUY ALTO ( {% if historia.muyalto %} X {% endif %} )</td>
                     </tr>
                 </table>
            </div>

        </div>
        
        <div style="width:943px;">
            
            
        </div>

        {# fin riesgo osteomuscular #}
    </div>
</div>
{# fin pagina 2 #}

{# inicio pagina 3 #}
<div class="page">
    <div style="page-break-inside: avoid; margin-top: 40px;">
        <table  width="100%">

            {% if rootDir is defined %}
            <tr>
                <td width="70%" rowspan="2" >
                    <img src="{{ rootDir ~ '/web' ~ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>


                {% else %}
            <tr  >
                <td width="700px" rowspan="2">
                    <img src="{{ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>

                {% endif %}

            </tr>

        </table>
        <table width="100%">
            <tr>
                <td>
                    <hr></td>
            </tr>
        </table>

        <br><br>
        <table width="972px" >
            <tr>
                <td width="272px"><span class="signos">PRESCRIPCION DE EJERCICIOS</span></td>
                <td width="100px"><span class="signos">FRECUENCIA</span></td>
                <td class="borderBottomTd">{{ historia.prescFrecuencia }}</td>
                <td width="80px"><span class="signos">TIEMPO</span></td>
                <td class="borderBottomTd">{{ historia.prescTiempo }}</td>
            </tr>

        </table>
        <br>
        <br>
        <br>
        <div style="width:972px;">
            <div style="width:342px; float:left;margin-right:10px">
                <table width="100%"  cellspacing="0">
                    <tr>
                        <td>
                            <span class="signos" style="width:100%; display:inline-block;padding:5px 0px;">
                                ENTRENAMIENTO CARDIOVASCULAR
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="wraptext" style="height:360px;border: thin solid #000;">
                            {{ historia.entreeCardiovascular }}
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width:300px; float:left;margin-right:10px;">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>
                            <span class="signos" style="width:100%; display:inline-block;padding:5px 0px;">
                                MOVILIDADA Y FLEXIBILIDAD
                            </span>
                        </td>
                        
                    </tr>
                    <tr>
                    <tr>
                        <td class="wraptext" style="height:360px;border: thin solid #000;">
                            {{ historia.movilidadFlexibilidad }}
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width:300px; float:left;">
                <table width="100%"  cellspacing="0">
                    <tr>
                        <td>
                            <span class="signos" style="width:100%; display:inline-block;padding:5px 0px;">
                                CLASES GRUPALES
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="wraptext" style="height:360px;border: thin solid #000;">
                            {{ historia.calsesGrupales }}
                        </td>
                    </tr>
                </table>
            </div>
            
            <div style="width:342px; float:left;margin-right:10px; margin-top:30px;">
                <table width="100%"  cellspacing="0">
                    <tr>
                        <td>
                            <span class="signos" style="width:100%; display:inline-block;padding:5px 0px;">
                                ENTRENAMIENTO MUSCULAR
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="wraptext" style="height:360px;border: thin solid #000;">
                            {{ historia.entreMuscular }}
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width:610px; float:left; margin-top:30px;">
                <table width="100%"  cellspacing="0">
                    <tr>
                        <td>
                            <span class="signos" style="width:100%; display:inline-block;padding:5px 0px;">
                                CONCLUSIONES
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="wraptext" style="height:360px;border: thin solid #000;">
                            {{ historia.conclusiones }}
                        </td>
                    </tr>
                </table>
            </div>


            <div style="clear: both;"></div>
        </div>
        <div>
            <div class="content">
            <div class="titlebox">
                <strong class="title">
                   REMISION A SERVICIOS COMPLEMENTARIOS
                </strong>
            </div>
        </div>

        <table width="973px">
            <tr>
                <td>MÉDICO ( {% if historia.medico %} X {% endif %} )</td>
                <td>&nbsp;</td>
                <td>FISIOTERAPEUTA ( {% if historia.fisioterapeuta %} X {% endif %} )</td>
                <td>&nbsp;</td>
                <td>NUTRICIÓN ( {% if historia.nutricion %} X {% endif %} )</td>
                <td>&nbsp;</td>
                <td>ENTRENAMIENTO PERSONALIZADO ( {% if historia.entrePersonalizado %} X {% endif %} )</td>
                <td>&nbsp;</td>
                <td>ESTETICISTA ( {% if historia.esteticista %} X {% endif %} )</td>
            </tr>
        </table>
        <table width="800px">
            <tr>
                <td>MASAJE DEPORTIVO ( {% if historia.masajeDeportivo %} X {% endif %} )</td>
                <td>&nbsp;</td>
                <td>ACONDICIONAMIENTO FUNCIONAL ( {% if historia.acondiFuncional %} X {% endif %} )</td>
                <td>&nbsp;</td>
                <td>REHABILITACIÓN FUNCIONAL ( {% if historia.rehabFuncional %} X {% endif %} )</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br>
        <table width="100%" >
                <tr>
                    <td width="280px">FIRMA Y SELLO DEL PROFESIONAL</td>
                    <td class="borderBottomTd"></td>
                    <td width="170px">FECHA DE CONTROL</td>
                    <td width="170px" class="borderBottomTd">
                        {{ historia.fechaControl|date('d/m/Y')}}
                    </td>
                </tr>
            </table>
        </div>


        <div style="width:973px; float:left;margin:220px 0px 0px 0px;">
            
        </div>
		
		<div style="clear:both;"></div>

    </div>
</div>
{# fin pagina 3 #}
{# inicio pagina4 notas de evolucion #}
{% if notas is defined %}

<div class="page">
	<div style="page-break-inside: avoid; margin-top: 40px;">
		<div class="content">
            <div class="titlebox">
				<span class="title">
					NOTAS DE EVOLUCION
				</span>
			</div>
		</div>
	</div>
	{% for nota in notas %}
	<table width="973px">
		<tr>
			<td width="70px">Fecha:</td>
			<td>{{ nota.fecha|date('d/m/Y') }}</td>
		</tr>
		<tr>
			<td colspan="2" class="justify-text">
				{{ nota.notas }}
			</td>
		</tr>
	</table>
	<hr>
	{% endfor %}
</div>
{% endif %}

{# fin pagina 4 #}
</body>
</html>