<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            font-family: Arial;
            font-size: 1.7em;
        }

        .estados tr td:first-child + td {
            border-bottom: thin solid #000;
            margin-bottom: 5px;
            padding-top: 10px;
        }


        input[type='checkbox'] {
            border: thin solid #212121;
            outline: 0px solid #000;
        }
        
        .content{

        }
        
        .center-text{
            text-align: center;
        }
        
        .justify-text{
            text-align: justify;
        }

        .wrap{
            word-wrap: break-word;
        }

        .text-underline{

            color: #FFF;
        }
        .box-data{
            border: thin solid #000;border-radius: 20px;padding: 20px;
        }


        .page {
            page-break-before: always;
            /*
            overflow:  hidden;
            background: silver;
            page-break-after: always;
            page-break-inside: avoid;*/

        }

        .udl{
            border: 0;
            border-bottom: 1px solid #000;
            clear: both;
            display: block;
            height: 0;
            margin: 0 auto 40px auto;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="page">
    <div style="page-break-inside: avoid; margin-top: 40px;">
        <table  width="100%">

            {% if rootDir is defined %}
            <tr>
                <td width="70%" rowspan="2" >
                    <img src="{{ rootDir ~ '/web' ~ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>


                {% else %}
            <tr  >
                <td width="700px" rowspan="2">
                    <img src="{{ asset('img/nlogo.png') }}" width="300px" alt="">
                </td>

                {% endif %}

            </tr>
            <tr>
                <td>Fecha</td>
                <td>{{ fecha|date('Y/m/d') }}</td>
            </tr>

        </table>
        <table width="100%">
            <tr>
                <td>
                    <hr></td>
            </tr>
        </table>


        <div class="content">
            <div class="center-text">
                <h3>CONSENTIMIENTO INFORMADO PARA EJECUCION DE PROCEDIMIENTOS</h3>
            </div>
        </div>
        <br><br>
        <div class="content wrap justify-text">
            <p style="padding-bottom: 0;margin-bottom: 0;">
                Yo <u>{{ paciente.nombre }} {{ paciente.apellidos }}</u>, con CC <u>{{ paciente.documento }}</u> de <u>{{ paciente.municipio }}</u> , solicito al Centro
                Integral
                de Estética y Cuidado Postquirúrgico Casa Mayorga,  que se realice en mi persona el procedimiento
                de <u>

                {% for procedimiento in procedimientos %}
                    {{ procedimiento.nombre }}, &nbsp;
                {% endfor %}</u>


            </p>

        </div>

        <div class="content justify-text">
            <p>
                Declaro que se me ha explicado en términos generales y comprendo que la naturaleza del procedimiento es de tipo
                {{ procedimientos[0].tipoTratamiento }}
                {#{% for procedimiento in procedimientos %}
                    <u>{{ procedimiento.tipoTratamiento.nombre }},</u> y su propósito es <u>{{ procedimiento.tratamiento.descripcion }}</u>
                {% endfor %}#}
            </p>
        </div>


        <div class="content justify-text">
            <h4>RIESGO GENERAL</h4>
            <p>

                el riesgo general es bajo, sin embargo, al ser mínimamente invasivo, aplicarse medicamentos podrían presentarse
                reacciones inflamatorias leves, dolor moderado.Se recomienda los cuidados sugeridos para
                no presentar complicaciones. Todos estos riesgos se manejan según los protocolos médicos aplicables para cada
                caso y el uso de protocolos y guías para la seguridad del paciente.

            </p>
        </div>

        <div class="content justify-text">
            <h4>ANESTESIA</h4>
            <p>
                En caso de ser necesario se manejará anestesia de carácter tópica y local de acuerdo a el procedimiento y al   umbral del dolor de cada paciente

            </p>
            <table width="130px" >
                <tr>
                    <td width="20px">SI</td>
                    <td style="border-bottom:1px solid #000;"></td>
                    <td width="20px">NO</td>
                    <td style="border-bottom:1px solid #000;"></td>
                </tr>
            </table>
        </div>
        <div class="content">
            <h4>PROPABIBILIDAD DE ÉXITO</h4>
            <p>
                Buena (  )	&nbsp;Media (  )	&nbsp;Mala (   )
            </p>

        </div>

        <div class="content">
            <h3>PRONOSTICO</h3>
            <p class="justify-text">
                Si decido efectuar el procedimiento, mi pronóstico del tratamiento es lograr el objetivo deseado, teniendo presente que un 50% corresponde a mi esfuerzo y dedicación y el otro 50% corresponde al <u>Centro Integral de Estética y Cuidado Postquirúrgico Casa Mayorga</u>

            </p>
        </div>


    </div>
</div>
<div class="page">

<div class="content justifi-text">
    <h3>CONSENTIMIENTO INFORMADO</h3>
    <p>Comprendo y acepto que durante el procedimiento pueden aparecer circunstancias imprevisibles o inesperadas que pueden requerir la realización de otros procedimientos o tratamientos.</p>
    <p>Al firmar este formulario reconozco que me ha sido explicado y que comprendo totalmente su contenido.</p>
    <p>Se me ha dado oportunidad de formular preguntas y me han sido respondidas en forma satisfactoria.</p>
    <p>Comprendiendo todo lo anterior, solicito al Centro Integral de Estética y Cuidado Postquirúrgico Casa Mayorga que realice el procedimiento.</p>




</div>




    <div class="content">
        <div class="box-data">
            <table width="100%">
                <tr>
                    <th colspan="2" width="45%">
                        Paciente
                    </th>
                    <th></th>
                    <th colspan="2" width="45%">
                        Casamayorga
                    </th>
                </tr>
                <tr>
                    {# nombre paciente #}
                    <td style="width: 100px"><strong>Nombre:</strong></td>
                    <td style="border-bottom: thin solid #000">{{ paciente.nombre }} {{ paciente.apellidos }}</td>
                    <td></td>
                    {# nombre casamayorga #}
                    <td style="width: 100px;" ><strong>Nombre:</strong></td>
                    <td style="border-bottom: thin solid #000; width: 300px;" >

                    </td>
                </tr>
                <tr>
                    {# forma paciente #}
                    <td><strong>Firma:</strong></td>
                    <td style="border-bottom: thin solid #000"></td>
                    <td></td>
                    {# firma casamayorga #}
                    <td><strong>Firma:</strong></td>
                    <td style="border-bottom: thin solid #000"></td>
                </tr>
                <tr>
                    {# cedula paciente #}
                    <td><strong>Cedula:</strong></td>
                    <td style="border-bottom: thin solid #000">{{ paciente.documento }}</td>
                    <td></td>
                    {# cedula casamayorga #}
                    <td><strong>Cedula:</strong></td>
                    <td style="border-bottom: thin solid #000">

                    </td>
                </tr>
                <tr>
                    {# paciente fecha #}
                    <td><strong>Fecha:</strong></td>
                    <td style="border-bottom: thin solid #000"></td>
                    <td></td>
                    {# casamayorga fecha #}
                    <td><strong>Fecha:</strong></td>
                    <td style="border-bottom: thin solid #000">

                    </td>
                </tr>

            </table>
        </div>
    </div>


</div>
</body>
</html>