{# creado por Duviel Garcia #}




{% extends 'app/backend.html.twig' %}

{# header block #}
{% block header_template %}
    {{ parent() }}
{% endblock %}
{# /header block #}

{# override header block values #}
{% block page_title %}
    {% if servicio is not defined %}
        Nueva Solicitud
    {% else %}
        Editar Solicitud
    {% endif %}
{% endblock %}
{% block searchbar %}{% endblock %}
{# /override header block values #}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 18px;">Datos de la Solicitud </h2>

                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    {{ form_start(form) }}

                    <div class="col-md-12">

                        <div class="form group col-md-4">
                            {{ form_label(form.servicio, 'Servicio') }}
                            {{ form_widget(form.servicio, { 'attr':{ 'class': 'form-control', 'tabindex':'1' } }) }}
                            {{ form_errors(form.servicio) }}
                        </div>

                        <div class="form group col-md-4">
                            {{ form_label(form.cantidad, 'Cantidad:') }}
                            {{ form_widget(form.cantidad, { 'attr':{ 'class': 'form-control', 'tabindex':'2' } }) }}
                            {{ form_errors(form.cantidad) }}
                        </div>
                        <div class="form group col-md-4">
                            <label for="">Solicitante</label>
                            <input type="text" class="form-control" readonly value="{{ app.user.username }}">
                        </div>

                    </div>

                    <div class="col-md-12">
                        <br>
                        {{ form_widget(form.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar'}) }}
                        <a href="{{ path('listar_solicitudes') }}" class="btn btn-danger">Cancelar</a>


                    </div>

                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>




    <script type="text/javascript">

    </script>
<script>
    /*date time picker*/
    $(function () {
        var datetimepicker
        $('#datetimepicker1').datetimepicker({
            locale:'es'

        });
    });


    var $departamento = $('#appbundle_cliente_departamento');


    $departamento.change(function(){
        var $form = $(this).closest('form');

        var data = {};
        data[$departamento.attr('name')] = $departamento.val();
        $('#appbundle_cliente_municipio').attr('disabled','disabled');
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function(html){
                $('#appbundle_cliente_municipio').removeAttr('disabled');
                $('#appbundle_cliente_municipio').replaceWith(
                    $(html).find('#appbundle_cliente_municipio')
                );
            }

        });
    });
</script>

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}

{% endblock %}