{# creado por Duviel Garcia #}
{% extends 'app/backend.html.twig' %}



{# header block #}
{% block header_template %}
    {{ parent() }}
{% endblock %}
{# /header block #}

{# override header block values #}

{% block page_title %}
    {% if solicitudes is empty %}
        Administrar Solicitudes
    {% else %}
        {% if not is_granted('ROLE_ADMIN') %}
            Servicios Disponibles
        {% else %}
            Listado de Solicitudes de Servicios
        {% endif %}
    {% endif %}

{% endblock %}
{% block searchbar %}
    <div style="text-align: right; width: 100%; " >
        {% if is_granted('ROLE_CAFE') %}
            <span class="textc">Actualizando lista en:</span>
        <span id="countdown">

        </span>
        {% else %}
            <a href="{{ path('crear_solicitudes') }}" class="btn btn-primary">Nueva Solicitud Servicio</a></div>
        {% endif %}

{% endblock %}
{# /override header block values #}

{% block page_content %}

    <div class="row">
        <di class="col-md-12 col-xs-12 col-lg-12 col-sm-12">

        </di>
    </div>
    {# listado de servicios para los usuarios poder realizar su solicitud #}
    {######################################################################}
    {% if not is_granted('ROLE_CAFE') %}
        <div class="row" style="margin-top:50px">
        {% for servicio in servicios %}
            <div class="col-md-3 col-xs-6 col-lg-3 col-sm-3" style="text-align: center">
                <img src="{{ asset('uploads/servicios/') ~ servicio.imagen }}" class="imgmodal"
                     width="120px" alt="" data-toggle="modal" data-target="#generate-service" data-value="{{ servicio.id }}">
                <br>
                <label for="">{{ servicio.nombre }}</label>
            </div>

        {% endfor %}
        </div>
    {######################################################################}

    {# listado de servicios para los usuarios poder realizar su solicitud #}
        {# modal para solicitar un nuevo servicio #}
        <div class="modal fade" id="generate-service" tabindex="-1" role="dialog" aria-labelledby="myService" aria-hidden="true">
            <div class="modal-dialog">
                {{ form_start(form, {'attr': {'id':'form_generate_solicitud'}}) }}
                <div class="modal-content ">

                    <div class="modal-header modal-header-success ">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Generar Solicitud</h4>
                    </div>

                    <div class="modal-body">
                        <p class="content_delete"></p>
                        <p>


                        <div class="col-md-6">
                            {{ form_label(form.servicio,'Seleccione el servicio') }}
                            {{ form_widget(form.servicio, { 'attr': {'class':'form-control'}}) }}
                            {{ form_errors(form.servicio) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.cantidad) }}
                            {{ form_widget(form.cantidad, { 'attr': {'class':'form-control'}}) }}
                            {{ form_errors(form.cantidad) }}
                        </div>

                        <br>
                        <br>
                        <br>

                        </p>
                        <p class="debug-url"></p>
                    </div>

                    <div class="modal-footer">
                        {{ form_widget(form.guardar, {'label':'Guardar'}) }}
                        {{ form_widget(form.reset, {'label':'Limpiar', 'attr':{'style':'display:none'}}) }}
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        {#<a class="btn btn-danger btn-ok" id="deleteRecord">Enviar</a>#}

                    </div>

                </div>
                {{ form_end(form) }}
            </div>
        </div>


    {% elseif is_granted("ROLE_CAFE") %}
    {# end listado de servicios para los usuarios poder realizar su solicitud #}


    {% if solicitudes is empty %}
        <div class="row">
            <div class="col-md-12">
                <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                        <h1> <i class="fa fa-warning"></i> No hay solicitudes que atender  </h1>
                        <p>Deberias crear una!</p>
                        <a href="{{ path('crear_solicitudes') }}" class="btn btn-primary">Generar una solicitud</a>

                    </div>
                </div>
            </div>
        </div>

    {% else %}
        {#para los roles del usuario
        {% for key, value in app.user.getRoles %}
            <span>{{ value}}</span><br>
        {% endfor %}#}



        {% if is_granted('ROLE_CAFE') %}
            <audio id="audio" controls style="display: none;">
                <source type="audio/wav" src="{{ asset('sound/audio.wav') }}">
            </audio>
            <script>
                $(document).ready(function(){
                    var serviciosd = {{ solicitudes|length }};
                    if(serviciosd > 0)
                    {
                        //ejecutar la notificacion
                        var audio = document.getElementById("audio");

                        audio.play();
                    }

                });

            </script>


        <table id="datatable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Solicita</th>
            <th>Estado</th>
            <th width="170">Acciones</th>
        </tr>
        </thead>


        <tbody>
        {% for servicio in solicitudes %}

            <tr>
                <td>{{ servicio.id}}</td>
                <td>{{ servicio.servicio.nombre}}</td>
                <td>{{ servicio.cantidad }}</td>
                <td>{{ servicio.usuario.nombre }} {{ servicio.usuario.apellidos }}</td>
                <td>
                    {% if servicio.enabled == 1 %}
                        <span class="label label-warning ">Pendiente</span>
                    {% else %}
                        <span class="label label-success ">Atendido</span>
                    {% endif %}
                </td>
                <td>
                    {#<a href="{{ url('editar_solicitud',{'id': servicio.id}) }}" class="btn btn-success btn-xs">
                        <i class="glyphicon glyphicon-pencil"></i> Editar
                    </a>#}
                    {% if servicio.enabled == 1 %}
                        <button href="" class="btn-success btn-xs"
                                onclick="eliminarRecord({{ servicio.id }})" data-href="#"
                                data-toggle="modal" data-target="#confirm-delete" >
                            <i class="glyphicon glyphicon-ok"></i> Atender</button>
                    {% else %}
                        <span class="label label-default">Finalizado</span>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
        {% endif %}
    {% endif %}

    <style>
        .modal-header-danger
        {
            background: #de4c36;
            color: #FFF;
        }
        .modal-header-info
        {
            background: #5bc0de;
            color: #FFF;
        }
        #countdown{

            text-align: center;
            display: inline-block;
            height: 40px;
            padding: 5px 10px;
            width: 40px !important;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            background: #FFF;
            font-size: 1.6em;

            transition: all ease 3s;
        }

        .textc{
            display: inline-block;
            width: auto;!important;
            font-size: 1.7em;
        }
    </style>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">

                <div class="modal-header modal-header-info info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Atender Solciitud?</h4>
                </div>

                <div class="modal-body">
                    <p class="content_delete"></p>
                    <p>Estas seguro de proceder?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-info btn-ok" id="deleteRecord">Atender Solicitud</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {# override values flashbag block #}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    {# /override values flashbag block #}


    <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('js/datatablecs.js') }}"></script>
    <script>

        jQuery.fn.countDown = function(settings,to) {
            settings = jQuery.extend({
                startFontSize: "36px",
                endFontSize: "12px",
                duration: 1000,
                startNumber: 59,
                endNumber: 0,
                callBack: function() { }
            }, settings);
            return this.each(function() {

                //¿Dónde empezamos?
                if(!to && to != settings.endNumber) { to = settings.startNumber; }

                //Establecemos la cuenta atrás con el numero inicial
                jQuery(this).text(to).css("fontSize",settings.startFontSize);

                //lo recorremos
                jQuery(this).animate({
                    fontSize: settings.endFontSize
                }, settings.duration, "", function() {
                    if(to > settings.endNumber + 1) {
                        jQuery(this).css("fontSize", settings.startFontSize).text(to - 1).countDown(settings, to - 1);
                    }
                    else {
                        settings.callBack(this);
                    }
                });

            });
        };

        jQuery("#countdown").countDown({
            startNumber: 59,
            callBack: function(me) {
                //refrescar la pagina
                //jQuery(me).text("¡Completado! Ya puedes recoger tu recompensa").css("color", "#090");
                location.reload();
            }
        });
        //para el servicio
        $(function () {
           $('.imgmodal').click(function(e){
              $("#appbundle_solicitudservicio_servicio").val($(this).data('value'));

           });
        });

        var idSolicitud = '';

        //scritps to delete record of table
        function eliminarRecord(id){

            $('.content_delete').html('Seguro que desea dar por atendida la solicitud ');
            $('.delete_item').html(id);
            idSolicitud = id;
        }

        $("#deleteRecord").click(function(){
            var url = "{{ url('eliminar_solicitud',{'id': 'idSolicitud'}) }}";
            url = url.replace('idSolicitud', idSolicitud);
            $(window.location).attr('href', url);

        });


    </script>


{% endblock %}


